<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  [ngClass]="{
    h1: content.headingTypeId === hType.H1,
    h2: content.headingTypeId === hType.H2,
    h3: content.headingTypeId === hType.H3
  }"
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <app-drag-drop-handler-container [isShow]="isMouseOver"
    ><ng-content *ngIf="!isReadOnlyMode && !isStartSelecting"></ng-content
  ></app-drag-drop-handler-container>
  <div class="text-content">
    <p
      #contentHtml
      class="block-generic default-text-id"
      [attr.contenteditable]="!isReadOnlyMode"
      [innerHTML]="viewHtml"
      (input)="onInput()"
    ></p>
    <p class="no-content" *ngIf="isActiveState">{{'innerNote.heading' | translate}}</p>
  </div>
</div>
