<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  [ngClass]="{
    h1: content.headingTypeId === hType.H1,
    h2: content.headingTypeId === hType.H2,
    h3: content.headingTypeId === hType.H3,
    bold: content.isBold,
    italic: content.isItalic
  }"
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <app-drag-drop-handler-container [isShow]="isMouseOver"
    ><ng-content></ng-content
  ></app-drag-drop-handler-container>
  <p
    #contentHtml
    class="block-generic"
    [attr.contenteditable]="!isReadOnlyMode"
    (input)="onInput($event)"
    [textContent]="content?.content"
  ></p>
  <p class="no-content" *ngIf="isActive">Heading</p>
</div>
