@import 'variables';

.h1 {
  font-size: 2rem;
  line-height: 2.2rem;
}

.h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.h3 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.no-content {
  width: 100%;
  position: absolute;
  color: #6b6b6b;
  font-weight: 300;
  margin-left: $full-note-margin-left-no-content;
}
