<div class="profile-section" [ngClass]="[(theme$ | async) === theme.Light ? 'light' : '']">
    <div class="profile" routerLink="/profile" #profile>
        <div class="profile-data">
            <div class="photo">
                <img alt="photo" [src]="(user$ | async).photoId">
            </div>
            <p>{{(user$ | async).name}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="profile"></div>
    </div>
    <app-button-notification [isProfile]="true"></app-button-notification>
</div>