@import "variables";

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    height: 100%;
    border-right: 1px solid $light-separator;
    padding-right: 1rem;
    padding-left: 1.25rem;

    .profile {
      position: relative;
      display: flex;
      height: 30px;
      font-weight: 500;
      border-radius: 5px;
      transition: 0.2s ease;
      user-select: none;
      overflow: hidden;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: $dark-button;
      }

      .profile-data {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 0.375rem;
        max-width: 200px;

        .photo {
          width: 28px;
          height: 28px;
          overflow: hidden;
          border-radius: 50%;
          border: 1px solid #ffffff;
          margin-right: 0.9375rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          width: calc(100% - 43px);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

  }
  .light{
      .profile {
        color: $light-text-color;
  
        &:hover {
          background-color: $light-nav-backlight;
        }
      }
  }
  
  @media (min-width: 1024px) and (max-width: 1440px) {
      .profile-section {
        .profile {
          z-index: 50;
        }
      }
  }
  
  
  @media (max-width: 1024px) {
      .profile-section {
        display: none;
      }
  }
  
