<app-dialog-generic-header
  [message]="'modal.relatedNotesPopup.relatedNotes' | translate"
  (clickEvent)="dialogRef.close()"
></app-dialog-generic-header>
<div appTheme class="related-notes-scroll-wrapper">
  <ng-scrollbar class="related-notes-container" visibility="hover" appearance="compact">
    <ng-container *ngIf="load">
      <div class="related-note-container" *ngFor="let item of notes">
        <app-related-note
          [note]="item"
          [isCanEdit]="data.canEdit"
          (deleteNote)="deleteRelatedNote($event, data.noteId)"
          (changeState)="changeState($event)"
        ></app-related-note>
      </div>
      <app-empty-search-placeholder
        *ngIf="!_notes || _notes.length === 0"
      ></app-empty-search-placeholder>
    </ng-container>
  </ng-scrollbar>
</div>
<div class="bottom-container">
  <div class="main-button-container">
    <app-generic-bottom-button-pop-up
      *ngIf="data.canEdit"
      [title]="'modal.relatedNotesPopup.new' | translate"
      (clickEvent)="openAddRelatedNotesPopup()"
    ></app-generic-bottom-button-pop-up>
  </div>
  <app-generic-bottom-button-pop-up
    [title]="'modal.close' | translate"
    (clickEvent)="dialogRef.close()"
  ></app-generic-bottom-button-pop-up>
</div>
