<div appTheme>
  <div class="content-access">
    <div class="link-access-field">
      <input readonly type="text" [value]="link" id="linkInput" />
      <div class="dropdown-wrapper" *ngIf="dropdownActive">
        <app-select
          class="dropdown-button"
          [initialValue]="refTypeSelectedValue"
          [options]="options"
          (selectValueChange)="changeRefType($event)"
        >
        </app-select>
      </div>
      <div class="copy" #copy (click)="copyInputLink()">
        <div class="ripple-container" matRipple [matRippleTrigger]="copy"></div>
        <div class="icon">
          <mat-icon svgIcon="copy"></mat-icon>
        </div>
      </div>
    </div>
    <div class="toggle-field">
      <app-button-toggle
        class="toggle"
        [value]="!isPrivateButtonActive"
        [style]="'classic'"
        (valueChange)="changeEntityTypeEvent.emit()"
      >
        <app-toggle-text
          on
          [color]="currentTheme === themes.Dark && isPrivateButtonActive ? '#202020' : ''"
        >
          {{ 'modal.shareModal.personal' | translate }}</app-toggle-text
        >
        <app-toggle-text
          off
          [color]="currentTheme === themes.Dark && !isPrivateButtonActive ? '#202020' : ''"
        >
          {{ 'modal.shareModal.shared' | translate }}</app-toggle-text
        >
      </app-button-toggle>
      <div class="toggle-description">
        <p>{{ toggleDescription }}</p>
      </div>
    </div>
  </div>
</div>
