svg
    width: 100%
    height: 100%

div
    display: flex

.default-label //Полностью весь лейбл с выпадающим список
    flex-direction: column
    width: 370px
    align-items: center
    .label-field
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 370px
        height: 40px
        background-color: #DDFFCD
        border-radius: 5px
        z-index: 5
        &:hover
            box-shadow: 0px 2px 2px #00000030
        .text-label
            font-family: 'Roboto',sans-serif
            font-weight: 400
            font-size: 20px
            margin-left: 15px
            color: #5C5C5C
            height: 25px
            background: #DDFFCD
            outline: none
            border: none
            &:hover
                border-bottom: 1px dashed  #c5c5c5
        .options-label
            align-items: center
            user-select: none
            .buttons
                height: 40px
                width: 40px
                justify-content: center
                align-items: center
                cursor: pointer
                .button-show
                    width: 17px
                    height: 10px
                    transition: all 0.25s linear
                .button-delete
                    height: 10px
                    width: 10px
                    transition: all 0.25s linear
            .note-info-line
                height: 20px
                border-width: 0 1px 0 0
                border-style: solid
                color: #C6C6C6
                cursor: default
    .hidden-colors
        display: flex
        width: 370px
        height: 70px
        flex-wrap: wrap
        justify-content: center
        .hidden-color-element
            width: 50px
            height: 25px
            margin-top: 10px
            border-radius: 5px
            box-shadow: 0px 2px 2px #00000035
            cursor: pointer
            &:hover
                box-shadow: 0px 4px 2px #00000050
        .margin-colors
            margin-right: 30px


@media (min-width: 768px) and  (max-width: 1199px) //laptop
    .default-label
        width: 300px
        .label-field
            width: 300px
            .text-label
                font-size: 18px
                height: 22px
                margin-left: 13px
            .options-label
                .note-info-line
                    border-width: 0 0.7px 0 0
        .hidden-colors
            width: 300px
            height: 70px
            .hidden-color-element
                width: 45px
                height: 24px
                margin-top: 7px
            .margin-colors
                margin-right: 18px

@media (min-width: 480px) and (max-width: 767px) //large phone
    .default-label
        .label-field
            .text-label
                font-size: 18px
                height: 22px
                margin-left: 13px

@media (min-width: 320px) and (max-width: 479px) //phone
    .default-label
        width: 290px
        .label-field
            width: 290px
            .text-label
                font-size: 15px
                height: 20px
                margin-left: 10px
        .hidden-colors
            width: 290px
            height: 64px
            .hidden-color-element
                width: 44px
                height: 22px
                margin-top: 7px
            .margin-colors
                margin-right: 15px

@media (min-width: 150px) and (max-width: 319px) //min width
    .default-label
        width: 240px
        .label-field
            width: 240px
            .text-label
                font-size: 15px
                height: 20px
                margin-left: 10px
                max-width: 140px
        .hidden-colors
            width: 240px
            height: 64px
            .hidden-color-element
                width: 36px
                height: 22px
                margin-top: 7px
            .margin-colors
                margin-right: 15px