<div appTheme class="personalization-container" [ngStyle]="{opacity: isStandard ? '0.5' : '1'}">
  <div class="field">
    <div class="general-row inner-box-list slider-row general-column">
      <div class="field-name field-name-full">
        <p>{{ 'profile.contentInNoteCount' | translate }}</p>
      </div>
      <div class="field-content">
        <div class="slider-text">
          {{ ('profile.countCurrent' | translate) + (pSettings$ | async).contentInNoteCount }}
        </div>
        <mat-slider
          class="slider-profile"
          min="1"
          max="20"
          thumbLabel
          [disabled]="isStandard"
          [ngModel]="(pSettings$ | async).contentInNoteCount"
          (ngModelChange)="changePersonalizationSettings($event, pSettings.contentInNoteCount)"
        ></mat-slider>
      </div>
    </div>
    <div class="help-info help-info-no-margin">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
  <div class="field">
    <div class="general-row inner-box-list slider-row general-column">
      <div class="field-name field-name-full">
        <p>{{ 'profile.notesInFolderCount' | translate }}</p>
      </div>
      <div class="field-content">
        <div class="slider-text">
          {{ ('profile.countCurrent' | translate) + (pSettings$ | async).notesInFolderCount }}
        </div>
        <mat-slider
          class="slider-profile"
          min="1"
          max="20"
          thumbLabel
          [disabled]="isStandard"
          [ngModel]="(pSettings$ | async).notesInFolderCount"
          (ngModelChange)="changePersonalizationSettings($event, pSettings.notesInFolderCount)"
        ></mat-slider>
      </div>
    </div>
    <div class="help-info help-info-no-margin">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
  <div class="field">
    <div class="general-row inner-box-list">
      <div class="field-name field-name-full">
        <p>{{ 'profile.isViewAudioOnNote' | translate }}</p>
      </div>
      <mat-checkbox
        [disabled]="isStandard"
        [ngModel]="(pSettings$ | async).isViewAudioOnNote"
        (ngModelChange)="changePersonalizationSettings($event, pSettings.isViewAudioOnNote)"
      ></mat-checkbox>
    </div>
    <div class="help-info">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
  <div class="field">
    <div class="general-row inner-box-list">
      <div class="field-name field-name-full">
        <p>{{ 'profile.isViewDocumentOnNote' | translate }}</p>
      </div>
      <mat-checkbox
        [disabled]="isStandard"
        [ngModel]="(pSettings$ | async).isViewDocumentOnNote"
        (ngModelChange)="changePersonalizationSettings($event, pSettings.isViewDocumentOnNote)"
      ></mat-checkbox>
    </div>
    <div class="help-info">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
  <div class="field">
    <div class="general-row inner-box-list">
      <div class="field-name field-name-full">
        <p>{{ 'profile.isViewPhotosOnNote' | translate }}</p>
      </div>
      <mat-checkbox
        [disabled]="isStandard"
        [ngModel]="(pSettings$ | async).isViewPhotosOnNote"
        (ngModelChange)="changePersonalizationSettings($event, pSettings.isViewPhotosOnNote)"
      ></mat-checkbox>
    </div>
    <div class="help-info">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
  <div class="field">
    <div class="general-row inner-box-list">
      <div class="field-name field-name-full">
        <p>{{ 'profile.isViewTextOnNote' | translate }}</p>
      </div>
      <mat-checkbox
        [disabled]="isStandard"
        [ngModel]="(pSettings$ | async).isViewTextOnNote"
        (ngModelChange)="changePersonalizationSettings($event, pSettings.isViewTextOnNote)"
      ></mat-checkbox>
    </div>
    <div class="help-info">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
  <div class="field">
    <div class="general-row inner-box-list">
      <div class="field-name field-name-full">
        <p>{{ 'profile.isViewVideoOnNote' | translate }}</p>
      </div>
      <mat-checkbox
        [disabled]="isStandard"
        [ngModel]="(pSettings$ | async).isViewVideoOnNote"
        (ngModelChange)="changePersonalizationSettings($event, pSettings.isViewVideoOnNote)"
      ></mat-checkbox>
    </div>
    <div class="help-info">
      <p>
        {{ 'profile.genericTooltip' | translate }}<span>
          {{ 'profile.genericPreview' | translate }}</span
        >
      </p>
    </div>
  </div>
</div>
