@import 'variables';

.personalization-container {
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    .general-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 370px;

      .field-name {
        font-weight: 500;
        width: 100px;
      }

      .field-name-full {
        font-weight: 500;
        width: auto;
      }

      .toggle {
        width: 250px;
        height: 32px;
      }
    }

    .general-column {
      flex-direction: column;
      align-items: flex-start;

      .field-content {
        display: flex;
        align-items: center;
        width: 100%;

        .slider-profile {
          flex: 1;
        }

        .slider-text {
          font-size: 0.875rem;
        }
      }
    }

    .help-info {
      display: flex;
      width: 100%;
      margin-top: 0.5rem;
      font-size: 0.75rem;
      span {
        color: #00a1d9;
        cursor: pointer;
      }
    }

    .help-info-no-margin {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.light {
  .help-info {
    color: $text-color;
  }

  .field-name {
    color: $text-color;
  }

  .slider-text {
    color: $text-color;
  }
}

@media (max-width: 500px) {
  .personalization-container {
    .field {
      .general-row {
        width: 100%;

        .field-name {
          width: 70px;
        }
      }
      .general-column {
        .field-name {
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .personalization-container {
    .field {
      .general-row {
        width: 100%;
        .field-name {
          width: 65px;
        }
      }
      .general-column {
        .field-name {
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .personalization-container {
    .field {
      .general-row {
        flex-direction: column;
        align-items: flex-start;

        .field-name {
          margin-bottom: 0.5rem;
          width: 100%;
        }

        .toggle {
          width: 100%;
        }
      }
    }
  }
}
