<div class="container" (mouseenter)="mouseEnterHandler($event)" (mouseleave)="mouseLeaveHandler($event)">
    <div class="content-photos">
        <div *ngFor="let block of mainBlocks;let i = index" class="blocks main">
            <div class="block" [ngClass]="getStyle(countItemsInMainBlock)">
                <img *ngFor="let item of block" [src]="item.url">
            </div>
        </div>
        <div class="blocks">
            <div class="block" [ngClass]="getStyle(countLastItems)">
                <img *ngFor="let item of lastBlock" [src]="item.url">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="menu" [style.visibility]="activeMenu? 'visible': 'hidden'" cdkOverlayOrigin
            #trigger="cdkOverlayOrigin" (click)="openMenu($event)">
        </div>
    </div>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpened"
        [cdkConnectedOverlayHasBackdrop]="true" cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
        (backdropClick)="closeMenu($event)">
        <app-popup-full-note>1212</app-popup-full-note>
    </ng-template>
</div>