@import 'variables';

.container{
    position: relative;
    border-radius: 5px;
    margin-top: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

    .content-photos{
        display: flex;
        flex-direction: column;
        .blocks{ 
            margin-top: 5px;
            .block{
                display: flex;
                justify-content: space-between;
                img{
                    max-height: 550px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            &:first-child{
                margin-top: 0;
            }
        }
        .fouth-child{
            img{
                &:nth-child(1){
                    width: 25%;
                }
                &:nth-child(2){
                    width: 25%;
                }
                &:nth-child(3){
                    width: 25%;
                }
                &:nth-child(4){
                    width: calc(25% - 10px);
                }
            }
        }
        .three-child{
            img{
                &:nth-child(1){
                    width: 25%;
                }
                &:nth-child(2){
                    width: 25%;
                }
                &:nth-child(3){
                    width: calc(50% - 10px);
                }
            }
        }
        .two-child{
            img{
                &:nth-child(1){
                    width: calc(50% - 5px);
                }
                &:nth-child(2){
                    width: calc(50% - 5px);
                }
            }
        }
        .one-child{
            img {
                &:nth-child(1){
                    width: calc(100%);
                }
            }
        }
    }
}

.wrapper{
    position: absolute;
    right: -35px;
    top: 5px;
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    .menu{
        cursor: pointer;
        height: 40px;
        width: 20px;
        border-radius: 5px;
        background-color: rgb(42, 45, 50);
    }
}