@import 'submenu';

.content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 190px);
    height: 100%;
    overflow: auto;

    .content-inner {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        padding: 2.5rem 3.125vw 0 3.125vw;
    }
}
@media (max-width: 768px) {
    .content {
        width: 100%;
        
        .content-inner {
            width: 100%;
        }
    }
}