<div class="profile-section" [ngClass]="[(theme$ | async) === theme.Light ? 'light' : '']">
    <div class="profile" routerLink="/profile" #profile>
        <div class="profile-data">
            <div class="photo">
                <img alt="photo" [src]="(user$ | async).photoId">
            </div>
            <p>{{(user$ | async).name}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="profile"></div>
    </div>
    <button name="Notification" type="button" class="notification" #notification>
        <div class="notification-data">
            <i class="icon-notification"></i>
            <div class="push">10</div>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="notification"></div>
    </button>
</div>