@mixin is-selected {
    box-shadow: 0 0 0 2px #0887a7;
  }
  
.is-selected {
    @include is-selected;
}
  
.document-content {
    display: flex;
    width: 100%;   
    
    &:hover{
        .card-action{
            app-button-collection{
                opacity: 1;
            }
        }
    } 

    .card-action{
        app-button-collection{
            opacity: 0;
        }
    }

    .spinner-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
    }
}