@import 'innerNote';

:host {
    border-radius: 5px;
}

@mixin is-selected {
    box-shadow: 0 0 0 2px #0887a7;
  }

.is-selected {
    @include is-selected;
}

.document-content {
    display: flex;
    width: 100%;

    .playlist {
        flex: 1;
        flex-direction: column;

        .spinner-container {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 38px;
        }
    }

    .spinner-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
    }

    .drop-active{
        outline: 1px solid white;
    }
}
