@import 'variables';

.main-content {
  position: relative;
  z-index: $full-main-content;
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 33, 37, 0.9);
  padding: 1.25rem 0 0 0;
  transition: 0.2s background-color ease;
  height: 100%;

  .top-section {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-bottom: 1rem;
    .note-color {
      width: 40px;
      height: 40px;
    }
  
    .labels-section {
      margin-bottom: 1rem;
    }
  
    .title-section {
      position: relative;
      display: flex;
      margin-left: 0.5rem;
      font-size: 2.5rem;
      font-weight: 700;
      min-height: 50px;
  
      .title {
        width: 100%;
        padding-left: 0.625rem;
        outline: none;
        overflow-wrap: anywhere;

        &:empty {
          padding-left: 0;
        }
      }
  
      .title:empty + .placeholder {
        display: block;
      }
  
      .title:empty ~ .left-border {
        width: 0;
        background-color: #7b7b7b;
      }
  
      .placeholder {
        display: none;
        position: absolute;
        top: 0;
        pointer-events: none;
        user-select: none;
        margin-left: 0.25rem;
        color: #7b7b7b;
      }
    }
  }

  .content-section {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 15px 0 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    .content-section-inner {
      position: relative;
      display: flex;
      height: 100%;
      flex-direction: column;
      .empty {
        display: flex;
        min-height: 150px;
        flex-grow: 1;
      }
    }
  }
}

.file-insert{
  display: none;
}

.is-placeholder-active {
  .file-insert{
    display: block;
  }
}

.custom-placeholder{
  min-height: 20px;
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
  border-bottom: 5px solid #0887a7;
}

.cdk-drag-preview {
  opacity: 0.5;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
   opacity: 1;
}

.content-section.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}


app-text-edit-menu {
  z-index: 1000;
  position: fixed;
}


.light {
  border-right: 1px solid $light-separator;
  background-color: rgb(250, 250, 250, 0.9);

  .title-section {
    .title {
      color: $text-color;
    }
  }
}

@media (max-width: 1024px) {
  .main-content {
    width: 100%;
  }
}
