<div
  appTheme
  appTextEditMenu
  appSelection
  [appMenuSelection]="textElements"
  [appCopy]="refElements"
  (selectionEvent)="selectionHandler($event)"
  (selectionStartEvent)="selectionStartHandler($event)"
  [style.width.px]="sliderService?.mainWidth"
  class="main-content"
>
  <div class="note-color" [ngStyle]="{backgroundColor: note?.color}"></div>
  <div class="labels-section">
    <div
      class="label"
      *ngFor="let label of note?.labels | noDeletedLabels"
      [ngStyle]="{backgroundColor: label.color}"
    >
      <p>{{label.name}}</p>
    </div>
  </div>
  <div class="title-section">
    <div
      [attr.contenteditable]="!isReadOnlyMode"
      (paste)="pasteCommandHandler($event)"
      [textContent]="note?.title"
      class="title"
      (input)="onInput($event)"
    ></div>
    <div class="placeholder">Title</div>
    <div class="left-border"></div>
  </div>
  <div class="content-section">
    <div *ngFor="let item of contents; let i = index;">
      <div [ngSwitch]="item.typeId">
        <ng-container *ngSwitchCase="contentType.Text">
          <app-html-text-part
            *ngIf="item.noteTextTypeId === textType.Default"
            #htmlComp
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (deleteThis)="deleteHTMLHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (transformTo)="transformToTypeText($event)"
            (transformToFile)="transformToFileType($event)"
            (updateText)="updateTextHandler($event, i === contents.length - 1)"
          ></app-html-text-part>
          <app-html-number-list
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Numberlist"
            [prevContent]="getTextContent(i - 1)"
            [prevType]="getTextContent(i - 1)?.noteTextTypeId"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (transformTo)="transformToTypeText($event)"
            (deleteThis)="deleteHTMLHandler($event)"
            (updateText)="updateTextHandler($event, i === contents.length - 1)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
          ></app-html-number-list>
          <app-html-dot-list
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Dotlist"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (transformTo)="transformToTypeText($event)"
            (deleteThis)="deleteHTMLHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (updateText)="updateTextHandler($event, i === contents.length - 1)"
          ></app-html-dot-list>
          <app-html-check-list
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Checklist"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (transformTo)="transformToTypeText($event)"
            (deleteThis)="deleteHTMLHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (updateText)="updateTextHandler($event, i === contents.length - 1)"
          ></app-html-check-list>
          <app-html-headings
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Heading"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (deleteThis)="deleteHTMLHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (updateText)="updateTextHandler($event, i === contents.length - 1)"
          ></app-html-headings>
        </ng-container>
        <app-photos
          #htmlComp
          *ngSwitchCase="contentType.NoteAlbum"
          [content]="item"
          [noteId]="note.id"
          [isReadOnlyMode]="isReadOnlyMode"
          (deleteEvent)="removeAlbumHandler($event)"
          (uploadEvent)="uploadPhotoToAlbumHandler($event)"
          (deletePhotoFromAlbum)="removePhotoFromAlbumHandler($event)"
        ></app-photos>
        <app-audio-note
          #htmlComp
          *ngSwitchCase="contentType.Audio"
          [content]="item"
          [isReadOnlyMode]="isReadOnlyMode"
          (removePlaylist)="removePlaylistHandler($event)"
          (deleteAudio)="removeAudioFromPlaylistHandler($event)"
          (changeTitleEvent)="changePlaylistName($event)"
          (uploadEvent)="uploadAudiosToPlaylistHandler($event)"
        ></app-audio-note>
        <app-video-note
          #htmlComp
          *ngSwitchCase="contentType.Video"
          [content]="item"
          [isReadOnlyMode]="isReadOnlyMode"
          (deleteVideoEvent)="removeVideoHandler($event)"
        ></app-video-note>
        <app-document-note
          #htmlComp
          *ngSwitchCase="contentType.Document"
          [content]="item"
          [isReadOnlyMode]="isReadOnlyMode"
          (deleteDocumentEvent)="removeDocumentHandler($event)"
        ></app-document-note>
        <div *ngSwitchDefault>Default</div>
      </div>
    </div>
    <div
      class="empty"
      (mousedown)="placeHolderClick($event)"
      (mousemove)="mouseEnter($event)"
      (mouseout)="mouseOut($event)"
    ></div>
  </div>
</div>
<app-text-edit-menu
  [style.top.px]="menuSelectionService.getTop"
  [style.left.px]="menuSelectionService.left"
  [style.visibility]="menuSelectionService.menuActive? 'visible': 'hidden'"
  (eventTransform)="transformToTypeText($event)"
  (updateText)="updateTextHandlerBoldItalic($event, false)"
>
</app-text-edit-menu>
