<div
  appTheme
  appTextEditMenu
  appSelection
  [appMenuSelection]="elements"
  [appCopy]="refElements"
  (selectionEvent)="selectionHandler($event)"
  (selectionStartEvent)="selectionStartHandler($event)"
  [ngStyle]="{'width': sliderService ? sliderService?.mainWidth : ''}"
  class="main-content"
>
  <div class="note-color" [ngStyle]="{ backgroundColor: note?.color }"></div>
  <div class="labels-section">
    <div
      class="label"
      *ngFor="let label of note?.labels | noDeletedLabels"
      [ngStyle]="{ backgroundColor: label.color }"
    >
      <p>{{ label.name }}</p>
    </div>
  </div>
  <div class="title-section">
    <div
      #noteTitle
      [attr.contenteditable]="!isReadOnlyMode"
      (paste)="pasteCommandHandler($event)"
      [textContent]="note?.title"
      class="title"
      (input)="onInput($event)"
    ></div>
    <div class="placeholder">Title</div>
    <div class="left-border"></div>
  </div>
  <div class="content-section">
    <div *ngFor="let item of contents; let i = index">
      <div [ngSwitch]="item.typeId">
        <ng-container *ngSwitchCase="contentType.Text">
          <app-html-text-part
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Default"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="theme$ | async"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (deleteThis)="deleteRowHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (transformTo)="transformToTypeText($event)"
            (transformToFile)="transformToFileType($event)"
            (updateText)="updateTextHandler($event)"
          ></app-html-text-part>
          <app-html-number-list
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Numberlist"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="theme$ | async"
            [prevContent]="getTextContent(i - 1)"
            [prevType]="getTextContent(i - 1)?.noteTextTypeId"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (transformTo)="transformToTypeText($event)"
            (deleteThis)="deleteRowHandler($event)"
            (updateText)="updateTextHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
          ></app-html-number-list>
          <app-html-dot-list
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Dotlist"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="theme$ | async"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (transformTo)="transformToTypeText($event)"
            (deleteThis)="deleteRowHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (updateText)="updateTextHandler($event)"
          ></app-html-dot-list>
          <app-html-check-list
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Checklist"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="theme$ | async"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (transformTo)="transformToTypeText($event)"
            (deleteThis)="deleteRowHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (updateText)="updateTextHandler($event)"
          ></app-html-check-list>
          <app-html-headings
            #htmlComp
            *ngIf="item.noteTextTypeId === textType.Heading"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="theme$ | async"
            [content]="item"
            [isReadOnlyMode]="isReadOnlyMode"
            (enterEvent)="enterHandler($event)"
            (deleteThis)="deleteRowHandler($event)"
            (concatThisWithPrev)="concatThisWithPrev($event)"
            (updateText)="updateTextHandler($event)"
          ></app-html-headings>
        </ng-container>
        <app-photos
          #htmlComp
          *ngSwitchCase="contentType.Photos"
          [isSelected]="selectionService.isSelected(item.id)"
          [theme]="theme$ | async"
          [content]="item"
          [noteId]="note.id"
          [isReadOnlyMode]="isReadOnlyMode"
          (uploadEvent)="contentEditorAlbumService.uploadPhotoToAlbumHandler($event, note.id)"
          (deleteContentEvent)="contentEditorAlbumService.deleteContentHandler($event, note.id)"
          (deletePhotoEvent)="contentEditorAlbumService.deletePhotoHandler($event, item.id, note.id)"
        ></app-photos>
        <app-audio-note
          #htmlComp
          *ngSwitchCase="contentType.Audios"
          [isSelected]="selectionService.isSelected(item.id)"
          [theme]="theme$ | async"
          [content]="item"
          [isReadOnlyMode]="isReadOnlyMode"
          (deleteContentEvent)="contentEditorPlaylistService.deleteContentHandler($event, note.id)"
          (deleteAudioEvent)="contentEditorPlaylistService.deleteAudioHandler($event, item.id, note.id)"
          (changeTitleEvent)="contentEditorPlaylistService.changePlaylistName($event, note.id)"
          (uploadEvent)="contentEditorPlaylistService.uploadAudiosToCollectionHandler($event, note.id)"
        ></app-audio-note>
        <app-video-note
          #htmlComp
          *ngSwitchCase="contentType.Videos"
          [isSelected]="selectionService.isSelected(item.id)"
          [theme]="theme$ | async"
          [content]="item"
          [isReadOnlyMode]="isReadOnlyMode"
          (deleteContentEvent)="contentEditorVideosService.deleteContentHandler($event, note.id)"
          (deleteVideoEvent)="contentEditorVideosService.deleteVideoHandler($event, item.id, note.id)"
        ></app-video-note>
        <app-document-note
          #htmlComp
          *ngSwitchCase="contentType.Documents"
          [isSelected]="selectionService.isSelected(item.id)"
          [theme]="theme$ | async"
          [content]="item"
          [isReadOnlyMode]="isReadOnlyMode"
          (deleteContentEvent)="contentEditorDocumentsService.deleteContentHandler($event, note.id)"
          (deleteDocumentEvent)="contentEditorDocumentsService.deleteDocumentHandler($event, item.id, note.id)"
        ></app-document-note>
        <div *ngSwitchDefault>Default</div>
      </div>
    </div>
    <div
      class="empty"
      (mousedown)="placeHolderClick($event)"
      (mousemove)="mouseEnter($event)"
      (mouseout)="mouseOut($event)"
    ></div>
  </div>
</div>
<app-text-edit-menu
  [style.top.px]="menuSelectionService.getTop"
  [style.left.px]="menuSelectionService.left"
  [style.visibility]="menuSelectionService.menuActive ? 'visible' : 'hidden'"
  (eventTransform)="transformToTypeText($event)"
  (updateText)="updateTextHandler($event)"
>
</app-text-edit-menu>
