<div
  appTheme
  appSelection
  [isReadonly]="isReadOnlyMode"
  [appMenuSelection]="elements"
  [appCopy]="elements"
  (selectionEvent)="selectionHandler($event)"
  (selectionStartEvent)="selectionStartHandler($event)"
  (selectionEndEvent)="selectionEndHandler($event)"
  class="main-content"
  [ngClass]="{ 'nope-select': isSelectModeActive }"
>
  <div class="top-section">
    <div class="note-color" [ngStyle]="{ backgroundColor: note?.color }"></div>
    <div class="labels-section">
      <div
        class="label"
        *ngFor="let label of note?.labels | noDeletedLabels"
        [ngStyle]="{ backgroundColor: label.color }"
      >
        <p>{{ label.name }}</p>
      </div>
    </div>
    <ng-content></ng-content>
    <div class="title-section">
      <div
        id="title-element"
        #noteTitle
        [attr.contenteditable]="!isReadOnlyMode && !isSelectModeActive"
        (paste)="pasteCommandHandler($event)"
        [textContent]="uiTitle"
        class="title"
        (input)="onTitleInput($event)"
        (keydown.enter)="handlerTitleEnter($event)"
      ></div>
      <div class="placeholder">{{ 'innerNote.title' | translate }}</div>
      <div class="left-border"></div>
    </div>
  </div>

  <div #contentSection cdkDropList class="content-section" (cdkDropListDropped)="drop($event)">
    <div class="content-section-inner">
      <div
        cdkDrag
        (cdkDragStarted)="dragStarted($event)"
        (cdkDragEnded)="dragEnded($event)"
        class="item"
        *ngFor="let item of contents; let i = index"
      >
        <ng-container [ngSwitch]="item.typeId">
          <div
            [appDrop]="'is-placeholder-active'"
            (fileDropped)="uploadRandomFiles($event, i, item.id)"
            *ngSwitchCase="contentType.Text"
          >
            <app-html-text-part
              #htmlComp
              *ngIf="item.noteTextTypeId === textType.Default"
              [isSelected]="selectionService.isSelected(item.id)"
              [theme]="editorTheme"
              [content]="item"
              [isReadOnlyMode]="isReadOnlyMode"
              [isSelectModeActive]="isSelectModeActive"
              (enterEvent)="enterHandler($event)"
              (deleteThis)="deleteRowHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (transformTo)="transformToTypeText($event)"
              (transformToFile)="transformToFileType($event)"
              (inputHtmlEvent)="updateHtmlHandler($event)"
              (onFocus)="onFocusHandler($event)"
              (someChangesEvent)="postAction()"
              (runDetectChangesChildren)="runDetectChangesOnChildren()"
              (pasteEvent)="pasteTextHandler($event)"
            >
              <app-drag-drop-handler cdkDragHandle></app-drag-drop-handler>
            </app-html-text-part>
            <app-html-number-list
              #htmlComp
              *ngIf="item.noteTextTypeId === textType.Numberlist"
              [isSelected]="selectionService.isSelected(item.id)"
              [theme]="editorTheme"
              [prevContent]="getTextContent(i - 1)"
              [prevType]="getTextContent(i - 1)?.noteTextTypeId"
              [content]="item"
              [isReadOnlyMode]="isReadOnlyMode"
              [isSelectModeActive]="isSelectModeActive"
              (enterEvent)="enterHandler($event)"
              (transformTo)="transformToTypeText($event)"
              (deleteThis)="deleteRowHandler($event)"
              (inputHtmlEvent)="updateHtmlHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (onFocus)="onFocusHandler($event)"
              (someChangesEvent)="postAction()"
              (runDetectChangesChildren)="runDetectChangesOnChildren()"
              (pasteEvent)="pasteTextHandler($event)"
            >
              <app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
            ></app-html-number-list>
            <app-html-dot-list
              #htmlComp
              *ngIf="item.noteTextTypeId === textType.Dotlist"
              [isSelected]="selectionService.isSelected(item.id)"
              [theme]="editorTheme"
              [content]="item"
              [isReadOnlyMode]="isReadOnlyMode"
              [isSelectModeActive]="isSelectModeActive"
              (enterEvent)="enterHandler($event)"
              (transformTo)="transformToTypeText($event)"
              (deleteThis)="deleteRowHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (inputHtmlEvent)="updateHtmlHandler($event)"
              (onFocus)="onFocusHandler($event)"
              (someChangesEvent)="postAction()"
              (runDetectChangesChildren)="runDetectChangesOnChildren()"
              (pasteEvent)="pasteTextHandler($event)"
            >
              <app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
            ></app-html-dot-list>
            <app-html-check-list
              #htmlComp
              *ngIf="item.noteTextTypeId === textType.Checklist"
              [isSelected]="selectionService.isSelected(item.id)"
              [theme]="editorTheme"
              [content]="item"
              [isReadOnlyMode]="isReadOnlyMode"
              [isSelectModeActive]="isSelectModeActive"
              (enterEvent)="enterHandler($event)"
              (transformTo)="transformToTypeText($event)"
              (deleteThis)="deleteRowHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (inputHtmlEvent)="updateHtmlHandler($event)"
              (onFocus)="onFocusHandler($event)"
              (someChangesEvent)="postAction()"
              (runDetectChangesChildren)="runDetectChangesOnChildren()"
              (pasteEvent)="pasteTextHandler($event)"
            >
              <app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
            ></app-html-check-list>
            <app-html-headings
              #htmlComp
              *ngIf="item.noteTextTypeId === textType.Heading"
              [isSelected]="selectionService.isSelected(item.id)"
              [theme]="editorTheme"
              [content]="item"
              [isReadOnlyMode]="isReadOnlyMode"
              [isSelectModeActive]="isSelectModeActive"
              (enterEvent)="enterHandler($event)"
              (deleteThis)="deleteRowHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (inputHtmlEvent)="updateHtmlHandler($event)"
              (onFocus)="onFocusHandler($event)"
              (someChangesEvent)="postAction()"
              (runDetectChangesChildren)="runDetectChangesOnChildren()"
              (pasteEvent)="pasteTextHandler($event)"
            >
              <app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
            ></app-html-headings>
            <div class="custom-placeholder file-insert"></div>
          </div>
          <app-photos
            #htmlComp
            *ngSwitchCase="contentType.Photos"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="editorTheme"
            [content]="item"
            [noteId]="note.id"
            [isReadOnlyMode]="isReadOnlyMode"
            [isSelectModeActive]="isSelectModeActive"
            (uploadEvent)="uploadPhotoToAlbumHandler($event, note.id)"
            (deleteContentEvent)="deletePhotosCollection($event)"
            (deleteContentItemEvent)="deletePhotoHandler($event, item)"
            (someChangesEvent)="postAction()"
            (runDetectChangesChildren)="runDetectChangesOnChildren()"
            ><app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
          ></app-photos>
          <app-audio-note
            #htmlComp
            *ngSwitchCase="contentType.Audios"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="editorTheme"
            [content]="item"
            [noteId]="note.id"
            [isReadOnlyMode]="isReadOnlyMode"
            [isSelectModeActive]="isSelectModeActive"
            (deleteContentEvent)="deleteAudiosCollection($event)"
            (deleteContentItemEvent)="deleteAudioHandler($event, item)"
            (uploadEvent)="uploadAudiosToCollectionHandler($event, note.id)"
            (someChangesEvent)="postAction()"
            (runDetectChangesChildren)="runDetectChangesOnChildren()"
            ><app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
          ></app-audio-note>
          <app-video-note
            #htmlComp
            *ngSwitchCase="contentType.Videos"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="editorTheme"
            [content]="item"
            [noteId]="note.id"
            [isReadOnlyMode]="isReadOnlyMode"
            [isSelectModeActive]="isSelectModeActive"
            (deleteContentEvent)="deleteVideosCollection($event)"
            (deleteContentItemEvent)="deleteVideoHandler($event, item)"
            (uploadEvent)="uploadVideosToCollectionHandler($event, note.id)"
            (someChangesEvent)="postAction()"
            (runDetectChangesChildren)="runDetectChangesOnChildren()"
            ><app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
          ></app-video-note>
          <app-document-note
            #htmlComp
            *ngSwitchCase="contentType.Documents"
            [isSelected]="selectionService.isSelected(item.id)"
            [theme]="editorTheme"
            [content]="item"
            [noteId]="note.id"
            [isReadOnlyMode]="isReadOnlyMode"
            [isSelectModeActive]="isSelectModeActive"
            (deleteContentEvent)="deleteDocumentsCollection($event)"
            (deleteContentItemEvent)="deleteDocumentHandler($event, item)"
            (uploadEvent)="uploadDocumentsToCollectionHandler($event, note.id)"
            (someChangesEvent)="postAction()"
            (runDetectChangesChildren)="runDetectChangesOnChildren()"
            ><app-drag-drop-handler cdkDragHandle></app-drag-drop-handler
          ></app-document-note>
          <div *ngSwitchDefault>Default</div>
        </ng-container>
        <div class="custom-placeholder" *cdkDragPlaceholder></div>
      </div>
      <div
        class="empty"
        (mousedown)="placeHolderClick($event)"
        (mousemove)="mouseEnter($event)"
        (mouseout)="mouseOut($event)"
      ></div>
      <div id="note-selector" class="full-note-selection"></div>
    </div>
  </div>
</div>
<app-mobile-transform-menu
  *ngIf="
    (pS.isTranformMenuMobile$ | async) === true && clickableContentService.isEmptyTextItemFocus
  "
  (transformTo)="transformToTypeText($event)"
  (transformToFile)="transformToFileType($event)"
></app-mobile-transform-menu>
<app-text-edit-menu
  *ngIf="selectedMenuType"
  [style.top.px]="textEditMenuTop"
  [style.left.px]="textEditMenuLeft"
  [style.visibility]="textEditMenuVisibility"
  [selectedMenuType]="selectedMenuType"
  [elements]="selectedElements"
  (eventTransform)="transformToTypeText($event)"
  (updateText)="updateTextStyles($event)"
>
</app-text-edit-menu>
