:host{
  height: 100%;
}
.not-found {
  user-select: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  P {
    font-size: 0.875rem;
    font-weight: 400;
    color: #808080;
  }
}
