<div class="notification" appTheme>
  <div class="notification-header">
    <div class="title">
      <p>{{ 'notification.title' | translate }}</p>
    </div>
    <div class="actions">
      <button
        name="Close notification"
        type="button"
        class="generic"
        (click)="closeNotification()"
        #close
      >
        <div class="inner-content">
          <div class="icon">
            <mat-icon fontSet="material-icons-round" [inline]="true">close</mat-icon>
          </div>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="close"></div>
      </button>
    </div>
  </div>
  <ng-scrollbar
    *ngIf="toggleMessage; else readMessage"
    class="scroll-wrapper"
    [visibility]="'hover'"
    [appearance]="'compact'"
  >
    <div class="scroll-inner">
      <div class="notification-action read-all p-sticky" *ngIf="getNewNotificationsLength$ | async">
        <button name="read all notifications" type="button" class="generic" #readAll>
          <div class="inner-content">
            <p (click)="readAllMessages()">{{ 'notification.readAll' | translate}}</p>
          </div>
          <div class="ripple-container" matRipple [matRippleTrigger]="readAll"></div>
        </button>
      </div>
      <app-notification-message
        (click)="read(item.id)"
        *ngFor="let item of notificationsNew$ | async"
        [message]="item"
        [isRead]="false"
      ></app-notification-message>
      <div class="notification-action see-all">
        <button
          (click)="toggleMessage = false"
          name="see all notifications"
          type="button"
          class="generic"
          #seeAll
        >
          <div class="inner-content">
            <p>{{ 'notification.seeAll' | translate }}</p>
          </div>
          <div class="ripple-container" matRipple [matRippleTrigger]="seeAll"></div>
        </button>
      </div>
    </div>
    <app-no-results-illustration
      *ngIf="(getNewNotificationsLength$ | async) === (false || undefined || null || 0)"
      [isShow]="true"
      [message]="'noResult.notification' | translate"
      [illustration]="pService.icon.notificationIllustration"
      typeClass="type-notification"
    ></app-no-results-illustration>
  </ng-scrollbar>
  <ng-template #readMessage>
    <ng-scrollbar class="scroll-wrapper" [visibility]="'hover'" [appearance]="'compact'">
      <div class="scroll-inner">
        <div class="notification-action go-to p-sticky">
          <button
            (click)="toggleMessage = true"
            name="see all notifications"
            type="button"
            class="generic"
            #seeAll
          >
            <div class="inner-content">
              <p>{{ 'notification.goToNew' | translate }}</p>
            </div>
            <div class="ripple-container" matRipple [matRippleTrigger]="seeAll"></div>
          </button>
        </div>
        <app-notification-message
          (click)="read(item.id)"
          *ngFor="let item of notificationsRead$ | async"
          [message]="item"
          [isRead]="true"
        ></app-notification-message>
      </div>
      <app-no-results-illustration
        *ngIf="(getReadNotificationsLength$ | async) === (false || undefined || null || 0)"
        [isShow]="true"
        [message]="'noResult.notificationAll' | translate"
        [illustration]="pService.icon.notificationIllustration"
        typeClass="type-notification"
      ></app-no-results-illustration>
    </ng-scrollbar>
  </ng-template>
  <!-- <app-spinner *ngIf="pService.spinnerActive"></app-spinner> -->
</div>
