<div class="main-container" (click)="setFocus($event)" (mouseover)="mouseEnter($event)" (mouseout)="mouseOut($event)">
    <div class="number-list">
        <div class="number-container">
            <div class="number">{{content.data.number}}.</div>
        </div>
        <div class="text-container">
            <p class="block-generic default-text-size" #contentHtml contenteditable="true" [textContent]="numberService.contentStr"></p>
            <p class="no-content-list" *ngIf="isActive">Item</p>
        </div>
    </div>
</div>