@import 'innerNote';

.number-list{
    width: 100%;
    display: flex;
    position: relative;
    .number-container{
        display: flex;
        justify-content: center;
        min-width: 30px;
        .number{
            line-height: 25px;
        }
    }
    .text{
        position: relative;
    }
}

.no-content{
    margin-left: 33px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #6B6B6B;               
    font-weight: 300;
    line-height: 25px;
}