@import 'innerNote';

.number-list {
  width: 100%;
  display: flex;

  .number-container {
    display: flex;
    justify-content: center;
    font-size: 1.125rem;
    margin-right: 0.5rem;
  }

  .text-container {
    position: relative;
    display: flex;
    flex-grow: 1;
  }
}

.light {
  .number-list {
    .number-container {
      color: $text-color;
    }
  }
}
