<app-left-section-wrapper [isProfileActive]="true">
  <ng-container *ngIf="foldersLink?.length > 0">
    <ng-scrollbar visibility="hover" appearance="compact">
      <div
        class="folder"
        *ngFor="let item of foldersLink"
        [ngStyle]="{ backgroundColor: item.color }"
        (click)="navigateToFolder(item.id)"
      >
        <p *ngIf="getTitle(item)?.length > 0">{{ getTitle(item) }}</p>
        <p *ngIf="!getTitle(item)" class="empty-placeholder">
          {{ 'placeholder.unnamedFolder' | translate }}
        </p>
      </div>
    </ng-scrollbar>
  </ng-container>
</app-left-section-wrapper>

<div
  appTheme
  *ngIf="loaded && (folder$ | async)"
  class="content-generic-project"
  [ngStyle]="{
    'background-image': (userBackground$ | async) ? 'url(' + (userBackground$ | async) + ')' : ''
  }"
>
  <app-full-folder-sub-header
    [folder]="folder$ | async"
    [canEdit]="canEdit$ | async"
    [user$]="user$"
  ></app-full-folder-sub-header>
  <ng-scrollbar class="scroll-helper content" visibility="hover" appearance="compact">
    <div class="content-inner">
      <div class="grid" [ngStyle]="{ opacity: ffnService.murriService.flagForOpacity ? '1' : '0' }">
        <div
          #item
          class="grid-item"
          [id]="item.id"
          [attr.order]="item.order"
          *ngFor="let item of ffnService.entities"
          [ngClass]="[
            pService.orientationMobile ? 'grid-plus' : '',
            (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : ''
          ]"
        >
          <app-note
            [note]="item"
            [isShowWrightRead]="true"
            [currentFolderId]="(folder$ | async).id"
            (highlightNote)="ffnService.highlightNote($event)"
            (clickOnNote)="ffnService.toNote($event)"
            [ngStyle]="{ backgroundColor: item.color }"
            [userId]="(user$ | async).id"
            class="note"
          ></app-note>
        </div>
      </div>
    </div>
    <app-no-results-illustration
      *ngIf="loaded && !ffnService.isAnyEntityInLayout"
      [isShow]="loaded && !ffnService.isAnyEntityInLayout"
      [message]="'noResult.folderNotes' | translate"
      [illustration]="pService.icon.notesInnerFolder"
      typeClass="type-module"
    ></app-no-results-illustration>
  </ng-scrollbar>
  <app-spinner *ngIf="pService.spinnerActive"></app-spinner>
</div>
<div *ngIf="(folder$ | async) === null && loaded" class="wrapper">
  <app-no-results-illustration
    [isShow]="true"
    [message]="'noResult.noAccessViewFolder' | translate"
    [illustration]="pService.icon.noAccessViewFolder"
    typeClass="type-module"
  ></app-no-results-illustration>
</div>
<div class="drag-helper main-helper"></div>
