<app-left-section-wrapper [isProfileActive]="true">
  <ng-container *ngIf="foldersLink?.length > 0">
    <ng-scrollbar visibility="hover" appearance="compact">
      <div
        class="folder"
        *ngFor="let item of foldersLink"
        [ngStyle]="{ backgroundColor: item.color }"
        (click)="navigateToFolder(item.id)"
      >
        <p *ngIf="item.title && item.title.length > 0">{{ item.title }}</p>
        <p *ngIf="!item.title" class="empty-placeholder">
          {{ 'placeholder.unnamedFolder' | translate }}
        </p>
      </div>
    </ng-scrollbar>
  </ng-container>
</app-left-section-wrapper>

<app-full-folder-content [isReadOnlyMode]="canEdit$ | async"></app-full-folder-content>
<div *ngIf="(folder$ | async) === null && loaded" class="wrapper">
  <app-no-results-illustration
    [isShow]="true"
    [message]="'noResult.noAccessViewFolder' | translate"
    [illustration]="pService.icon.noAccessViewFolder"
    typeClass="type-module"
  ></app-no-results-illustration>
</div>
