<app-left-section-wrapper [isProfileActive]="true">
  <div class="left-section-folders" *ngIf="foldersLink?.length > 0 && folderEntitiesLoaded">
    <ng-scrollbar visibility="hover" appearance="compact">
      <div
        class="folder"
        *ngFor="let item of foldersLink"
        [ngStyle]="{ backgroundColor: item.color }"
        (click)="navigateToFolder(item.id)"
      >
        <p *ngIf="item.title && item.title.length > 0">{{ item.title }}</p>
        <p *ngIf="!item.title" class="empty-placeholder">
          {{ 'placeholder.unnamedFolder' | translate }}
        </p>
      </div>
    </ng-scrollbar>
  </div>
</app-left-section-wrapper>

<div
  appTheme
  class="content-generic-project"
  [ngStyle]="{
    'background-image': (userBackground$ | async) ? 'url(' + (userBackground$ | async) + ')' : ''
  }"
>
  <div
    *ngIf="folderLoaded && (folder$ | async)"
    class="folder-sub-header"
    [ngClass]="{ 'sub-header-photo': (userBackground$ | async) }"
  >
    <div class="container info-container">
      <div class="dot" [ngStyle]="{ backgroundColor: (folder$ | async).color }"></div>
      <div class="navigation">
        <a
          [routerLink]="'/folders/' + ((folder$ | async).folderTypeId | folderType)?.route"
          class="link"
        >
          {{ ((folder$ | async).folderTypeId | folderType)?.tranlate | translate }}
        </a>
        <span class="divider">/</span>
        <input
          #folderTitle
          [ngModel]="uiTitle"
          [placeholder]="'placeholder.folderSmall' | translate"
          (ngModelChange)="titleChange$.next($event)"
          [disabled]="(canEdit$ | async) === false"
        />
      </div>
    </div>
    <div *ngIf="canEdit$ | async" class="container buttons-container">
      <button
        class="side-button"
        type="button"
        name="Color"
        #color
        (click)="openChangeColorPopup()"
      >
        <div class="inner-content">
          <div class="icon">
            <mat-icon svgIcon="color" [inline]="true"></mat-icon>
          </div>
          <p>{{ 'menu.color' | translate }}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="color"></div>
      </button>
      <button
        *ngIf="(user$ | async).id === (folder$ | async).userId"
        class="side-button"
        type="button"
        name="share"
        #share
        (click)="menuButtonService.openShareWithFolders()"
      >
        <div class="inner-content">
          <div class="icon">
            <mat-icon svgIcon="share" [inline]="true"></mat-icon>
          </div>
          <p>{{ 'menu.share' | translate }}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="share"></div>
      </button>
      <button
        class="side-button icon-only"
        type="button"
        name="more"
        #more
        [matMenuTriggerFor]="menu"
      >
        <div class="inner-content">
          <div class="icon">
            <mat-icon [inline]="true">more_horiz</mat-icon>
          </div>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="more"></div>
      </button>
    </div>
    <div class="folder-color" [ngStyle]="{ backgroundColor: (folder$ | async).color }"></div>
  </div>
  <ng-scrollbar class="scroll-helper content" visibility="hover" appearance="compact">
    <div class="content-inner">
      <div class="grid" [ngStyle]="{ opacity: ffnService.murriService.flagForOpacity ? '1' : '0' }">
        <ng-container>
          <div
            #item
            class="grid-item"
            [id]="item.id"
            [attr.order]="item.order"
            *ngFor="let item of ffnService.entities"
            [ngClass]="[
              pService.orientationMobile ? 'grid-plus' : '',
              (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : ''
            ]"
          >
            <app-note
              [note]="item"
              [isShowWrightRead]="true"
              [currentFolderId]="(folder$ | async).id"
              (highlightNote)="ffnService.highlightNote($event)"
              (clickOnNote)="ffnService.toNote($event)"
              [ngStyle]="{ backgroundColor: item.color }"
              [userId]="(user$ | async).id"
              class="note"
            ></app-note>
          </div>
        </ng-container>
      </div>
    </div>
    <app-no-results-illustration
      *ngIf="folderEntitiesLoaded && !ffnService.isAnyEntityInLayout"
      [isShow]="folderEntitiesLoaded && !ffnService.isAnyEntityInLayout"
      [message]="'noResult.folderNotes' | translate"
      [illustration]="icons.notesInnerFolder"
      typeClass="type-module"
    ></app-no-results-illustration>
  </ng-scrollbar>
  <app-spinner
    *ngIf="!folderEntitiesLoaded && !ffnService.murriService.flagForOpacity"
  ></app-spinner>
</div>
<div *ngIf="(folder$ | async) === null && folderLoaded" class="wrapper">
  <app-no-results-illustration
    [isShow]="true"
    [message]="'noResult.noAccessViewFolder' | translate"
    [illustration]="icons.noAccessViewFolder"
    typeClass="type-module"
  ></app-no-results-illustration>
</div>
<div class="drag-helper main-helper"></div>
<mat-menu #menu="matMenu" [class]="(theme$ | async) === theme.Dark ? 'dark-menu' : null">
  <ng-container
    *ngFor="
      let item of getFolderMenu(folder$ | async)
        | manageMenuButtons
          : (canEdit$ | async)
          : (user$ | async).id === (folder$ | async)?.userId
          : true
    "
  >
    <button
      (click)="item.operation()"
      mat-menu-item
      type="button"
      [name]="item.icon"
      *ngIf="(item?.isVisible | async) === (true || undefined || null)"
    >
      <mat-icon
        *ngIf="item.icon !== 'history'"
        [svgIcon]="item.icon"
        style="width: 1rem; height: 1rem; font-size: 1rem"
      ></mat-icon>
      <span> {{ 'menu.' + item.icon | translate }} </span>
    </button>
  </ng-container>
</mat-menu>
