<app-dialog-generic-header
  [message]="'modal.deletionModal.title' | translate"
></app-dialog-generic-header>
<div class="preview-container">
  <p *ngIf="data.message">{{ data.message | translate }}</p>
  <p *ngIf="data.additionalMessage">{{ data.additionalMessage | translate }}</p>
</div>
<div appTheme class="button-container">
  <app-generic-bottom-button-pop-up
    [title]="'modal.genericButtons.cancel' | translate"
    (clickEvent)="close(false)"
  ></app-generic-bottom-button-pop-up>
  <app-generic-bottom-button-pop-up
    [ngStyle]="{'margin-left': '15px'}"
    [title]="'modal.genericButtons.delete' | translate"
    (clickEvent)="close(true)"
  ></app-generic-bottom-button-pop-up>
</div>
