<div
  class="audio-container"
  (click)="clickEvent.emit(audio.fileId)"
  [ngClass]="{'is-selected' : isClicked}"
  appTheme
>
  <div class="preview">
    <img *ngIf="audio.pathToImage" [src]="audio.pathToImage" />
    <div *ngIf="!audio.pathToImage" class="no-preview">{{ audio.name[0] }}</div>
    <div class="controls">
      <app-button-collection
        *ngIf="!state?.playing"
        [button]="'play_circle_outline'"
        [disabled]="state?.error"
        [tooltip]="'innerNote.audio.play' | translate"
        [position]="'Bottom'"
        (clickEvent)="playMusic()"
      ></app-button-collection>

      <app-button-collection
        *ngIf="state?.playing"
        [button]="'pause'"
        [disabled]="state?.error"
        [tooltip]="'innerNote.audio.pause' | translate"
        [position]="'Bottom'"
        (clickEvent)="pauseMusic()"
      ></app-button-collection>
    </div>
  </div>
  <div class="audio-body">
    <div class="audio-info">
      <div class="audio-name">
        <p>{{ audio.name | fileName }}</p>
      </div>
      <div class="audio-time">
        <p>{{ state?.readableCurrentTime }}</p>
        <span *ngIf="state?.readableCurrentTime && audio.secondsDuration">/</span>
        <p *ngIf="audio.secondsDuration">{{ audio.secondsDuration | formatDateMoment: 1000 }}</p>
      </div>
    </div>
    <app-button-collection
      *ngIf="!isSelectModeActive"
      [matMenuTriggerFor]="menu"
      [button]="'more_vert'"
    ></app-button-collection>
  </div>
</div>

<!-- Additional -->

<mat-menu
  #menu="matMenu"
  appLazyTheme
  themeClass="menu"
  attributeName="panelClass"
  [element]="menu"
>
  <button mat-menu-item type="button" name="Download" (click)="exportAudio.emit(audio)">
    <mat-icon>download</mat-icon>
    <span> {{ 'innerNote.photoMenu.download' | translate }} </span>
  </button>
  <button
    *ngIf="!isReadOnlyMode"
    mat-menu-item
    type="button"
    name="delete"
    (click)="deleteAudio.emit(audio.fileId)"
  >
    <mat-icon>delete</mat-icon>
    <span>{{ 'innerNote.menu.delete' | translate }}</span>
  </button>
</mat-menu>
