@import 'variables';

:host {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

p {
  @include text-overflow-webkit;
}
