<ng-container [ngSwitch]="_content.metadata?.noteTextTypeId">
  <p class="note-preview-text" *ngSwitchCase="textType.default" [innerHTML]="viewHtml"></p>
  <app-note-preview-text-heading
    *ngSwitchCase="textType.heading"
    [html]="viewHtml"
    [type]="_content.metadata?.hTypeId"
  ></app-note-preview-text-heading>
  <app-note-preview-text-list
    *ngSwitchCase="textType.checkList"
    [html]="viewHtml"
    [contentBase]="_content"
    [activeTheme]="activeTheme"
  ></app-note-preview-text-list>
  <app-note-preview-text-list
    *ngSwitchCase="textType.numberList"
    [html]="viewHtml"
    [listNumber]="listNumber"
    [contentBase]="_content"
  ></app-note-preview-text-list>
  <app-note-preview-text-list
    *ngSwitchCase="textType.dotList"
    [html]="viewHtml"
    [contentBase]="_content"
    [activeTheme]="activeTheme"
  ></app-note-preview-text-list>
</ng-container>
