<div
  *ngIf="loaded"
  class="grid"
  [ngStyle]="{'opacity': noteService.murriService.flagForOpacity ? '1' : '0'}"
>
  <div
    #item
    class="grid-item"
    [id]="item.id"
    *ngFor="let item of noteService.entities"
    [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : '']"
  >
    <app-note
      [note]="item"
      [userId]="(user$ | async).id"
      (highlightNote)="noteService.highlightNote($event)"
      (clickOnNote)="noteService.toNote($event)"
      [ngStyle]="{'backgroundColor': item.color }"
      class="note"
    ></app-note>
  </div>
</div>
<app-no-results-illustration
  *ngIf="loaded && ((privateCount$ | async) ? false : true)"
  [isShow]="loaded && ((privateCount$ | async) ? false : true)"
  [message]="'noResult.privateNotes' | translate"
  [illustration]="pService.icon.privatesIllustration"
  typeClass="type-module"
></app-no-results-illustration>
