/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'generic';
@import 'scroll';
@import 'material/index';
@import "~highlight.js/styles/github-dark.css";

*,
::after,
::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

em {
  margin-right: 0.0625rem;
}

.wrapper-note, .note-preview-text { // ONLY FOR INNER NOTE
  a {
    cursor: pointer;
    text-decoration: underline;
    color: #5192ff;
  }
}

.note-preview-text {
  pointer-events: none;

  a {
    text-decoration: none;
  }
}

body,
html {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden; // if active allow do swipe for reloading page on mobile
  height: 100%;
}

[hidden] {
  display: none !important;
}

button,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 7px;
  min-height: 90px;
}

.full-note-selection {
  opacity: 0;
  display: block;
  position: absolute;
  background-color: rgba(41, 151, 255, 0.5);
}

.light {
  .highlight {
    background-color: #e7e7e7;
    font-weight: bold;
  }
}

.dark {
  .highlight {
    background-color: #0887a7;
    font-weight: bold;
  }
}
