/* You can add global styles to this file, and also import other style files */
body,html
    font-family: 'Roboto', sans-serif
    color: black
    margin: 0
    padding: 0
    overflow: hidden
    height: 100%
    
