/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'generic';
@import 'scroll';
@import 'material/index';

*,
::after,
::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

em {
  margin-right: 0.0625rem;
}

a:link, a:visited { // ONLY FOR INNER NOTE
  text-decoration: none;
  color: #4a8af4;
  cursor: pointer;
  text-decoration: underline;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

[hidden] {
  display: none !important;
}

button,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 7px;
  min-height: 90px;
}

.full-note-selection {
  opacity: 0;
  display: block;
  position: absolute;
  background-color: rgba(41, 151, 255, 0.5);
}
