/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

*, ::after, ::before{
    box-sizing: border-box
}

ul, ol{
    list-style: none
}
    
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul{
    margin: 0;
    padding: 0;
}

img, video{
    height: auto;
    max-width: 100%;
}

body,html{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

button {
    font-family: 'Roboto', sans-serif;
}

 
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}


