@import "variables";
@import 'header';


.custom-create {
    min-width: 150px;
}

@media (max-width: 1320px) {
    .select-all {
        .inner-content {
            p {
                display: none;
            }

            i {
                font-size: 1rem;
            }
        }
    }
    .custom-create {
        min-width: auto;
    }
}