:host {
  display: flex;
  width: 100%;
}

.button-container {
  margin: 1.5rem 2.25rem 1.25rem 2.25rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .save-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    border: 0.8px solid transparent;
    overflow: hidden;
    background-color: #34373e;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.875rem;
    outline: none;

    &:hover {
      background-color: #3a3e46;
    }

    span {
      position: relative;
      z-index: 5;
    }
  }
}
