<div class="wrapper">
    <div class="wrapper-user">
        <div class="header-user">
            <p>Friends</p>
        </div>
        <div class="header-new-user">
            <img src="assets/plusLabel.svg" class="size-image-plus">
            <p class="margin-add">Add new friends</p>
        </div>
        <div class="many-friends">
            <app-user></app-user>
            <app-user></app-user>
            <app-user></app-user>
            <app-user></app-user>
        </div>
    </div>
</div>
