div
    display: flex

.wrapper
    width: 100%
    justify-content: center
    .wrapper-user
        margin-top: 20px
        flex-direction: column
        width: 880px
        .header-user
            font-size: 40px
            color: #B8B8B8
            font-weight: 900
        .header-new-user
            flex-direction: row
            align-items: center
            color:#B8B8B8
            font-size: 30px
            font-weight: 900
            margin-top: 10px
            .size-image-plus
                width: 30px
            .margin-add
                margin-left: 10px
        .many-friends
            flex-direction: row
            justify-content: flex-start
            flex-wrap: wrap
            margin-top: 10px