<div class="user-shared-card">
  <div class="photo">
    <img
      alt="user image"
      *ngIf="!noPhoto"
      (error)="noPhoto = true"
      [src]="user.photoPath | getImage: user.id"
    />
    <div *ngIf="noPhoto" class="no-photo">
      <mat-icon svgIcon="people" [inline]="true"></mat-icon>
    </div>
  </div>
  <div class="user-info">
    <div class="name">
      <p>{{user.name}}</p>
    </div>
    <div class="email">
      <p>{{user.email}}</p>
    </div>
  </div>
  <div class="user-access-func">
    <button type="button" name="" (click)="changeUserPermission.emit(refType.Viewer)">
      <div class="icon" [ngClass]="(user.accessTypeId === refType.Viewer) ? 'black' : ''">
        <mat-icon [inline]="true">visibility</mat-icon>
      </div>
    </button>
    <div class="separator-buttons"></div>
    <button type="button" name="" (click)="changeUserPermission.emit(refType.Editor)">
      <div class="icon" [ngClass]="(user.accessTypeId === refType.Editor) ? 'black' : ''">
        <mat-icon [inline]="true">edit</mat-icon>
      </div>
    </button>
    <div class="separator-buttons"></div>
    <button type="button" name="" (click)="removeUserWithPermissions.emit()">
      <div class="icon black">
        <mat-icon [inline]="true">close</mat-icon>
      </div>
    </button>
  </div>
</div>
