<div *ngIf="loaded" class="grid" [ngStyle]="{'opacity': murriService.flagForOpacity ? '1' : '0'}">
  <div
    #item
    class="grid-item"
    id="{{item.id}}"
    *ngFor="let item of labelService.entities"
    [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : '']"
  >
    <app-label
      [label]="item"
      [selectedMode]="false"
      (restoreLabel)="restoreLabel($event)"
      (updateLabel)="update($event)"
      (deleteLabel)="delete($event)"
    ></app-label>
  </div>
</div>
<app-no-results-illustration
  *ngIf="pService.illustrationActive"
  [isShow]="pService.illustrationActive"
  [message]="'noResult.deletedLabels' | translate"
  [illustration]="pService.icon.allLabelIllustration"
  typeClass="type-module"
></app-no-results-illustration>
