@import 'variables';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  user-select: text;
}

.small-note {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  transition: 0.2s ease;

  .header {
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    padding: 0 0.425rem;
    border-radius: 5px 5px 0px 0px;
    transition: 0.2s ease;

    button {
      padding: 0 8px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 0;
      outline: none;
      user-select: none;
      cursor: pointer;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;

        mat-icon {
          height: 12px;
          width: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .redirect {
      padding: 0 6px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 0;
      outline: none;
      user-select: none;
      cursor: pointer;
      text-decoration: none;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease;

        mat-icon {
          height: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .content-small-note {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.75rem 1rem 1rem 1rem;

    .note-color {
      z-index: 52;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 0 0 40px;
      width: 22px;
      height: 22px;
    }

    .title-section {
      position: relative;
      display: flex;
      width: 100%;
      margin-bottom: 0.75rem;
      min-height: 22px;

      p {
        font-size: 1.25rem;
        font-weight: 700;
        padding-left: 0.625rem;
      }
    }

    .title:empty+.placeholder {
      display: block;
    }

    .title:empty~.left-border {
      width: 0;
      background-color: #7b7b7b;
    }

    .placeholder {
      display: none;
      position: absolute;
      top: 2px;
      left: 10px;
      pointer-events: none;
      user-select: none;
      color: #7b7b7b;
    }

    .content-note {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .turn-up-note>div:not(.title-section) {
    display: none;
  }

  .turn-up-note {
    .title-section {
      margin-bottom: 0;
    }
  }
}

.dark {
  background-color: $light-inner-color;

  .header {
    background-color: $header-small-note;

    button {
      .icon {
        color: $header-small-note-icon;
      }
    }
    .redirect {
      color: $header-small-note-icon;
    }
  }
}

.light {
  outline: 1px solid $light-separator;
  background-color: $light-color;
  color: $text-color;

  .header {
    background-color: $header-small-note-light;

    button {
      .icon {
        color: $header-small-note-icon-light;
      }
    }
    .redirect {
      color: $header-small-note-icon-light;
    }
  }
}