div
    display: flex
    
.profile-menu
    flex-direction: column
    width: 300px
    height: 250px
    background-color: rgba(251, 251, 251, 1)
    border-left: 1px solid
    border-bottom: 1px solid
    border-color: #D6D6D6
    border-radius: 0px 0px 0px 5px
    .profile-info
        flex-direction: row
        align-items: center
        padding: 0 10px
        width: 100%
        height: 100px
        border-bottom: 1px solid #D6D6D6
        transition: .2s ease-in-out
        .profile-image
            width: 60px
            height: 60px
            border-radius: 50%
            overflow: hidden
            cursor: pointer
            img
                width: 100%
        .profile-description
            flex-direction: column
            height: 60px
            width: calc(100% - 70px)
            justify-content: space-around
            margin-left: 10px
            p
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis 
                -o-text-overflow: ellipsis
            .profile-name
                font-weight: bold
                font-size: 22px
            .profile-mail
                font-size: 14px
        &:hover
            background-color: rgba(236, 236, 236, 1)
    .profile-settings
        flex-direction: column
        width: 100%
        height: 150px
        border-radius: 0px 0px 0px 5px
        .profile-field
            outline: none
            align-items: center
            padding: 10px 15px
            height: 100%
            width: 100%
            font-size: 18px
            color: #484848
            cursor: pointer
            transition: .2s ease-in-out
            &:nth-child(3)
                border-radius: 0px 0px 0px 5px
            &:hover
                background-color: rgba(236, 236, 236, 1)
            .profile-svg-icon
                width: 21px
                height: 21px
                svg
                    width: 100%
                    height: 100%
            .profile-field-text
                margin-left: 10px