<div appTheme class="root-menu-buttons-container">
  <div (mousedown)="preventUnSelection($event)" class="menu-buttons-container">
    <div
      *ngIf="_options?.isOneRowType"
      class="button"
      (mousedown)="transformContent($event, textType.heading, headingType.H1)"
      [ngClass]="{
        active: _options?.textType === textType.heading && _options?.headingType === headingType.H1
      }"
    >
      <div class="icon">
        <mat-icon svgIcon="h1" [inline]="true"></mat-icon>
      </div>
    </div>
    <div
      *ngIf="_options?.isOneRowType"
      class="button"
      (mousedown)="transformContent($event, textType.heading, headingType.H2)"
      [ngClass]="{
        active: _options?.textType === textType.heading && _options?.headingType === headingType.H2
      }"
    >
      <div class="icon">
        <mat-icon svgIcon="h2" [inline]="true"></mat-icon>
      </div>
    </div>
    <div
      *ngIf="_options?.isOneRowType"
      class="button"
      (mousedown)="transformContent($event, textType.heading, headingType.H3)"
      [ngClass]="{
        active: _options?.textType === textType.heading && _options?.headingType === headingType.H3
      }"
    >
      <div class="icon">
        <mat-icon svgIcon="h3" [inline]="true"></mat-icon>
      </div>
    </div>
    <div class="button" (mousedown)="setBoldStyle($event)" [ngClass]="{ active: _options?.isBold }">
      <div class="icon">
        <mat-icon svgIcon="bold" [inline]="true"></mat-icon>
      </div>
    </div>
    <div
      class="button"
      (mousedown)="setItalicStyle($event)"
      [ngClass]="{ active: _options?.isItalic }"
    >
      <div class="icon">
        <mat-icon svgIcon="italic" [inline]="true"></mat-icon>
      </div>
    </div>
    <div
      *ngIf="_options?.isOneRowType"
      class="button"
      (mousedown)="transformContent($event, textType.checkList)"
      [ngClass]="{ active: _options?.textType === textType.checkList }"
    >
      <div class="icon">
        <mat-icon svgIcon="listChecked" [inline]="true"></mat-icon>
      </div>
    </div>
    <div
      *ngIf="_options?.isOneRowType"
      class="button"
      (mousedown)="transformContent($event, textType.dotList)"
      [ngClass]="{ active: _options?.textType === textType.dotList }"
    >
      <div class="icon">
        <mat-icon svgIcon="listDot" [inline]="true"></mat-icon>
      </div>
    </div>
    <div
      *ngIf="_options?.isOneRowType"
      class="button"
      (mousedown)="transformContent($event, textType.numberList)"
      [ngClass]="{ active: _options.textType === textType.numberList }"
    >
      <div class="icon">
        <mat-icon svgIcon="list" [inline]="true"></mat-icon>
      </div>
    </div>
    <div class="button" [matMenuTriggerFor]="textColorMenu">
      <div class="icon" [ngStyle]="{ color: _options?.color }">
        <mat-icon svgIcon="textColor" [inline]="true"></mat-icon>
      </div>
    </div>
    <div class="button" [matMenuTriggerFor]="backgroundColorMenu">
      <div class="icon" [ngStyle]="{ color: _options?.backgroundColor }">
        <mat-icon svgIcon="textBackgroundColor" [inline]="true"></mat-icon>
      </div>
    </div>
    <div #linkMenuTrigger *ngIf="_options?.isOneRowType" class="button" (menuOpened)="menuOpened()" 
    (menuClosed)="menuClosed()" [matMenuTriggerFor]="linkMenu">
      <div class="icon">
        <mat-icon fontIcon="link" [inline]="true"></mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-menu
  [class]="theme === themeE.Dark ? 'dark-text-color-menu' : null"
  class="color-pallete-container"
  #textColorMenu="matMenu"
>
  <div appTheme (mousedown)="preventUnSelection($event)" class="text-color-menu-container">
    <div class="text-color-menu-header">
      <span class="default-text">{{ 'innerNote.text' | translate }}</span>
    </div>
    <div class="text-color-container">
      <app-color-pick-item
        *ngFor="let value of textColorPalete; let i = index"
        [name]="textsAnimals[value[0]] | translate"
        [isDefault]="i === 0"
        [color]="value[1]"
        [isBackground]="false"
        [theme]="theme"
        (pickColor)="setTextColor(value[1])"
      ></app-color-pick-item>
    </div>
  </div>
</mat-menu>
<mat-menu
  [class]="theme === themeE.Dark ? 'dark-text-color-menu' : null"
  class="color-pallete-container"
  #backgroundColorMenu="matMenu"
>
  <div appTheme (mousedown)="preventUnSelection($event)" class="text-color-menu-container">
    <div class="text-color-menu-header">
      <span class="default-text">{{ 'innerNote.text-color-menu.background' | translate }}</span>
    </div>
    <div class="text-color-container">
      <app-color-pick-item
        *ngFor="let value of textBackgroundPalete; let i = index"
        [name]="backgroundsAnimals[value[0]] | translate"
        [isDefault]="i === 0"
        [color]="value[1]"
        [isBackground]="true"
        [theme]="theme"
        (pickColor)="setBackground(value[1])"
      ></app-color-pick-item>
    </div>
  </div>
</mat-menu>
<mat-menu
  [class]="theme === themeE.Dark ? 'dark-text-color-menu' : null"
  class="color-pallete-container"
  #linkMenu="matMenu"
>
  <div appTheme (click)="preventUnSelection($event)" class="link-menu-container">
    <div class="link-input-container">
      <input [(ngModel)]="link" [placeholder]="'placeholder.emptyLink' | translate" type="text" size="10" />
    </div>
    <div class="link-buttons-container" [ngStyle]="{ justifyContent: hasInitialLink ? 'space-between' : 'center' }">
      <div *ngIf="link?.length > 0" (click)="updateLink($event)" class="text-link-button">
        <span #updateLinkButton>{{ 'modal.ColorModal.save' | translate }}</span>
        <div class="ripple-container" matRipple [matRippleTrigger]="updateLinkButton"></div>
      </div>
      <div *ngIf="hasInitialLink" (click)="deleteLink($event)" class="text-link-button">
        <span #removeLinkButton>{{ 'innerNote.menu.delete' | translate }}</span>
        <div class="ripple-container" matRipple [matRippleTrigger]="removeLinkButton"></div>
      </div>
    </div>
  </div>
</mat-menu>
