<app-left-section-wrapper [isProfileActive]="true">
  <div class="spinner-container">
    <app-spinner *ngIf="loading" [size]="14"></app-spinner>
  </div>
  <ng-container *ngIf="notes?.length > 0">
    <ng-scrollbar [visibility]="'hover'" [appearance]="'compact'" [autoHeightDisabled]="true">
      <ng-container *ngFor="let note of notes">
        <div appTheme class="left-section-notes-container">
          <div class="left-section-note default-text-size" (click)="onClickNote(note)">
            <div class="note-content-container">
              <div class="note-title-section">
                <div class="color-palette" [ngStyle]="{ backgroundColor: note.color }"></div>
                <div class="note-title">
                  <p *ngIf="note.title && note.title.length > 0">{{ note.title }}</p>
                  <p *ngIf="!note.title" class="empty-placeholder">
                    {{ 'placeholder.unnamedNote' | translate }}
                  </p>
                </div>
              </div>
              <div *ngIf="getBaseText(note).length > 0" class="note-content">
                <div *ngFor="let content of getBaseText(note)" class="preview-text">
                  <p>{{ content.getConcatedText() }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="left-section-note-separator"></div>
        </div>
      </ng-container>
    </ng-scrollbar>
  </ng-container>
</app-left-section-wrapper>