@import "variables";
@import 'header';


.hamburger {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;

    span,
    span::after,
    span::before {
        position: absolute;
        display: block;
        width: 22px;
        height: 2px;
        background-color: white;
        border-radius: 2px;
        transition: 0.2s ease;
    }

    span {
        &::after {
            content: "";
            top: 8px;
        }

        &::before {
            content: "";
            top: -8px;
        }
    }
}

.active-hamburger {
    &:first-child {
        span {
            transform: rotate(45deg);

            &::before {
                top: 0;
                transform: rotate(90deg);
            }

            &::after {
                top: 0;
            }
        }
    }
}

.light {
    .generic {
        background-color: white;
        border-color: transparent;
        span,
        span::before,
        span::after {
            background-color: $dark-color;
        }
    }
}

@media (max-width: 1024px) {
    .hamburger {
        display: flex;
    }
}

@media (max-width: 320px) {
    .generic {
        height: 26px;
        width: 26px;
        margin-right: 0.875rem;
    }
}