<div class="default-label">
    <div class="label-field" [ngStyle]="{backgroundColor: label.color}">
        <input class="text-label" (blur)="ChangeName()" [(ngModel)]="label.name" [ngStyle]="{'backgroundColor': label.color}" placeholder="Name your label...">
        <div class="options-label">
            <img src="assets/buttonList.svg"  [ngStyle]="{'transform': update == true ? 'rotate(180deg)' : 'rotate(0deg)' }"  class="image-options button-list-size" (click)="ChangeIcon()">
            <div class="note-info-line"></div>
            <img src="assets/buttonCancel.svg" class="image-options button-cancel-size" (click)="Delete()">
        </div>
    </div>
    <ul class="hidden-colors" *ngIf="update" [@slideInOut]>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#FFCDCD'}" (click)="ChangeColor('#FFCDCD')"></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#FFEBCD'}" (click)="ChangeColor('#FFEBCD')" ></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#FFFDCD'}" (click)="ChangeColor('#FFFDCD')"></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#DDFFCD'}" (click)="ChangeColor('#DDFFCD')" ></li>
        <li class="hidden-color-element" [ngStyle]="{'background-color': '#CDFFD8'}" (click)="ChangeColor('#CDFFD8')"></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#CDFFFC'}" (click)="ChangeColor('#CDFFFC')" ></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#CDEEFF'}" (click)="ChangeColor('#CDEEFF')" ></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#CDD5FF'}" (click)="ChangeColor('#CDD5FF')" ></li>
        <li class="hidden-color-element margin-colors" [ngStyle]="{'background-color': '#EFCDFF'}" (click)="ChangeColor('#EFCDFF')" ></li>
        <li class="hidden-color-element" [ngStyle]="{'background-color': '#FFCDF4'}" (click)="ChangeColor('#FFCDF4')" ></li>
    </ul>
</div>
