<div appTheme class="playlist-options">
  <div class="title">
    <p
      class="collection-title-text-id"
      #titleHtml
      (input)="onTitleChangeInput($event)"
      (click)="onClick()"
      (selectstart)="onSelectStart()"
      [textContent]="viewTextContent"
      [attr.contenteditable]="!isReadOnlyMode && !isSelectionStart"
      (keydown.enter)="preventEnter($event)"
    ></p>
    <div
      *ngFor="let cursor of uiCursors$ | async"
      class="collaborative-cursor"
      [ngStyle]="{
        top: cursor.cursorTop + 'px',
        left: cursor.cursorLeft + 'px',
        backgroundColor: cursor.color
      }"
    ></div>
    <div *ngIf="isContentEmpty()" class="placeholder">{{ 'placeholder.playlist' | translate }}</div>
  </div>
  <app-button-collection
    *ngIf="!isDisableButton"
    [ngStyle]="{ opacity: isButtonActive ? '1' : '0' }"
    [matMenuTriggerFor]="menu"
    [button]="'more_horiz'"
  ></app-button-collection>
</div>
