<div *ngIf="note$ | async" appTheme class="interactions">
  <app-full-note-active-users class='app-active-users'></app-full-note-active-users>

  <app-menu
    class='app-menu'
    [items]="
      buttonService.getNoteMenuByNoteType(noteType$ | async)
        | manageMenuButtons: pB.IsCanEditFullNote:pB.IsOwnerFullNote:pB.isFullNoteNoShared
    "
    *ngIf="pService.hideInnerMenu"
    [@showMenuLeftRight]
    [@.disabled]="!pService.widthMoreThan1024()"
  ></app-menu>

  <app-general-header-button
    class='app-history'
    (clickEvent)="openHistoriesPopup()"
    [message]="'menu.history' | translate"
    styleClasses="generic-2 history"
  ></app-general-header-button>

  <app-general-header-button
    *ngIf="pService.isActiveFullNoteMobileButtons$ | async"
    (clickEvent)="openRelatedNotesPopup()"
    [tooltipMessage]="'modal.relatedNotesPopup.relatedNotes' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2"
    iconClass="notes"
  ></app-general-header-button>

  <app-general-header-button
    *ngIf="pService.isActiveFullNoteMobileButtons$ | async"
    (clickEvent)="buttonService.openShareWithNotes()"
    [tooltipMessage]="'menu.share' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2"
    iconClass="share"
  ></app-general-header-button>

  <app-general-header-button
    *ngIf="pService.isActiveFullNoteMobileButtons$ | async"
    (clickEvent)="hideMenu()"
    [tooltipMessage]="'header.menu' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 more_vert"
    iconClass="more_vert"
    [isDefault]="true"
  ></app-general-header-button>

  <div class="overlay" (click)="closeMenu()"></div>
</div>
