<div *ngIf="(note$ | async) && (canView$ | async)" appTheme class="interactions">
  <app-full-note-active-users></app-full-note-active-users>
  <app-menu
    class="menu-inner"
    [items]="buttonService.items | manageMenuButtons:(isOwner$ | async)"
    *ngIf="pService.hideInnerMenu"
    [@showMenuLeftRight]
    [@.disabled]="pService.AnimationInnerMenu"
  ></app-menu>

  <app-general-header-button
    (clickEvent)="pService.toggleHistoryMethod()"
    [message]="('menu.history' | translate)"
    styleClasses="generic-2 history"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="dialogsManageService.changeLabels()"
    [tooltipMessage]="'menu.label' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 mobile-buttons"
    iconClass="label"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="dialogsManageService.shareEntity()"
    [tooltipMessage]="'menu.share' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 mobile-buttons"
    iconClass="share"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="hideMenu()"
    [tooltipMessage]="'header.menu' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 more_vert"
    iconClass="more_vert"
    [isDefault]="true"
  ></app-general-header-button>
</div>
