<div *ngIf="(note$ | async) && (canView$ | async)" appTheme class="interactions">
  <div
    [CustomTooltip]="'header.countUsers' | translate"
    position="Bottom"
    class="user-circle"
    (click)="showUsers()"
    #userCircle
  >
    <p>{{(onlineUsers$ | async).length}}</p>
    <div class="ripple-container" matRipple [matRippleTrigger]="userCircle"></div>
  </div>
  <div
    class="wrapper-people"
    #scrollbar
    *ngIf="pService.users"
    [@showMenuLeftRight]
    [@.disabled]="pService.AnimationInnerUsers"
  >
    <div class="people-editing" #heightPeople>
      <div
        class="person"
        *ngFor="let item of onlineUsers$ | async"
        CustomTooltip="{{item.name}}"
        position="Bottom"
        [flagDisable]="disableTooltpUser()"
      >
        <div class="inner-person">
          <img [src]="item.photoPath" alt="contributor" />
        </div>
        <p>{{item.name}}</p>
      </div>
    </div>
  </div>

  <app-menu
    class="menu-inner"
    [items]="buttonService.items | manageMenuButtons:(isOwner$ | async)"
    *ngIf="pService.hideInnerMenu"
    [@showMenuLeftRight]
    [@.disabled]="pService.AnimationInnerMenu"
  ></app-menu>

  <app-general-header-button
    (clickEvent)="pService.toggleHistoryMethod()"
    [message]="('menu.history' | translate)"
    styleClasses="generic-2 history"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="dialogsManageService.changeLabels()"
    [tooltipMessage]="'menu.label' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 mobile-buttons"
    iconClass="label"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="dialogsManageService.shareEntity()"
    [tooltipMessage]="'menu.share' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 mobile-buttons"
    iconClass="share"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="hideMenu()"
    [tooltipMessage]="'header.menu' | translate"
    tooltipPosition="Bottom"
    styleClasses="generic-2 more_vert"
    iconClass="more_vert"
    [isDefault]="true"
  ></app-general-header-button>

  <div class="overlay" (click)="closeMenu()"></div>
</div>
