@import 'header-components';

.interactions {
  justify-content: flex-start;
  width: 100%;

  ::-webkit-scrollbar {
    height: 3px;
  }
}

.interactions > button,
.menu-inner {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.light {
  .menu-inner {
    border-color: $light-button;
    background-color: white;
    color: $light-text-color;
  }
}

.dark {
  .menu-inner {
    border-color: transparent;
    background-color: $dark-button;
  }
}

@media (max-width: 1024px) {
  .visible {
    button,
    .menu-inner {
      display: block;
    }
  }

  .interactions {
    width: 100%;
    justify-content: flex-end;

    .menu-inner {
      position: absolute;
      z-index: $header-menu;
      top: 50px;
      right: 4vw;
      margin-right: 0;
    }
  }
}

@media (max-width: 320px) {
  .interactions {
    .menu-inner {
      top: 45px;
    }
  }
}
