@import 'header-components';

.interactions {
  justify-content: space-between;
  width: 100%;

  ::-webkit-scrollbar {
    height: 3px;
  }
}

@media (max-width: 1440px) {
  .interactions {
    ng-scrollbar {
      max-height: 410px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .visible-people {
    $header-wrapper-people: 50;
    .user-circle,
    .wrapper-people {
      z-index: $header-wrapper-people;
    }

    .overlay {
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .interactions {
    width: 100%;
    justify-content: flex-end;
  }
}
