<div appTheme>
  <div class="mail-notification">
    <div class="interaction-mail">
      <div class="interaction-buttons">
        <app-select
          class="dropdown-button"
          [translate]="'modal.shareModal'"
          [selectValue]="refType[defaultRefType]"
          (selectValueChange)="refTypeNotification($event)"
        >
          <app-select-option *ngFor="let item of refTypes" [value]="item">
            {{ ('modal.shareModal.' + item) | translate }}
          </app-select-option>
        </app-select>
        <button
          class="send-button"
          type="button"
          #changeAccessRipple
          (click)="applyForm.emit(form)"
        >
          <div class="content-button">
            <p>{{ 'modal.shareModal.send' | translate }}</p>
          </div>
          <div class="ripple-container" matRipple [matRippleTrigger]="changeAccessRipple"></div>
        </button>
      </div>
    </div>
  </div>
</div>
