@import 'variables';

:host {
  display: flex;
}

.audio-content {
  display: flex;
  width: 100%;

  .playlist {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px); // 40px drag handler
  }

  .drop-active {
    outline: 1px solid white;
  }
}
