<ng-container *ngIf="folder$ | async">
  <app-general-header-button *ngIf="(canEdit$ | async) && (pService.isMenuActive$ | async) === false
    " (clickEvent)="addNotesToFolderHandler()" [message]="'header.manage' | translate" [iconClass]="'notes'"
    [styleClasses]="'generic-unfixed-150 generic-hide-text'" [theme]="theme$ | async"></app-general-header-button>

  <app-general-header-button [ngStyle]="{
      display: (isNewButtonActive$ | async) ? 'block' : 'none'
    }" (clickEvent)="newButton()" [message]="'new.' + (route$ | async) | translate" [iconClass]="'plus'"
    [styleClasses]="'generic-unfixed-150 generic-create generic-hide-text'" [styleType]="buttonStyleType.Dark"
    [theme]="theme$ | async"></app-general-header-button>

  <app-general-header-button *ngIf="pService.isInnerFolderSelectAllActive$ | async" (clickEvent)="selectAll()"
    [isClassOnSize]="
      (pService.isMenuActive$ | async) === true && (pService.isHideTextOnSmall$ | async) === true
    " [classOnSize]="'hide-tag-text'" [message]="'header.select' | translate" [iconClass]="'select'"
    [styleClasses]="'generic-unfixed-150 generic-hide-text'" [styleType]="buttonStyleType.Dark"
    [theme]="theme$ | async"></app-general-header-button>

  <app-general-header-button *ngIf="(pService.isMenuActive$ | async) === true" (clickEvent)="unselectAll()"
    [isClassOnSize]="
      (pService.isMenuActive$ | async) === true && (pService.isHideTextOnSmall$ | async) === true
    " [classOnSize]="'hide-tag-text'" [message]="('header.selected' | translate) + ' ' + countSelected"
    [iconClass]="'plus'" [styleClasses]="'generic-unfixed-150 rotate'" [styleType]="buttonStyleType.Dark"
    [theme]="theme$ | async"></app-general-header-button>

  <div class="interactions menu" *ngIf="isSelectedNotes$ | async" [@showMenuLeftRight]
    [@.disabled]="(pService.widthMoreThan1024$ | async) === false">
    <app-menu [items]="
      (menuButtonService.items | async)
          | manageMenuButtons
            : pB.IsCanEditFullFolderNotes
            : pB.IsOwnerFullFolderNotes
            : pB.isAllFullFolderNotesNoShared
      "></app-menu>
  </div>
</ng-container>