<div appTheme class="outer">
    <div class="header">
        <span>{{ 'modal.labelModal.Labels' | translate }}</span>
        <i class="icon-plus" mat-dialog-close></i>
    </div>
    <div class="search">
        <div class="search-content">
            <app-search (changeOutput)="changed($event)"></app-search>
        </div>
        <button name="create label" type="button" class="button-plus" #createLabel (click)="newLabel()">
            <div class="inner-content">
                <i class="icon-plus"></i>
            </div>
            <div class="ripple-container" matRipple [matRippleTrigger]="createLabel"></div>
        </button>
    </div>
    <ng-scrollbar class="label-container"
        *ngIf="loaded"
        [@smoothOpacity]
        [visibility]="'hover'"
        [appearance]="'compact'">
        <div class="content-inner">
            <div *ngFor="let item of labels | searchLabel: searchStr" class="label">
                <app-label [label]="item" (updateLabel)="update($event)" [selectedMode]="true" (deleteLabel)="delete($event)">
                </app-label>
            </div>
        </div>
    </ng-scrollbar>
    <app-spinner *ngIf="!loaded"></app-spinner>
</div>