@import 'variables';


.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 16px;

    span {
        font-weight: 500;
        font-size: 0.875rem;
    }

    i {
        cursor: pointer;
        transform: rotate(45deg);
    }
}

.content_editing_label {
    .search {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 38px;
        margin-right: 38px;

        .search-content {
            display: flex;
            width: calc(100% - 34px);

            input[type="search"] {
                height: 36px;
                width: calc(100% - 36px);
                background-color: $light-billing-field;
                border: 0;
                border-radius: 10px 0 0 10px;
                padding: 0;
                padding-left: 15px;
                padding-right: 5px;
                font-size: 1.125rem;
                user-select: none;
                outline: none;
                color: #5C5C5C;
                transition: 0.2s ease;
            }

            .button {
                background: #E3E3E3;
                border-radius: 0px 10px 10px 0px;
                width: 42px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;

                i::before {
                    transition: 0.2s ease;
                    color: #969696;
                }
            }
        }

        &>i {
            cursor: pointer;

            &::before {
                font-size: 1.25rem;
            }
        }
    }

    .labels {
        margin-top: 20px;
        margin-left: 38px;
        height: 380px;

        .label-container {
            display: flex;
            height: 100%;
            width: 100%;
            overflow-y: auto;

            .label {
                display: flex;
                flex-direction: column;           
                width: calc(100% - 36px);

                &:not(:first-child) {
                    margin-top: 20px;
                }
            }
        }
    }
}
