@import 'variables';
@import 'generic';

:host {
  display: flex;
  height: 475px;
  width: 450px;
}

.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    padding: 0 2.25rem;

    .search-content {
      display: flex;
      width: calc(100% - 42px);
    }

    .button-plus {
      position: relative;
      height: 34px;
      width: 34px;
      margin-left: 0.5rem;
      border: none;
      background-color: transparent;
      padding: 0;
      outline: none;
      overflow: hidden;
      user-select: none;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.2s ease;
      color: white;

      &:hover {
        background-color: rgba(#000000, 0.1);
      }

      .inner-content {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.25rem;
      }
    }
  }

  .label-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 121px);
    width: 100%;
    margin: 1.25rem 0;

    .content-inner {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0 2.25rem;

      .label {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
}

.light {
  .search {
    .button-plus {
      color: gray;
    }
  }
}

@media (max-width: 1024px) {
  .outer {
    .header {
      padding: 0.625rem 1.5rem 0 1.5rem;
    }

    .search {
      padding: 0 2.5rem;
    }

    .label-container {
      .content-inner {
        width: calc(100% - 3.75rem);
        padding: 0 0.625rem;
        margin: 0 1.875rem;
      }
    }
  }
}

@media (max-width: 600px) {
  :host {
    width: 90vw;
    height: 90vh;
  }
}
