<div appTheme class="outer">
  <app-dialog-generic-header
    [message]="'modal.labelModal.Labels' | translate"
  ></app-dialog-generic-header>
  <div class="search">
    <div class="search-content">
      <app-search (changeOutput)="changed($event)"></app-search>
    </div>
    <button name="create label" type="button" class="button-plus" #createLabel (click)="newLabel()">
      <div class="inner-content">
        <div class="icon">
          <mat-icon svgIcon="plus" [inline]="true"></mat-icon>
        </div>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="createLabel"></div>
    </button>
  </div>
  <div class="content-container">
    <ng-scrollbar
      class="label-container"
      [@smoothOpacity]
      [visibility]="'hover'"
      [appearance]="'compact'"
    >
      <div *ngIf="loaded" class="content-inner">
        <div
          *ngFor="let item of labels$ | async | searchLabel: searchStr; trackBy: trackByFn"
          class="label"
        >
          <app-label
            [label]="item"
            [isSelected]="isSelected(item.id)"
            (updateLabel)="update($event)"
            [selectedMode]="true"
            (deleteLabel)="deleteLabel($event)"
            (selectLabel)="onSelectLabel($event, item)"
          >
          </app-label>
        </div>
      </div>
    </ng-scrollbar>
    <app-spinner *ngIf="!loaded"></app-spinner>
    <app-no-results-illustration
      *ngIf="loaded && ((countAll$ | async) ? false : true)"
      [isShow]="loaded && ((countAll$ | async) ? false : true)"
      [message]="'noResult.allLabels' | translate"
      [illustration]="pService.icon.allLabelIllustration"
      typeClass="popup-module"
    ></app-no-results-illustration>
  </div>
</div>
