main {
  height: 100vh;
  background: #26282d; 
  &::-webkit-scrollbar {
    display: none;
  }
  .logo-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .button-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}