<div class="landing-content">
  <header>
    <div class="left-section">
      <img src="assets/landing/logo.svg" />
    </div>
    <div class="middle-section"></div>
    <div class="right-section">
      <div id="loginGoogle2"></div> 
    </div>
  </header>
  <main>
    <div class="f-block block-generic">
      <div class="left-section">
        <div class="container">
          <div class="text-container">
            <h1>Simple</h1>
            <h1>Intuitive</h1>
            <h1>Note-taking app</h1>
          </div>
          <div class="button-container">
            <div id="loginGoogle1"></div> 
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="container">
          <div class="first-column column">
            <div class="photo">
              <img src="assets/landing/f-f-note.svg" />
            </div>
            <div class="photo">
              <img src="assets/landing/f-s-note.svg" />
            </div>
          </div>
          <div class="second-column column">
            <div class="photo">
              <img src="assets/landing/s-f-note.svg" />
            </div>
            <div class="photo">
              <img src="assets/landing/s-s-note.svg" />
            </div>
          </div>
          <div class="third-column column">
            <div class="photo">
              <img src="assets/landing/t-f-note.svg" />
            </div>
            <div class="photo">
              <img src="assets/landing/t-s-note.svg" />
            </div>
            <div class="photo">
              <img src="assets/landing/t-t-note.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</div>
