<div class="interactions" [ngClass]="[pService.hideInnerMenu ? 'visible' : '', (theme$ | async) === theme.Light ? 'light' : '', pService.users ? 'visible-people' : '']">
    <div CustomTooltip="{{ 'header.countUsers' | translate }}" position="Bottom" class="user-circle" (click)="showUsers()" #userCircle>
        <p>8</p>
        <div class="ripple-container" matRipple [matRippleTrigger]="userCircle"></div>
    </div>
    <div class="wrapper-people" *ngIf="pService.users" [@showMenuLeftRight]
        [@.disabled]="pService.AnimationInnerUsers">
        <ngx-simplebar [options]="pService.optionsScroll" class="people-editing">
            <div class="person" *ngFor="let item of user" CustomTooltip="{{item}}" position="Bottom" flagDisable="{{ disableTooltpUser() }}">
                <div class="inner-person">
                    <img src="https://aif-s3.aif.ru/images/018/931/90c365f50b5b311c39ea69d3e4d84345.jpg"
                        alt="contributor">
                </div>
                <p>12321321321333333333333333333333333333333333333333333333333</p>
            </div>
        </ngx-simplebar>
    </div>
    <button CustomTooltip="{{ 'header.video' | translate }}" position="Bottom" name="Filter" type="button" class="generic generic-2" #video>
        <div class="inner-content">
            <i class="icon-video"></i>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="video"></div>
    </button>

    <app-menu class="menu-inner menu-inner-fixed" *ngIf="pService.hideInnerMenu" [@showMenuLeftRight]
        [@.disabled]="pService.AnimationInnerMenu"></app-menu>

    <button name="History" type="button" class="generic generic-2 history" #history
        (click)="pService.toggleHistoryMethod()">
        <div class="inner-content">
            <p>{{ 'menu.history' | translate }}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="history"></div>
    </button>
    <button CustomTooltip="{{ 'menu.label' | translate }}" position="Bottom" name="label" type="button" class="generic generic-2 mobile-buttons" #label>
        <div class="inner-content">
            <i class="icon-label"></i>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="label"></div>
    </button>
    <button CustomTooltip="{{ 'menu.shared' | translate }}" position="Bottom" name="shared" type="button" class="generic generic-2 mobile-buttons" #shared>
        <div class="inner-content">
            <i class="icon-shared"></i>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="shared"></div>
    </button>
    <div CustomTooltip="{{ 'header.menu' | translate }}" position="Bottom" class="three-dots mobile-buttons" (click)="hideMenu()" #dots>
        <span></span>
        <div class="ripple-container" matRipple [matRippleTrigger]="dots"></div>
    </div>
    <div class="overlay" (click)="closeMenu()"></div>
</div>