.is-selected {
  box-shadow: 0 0 0 2px #0887a7;
}

.document-content {
  display: flex;
  width: 100%;

  .playlist {
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  .drop-active{
    outline: 1px solid white;
  }
}
