<div appTheme class="note-container" [ngStyle]="{'backgroundColor': note.color }">
  <div
    #highlightNote
    class="highlighting-note"
    (click)="highlight()"
    [ngStyle]="{ backgroundColor: isSelected ? 'rgba(101, 226, 113, 0.65)' : '', cursor: highlightCursorActive ? 'pointer' : 'initial' }"
    [ngClass]="(fontSize$ | async) === fontSize.Big ? 'big-select' : ''"
  >
    <div
      *ngIf="note.lockRedirect"
      class="ripple-container"
      matRipple
      [matRippleTrigger]="highlightNote"
    ></div>
  </div>
  <div
    (click)="toNote(note)"
    class="note-inner"
    [ngStyle]="{ cursor: note.lockRedirect ? 'pointer' : '' }"
    [ngClass]="[
      pService.orientationMobile ? 'small' : '',
      (fontSize$ | async) === fontSize.Big ? 'big-size' : ''
    ]"
  >
    <div class="labels" *ngIf="note.labels.length">
      <div
        class="label"
        *ngFor="let label of note.labels | lastTwoNoDeletedLabels; let l = count"
        [ngStyle]="getLabelMaxWidth(l, label.color)"
        [CustomTooltip]="label.name"
        position="Top"
        [labelColor]="label.color"
      >
        <p>{{ label.name }}</p>
      </div>
    </div>
    <div class="header">
      <h4 *ngIf="title; else notNamed">{{ title }}</h4>
      <ng-template #notNamed>
        <h4 class="not-named">{{ 'placeholder.noteSmall' | translate }}</h4>
      </ng-template>
    </div>
    <ng-container *ngFor="let content of getContents; let i = index" [ngSwitch]="content.typeId">
      <app-note-preview-text
        *ngSwitchCase="contentType.Text"
        [content]="content"
        [listNumber]="getNumberList(content, i)"
      ></app-note-preview-text>
      <app-note-preview-photos
        *ngSwitchCase="contentType.Photos"
        [content]="content"
      ></app-note-preview-photos>
      <app-note-preview-documents
        *ngSwitchCase="contentType.Documents"
        [content]="content"
      ></app-note-preview-documents>
      <app-note-preview-videos
        *ngSwitchCase="contentType.Videos"
        [content]="content"
      ></app-note-preview-videos>
      <app-note-preview-audios *ngSwitchCase="contentType.Audios" [content]="content">
      </app-note-preview-audios>
    </ng-container>
    <div class="footer">
      <div class="date">
        <p>{{ (date ?? note.updatedAt) | dateFromNow }}<span>{{ size }}</span></p>
      </div>
      <div class="help-icons">
        <div
          *ngIf="isShowWrightRead && note.isCanEdit && !isAuthor"
          class="icon"
          [CustomTooltip]="'entity-bottom-tooltip.editNote' | translate"
        >
          <mat-icon svgIcon="bigPencil" [inline]="true"></mat-icon>
        </div>
        <div
          *ngIf="isShowWrightRead && !note.isCanEdit && !isAuthor"
          class="icon"
          [CustomTooltip]="'entity-bottom-tooltip.readNote' | translate"
        >
          <mat-icon svgIcon="glas" [inline]="true"></mat-icon>
        </div>
        <div
          *ngIf="noteType.Shared === note.noteTypeId && isAuthor"
          class="icon"
          [CustomTooltip]="'entity-bottom-tooltip.owner' | translate"
        >
          <mat-icon svgIcon="people" [inline]="true"></mat-icon>
        </div>
        <div
          *ngIf="note.additionalInfo?.isHasUserOnNote"
          class="icon"
          [CustomTooltip]="'entity-bottom-tooltip.hasUsersNote' | translate"
        >
          <mat-icon svgIcon="people-many" [inline]="true"></mat-icon>
        </div>
        <div *ngIf="hasRelatedNotes" class="icon" [CustomTooltip]="relatedNotesMessage">
          <mat-icon svgIcon="notes" [inline]="true"></mat-icon>
        </div>
        <div *ngIf="hasFolderNotes" class="icon" [CustomTooltip]="foldersNotesMessage">
          <mat-icon svgIcon="folders" [inline]="true"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
