<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <app-drag-drop-handler-container [isShow]="isMouseOver"
    ><ng-content *ngIf="!isReadOnlyMode"></ng-content
  ></app-drag-drop-handler-container>
  <div class="number-list">
    <div class="number-container">
      <div class="number">{{ content.number }}.</div>
    </div>
    <div class="text-container">
      <p
        class="block-generic default-text-size"
        #contentHtml
        [attr.contenteditable]="!isReadOnlyMode"
        [innerHTML]="viewHtml"
        (input)="onInput($event)"
      ></p>
      <p class="no-content-list" *ngIf="isActive">Text</p>
    </div>
  </div>
</div>
