<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <div class="icon-container">
    <div *ngIf="isMouseOver" class="drag-handler">
      <ng-content></ng-content>
    </div>
  </div>
  <div
    class="number-list"
    [ngClass]="{
      bold: content.isBold,
      italic: content.isItalic
    }"
  >
    <div class="number-container">
      <div class="number">{{ content.number }}.</div>
    </div>
    <div class="text-container">
      <p
        class="block-generic default-text-size"
        #contentHtml
        [attr.contenteditable]="!isReadOnlyMode"
        (input)="onInput($event)"
        [textContent]="content?.content"
      ></p>
      <p class="no-content-list" *ngIf="isActive">Item</p>
    </div>
  </div>
</div>
