div
    display: flex

.wrapper
    width: 100%
    justify-content: center
    .wrapper-user
        margin-top: 20px
        flex-direction: column
        width: 880px
        .header-user
            font-size: 40px
            color: #B8B8B8
            font-weight: 900
        .header-new-user
            flex-direction: row
            align-items: center
            color:#B8B8B8
            font-size: 30px
            font-weight: 900
            margin-top: 10px
            width: auto
            cursor: pointer
            .size-image-plus
                width: 30px
            .margin-add
                margin-left: 10px
        .many-friends
            flex-direction: row
            justify-content: flex-start
            flex-wrap: wrap
            margin-top: 10px
        
@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .wrapper
        .wrapper-user
            margin-top: 10px
            width: 680px
            .header-user
                font-size: 35px
            .header-new-user
                font-size: 25px
                margin-top: 10px
                .size-image-plus
                    width: 25px
            .many-friends
                margin-top: 5px
@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .wrapper
        .wrapper-user
            margin-top: 10px
            width: 430px
            .header-user
                font-size: 35px
            .header-new-user
                font-size: 25px
                margin-top: 10px
                .size-image-plus
                    width: 25px
            .many-friends
                margin-top: 0px

@media (min-width: 480px) and (max-width: 767px) //large phone
    .wrapper
        .wrapper-user
            margin-top: 10px
            width: 430px
            .header-user
                font-size: 35px
            .header-new-user
                font-size: 25px
                margin-top: 10px
                .size-image-plus
                    width: 25px
            .many-friends
                margin-top: 5px

@media (min-width: 320px) and (max-width: 479px) //phone
    .wrapper
        .wrapper-user
            margin-top: 5px
            width: 310px
            .header-user
                font-size: 30px
            .header-new-user
                font-size: 20px
                margin-top: 5px
                .size-image-plus
                    width: 25px
            .many-friends
                margin-top: 0px

@media (min-width: 150px) and (max-width: 319px) //min width
    .wrapper
        .wrapper-user
            margin-top: 5px
            width: 240px
            .header-user
                font-size: 30px
            .header-new-user
                font-size: 20px
                margin-top: 5px
                .size-image-plus
                    width: 25px
            .many-friends
                margin-top: 0px