<div class="wrapper-main">
    <div class="wrapper-items">
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
        <app-container class="folder"></app-container>
    </div>
</div>