div
    display: flex
    
.wrapper-main
    width: 100%
    justify-content: center
    height: calc(100% - 50px)
    overflow: overlay
    .wrapper-notes
        margin-top: 20px
        width: 1120px
        flex-wrap: wrap
        justify-content: flex-start
        align-content: flex-start
        transition: .2s ease
        .note
            transition: .2s ease
            margin: 40px 40px 40px 0
            &:nth-child(3n)
                margin-right: 0px

.wrapper-more
    .wrapper-notes
        width: 1500px !important
        .note
            &:nth-child(3n)
                margin-right: 20px
            &:nth-child(4n)
                margin-right: 0px