@import 'variables';

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.muuri-item-dragging {
  .note {
    box-shadow: 0 0 0 2px rgb(236, 236, 236);
  }
}

.label-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  .label-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: calc(100% - 3rem);
    margin: 0 1.5rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border-radius: 2px;
    background-color: white;
    color: black;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s ease;
    font-size: 0.75rem;
  }

  .label-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .label {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 3rem);
      margin: 0 1.5rem;
      margin-bottom: 0.625rem;
      cursor: pointer;

      &:first-child {
        margin-top: 0.625rem;
      }

      .dot {
        position: absolute;
        left: 0;
        margin-right: 0.3125rem;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $red-label;
        transition: 0.2s ease;
      }

      .label-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        width: 100%;
        padding: 0 0.5rem;
        border-radius: 2px;
        color: #393939;
        background-color: $red-label;
        font-size: 0.75rem;

        .label-item-title {
          @include text-overflow;
          width: calc(100% - 0.75rem);
        }

        .empty-placeholder{
          color: #808080;
        }
      }
    }

    .active-label {
      margin: 0 0.875rem 0.625rem 1.5rem;
      width: calc(100% - 2.375rem);
      padding-left: 0.625rem;
    }
  }
}

.active-select {

  .label-container {
    height: calc(100% - 40px);

    .label:first-child {
      margin-top: 0;
    }
  }
}

.light {
  .label-cancel {
    color: $light-text-color;
    border: 1px solid #d8d8d8;
  }
}

@media (max-width: 1024px) {
  .label-section {

    .label-cancel {
      margin-right: 1rem;
      margin-left: 1rem;
      width: calc(100% - 2rem);
    }

    .label-container {
      .label {
        margin-right: 1rem;
        margin-left: 1rem;
        width: calc(100% - 2rem);
      }

      .active-label {
        margin: 0 0.5rem 0.625rem 1rem;
        width: calc(100% - 1.5rem);
        padding-left: 0.625rem;
      }
    }
  }
}