<app-left-section-wrapper [isProfileActive]="true">
  <app-nav-menu-item
    [count]="countPrivate | async"
    [navName]="'subMenu.personal'"
    [routerLink]="'/notes'"
  ></app-nav-menu-item>

  <app-nav-menu-item
    [count]="countShared | async"
    [navName]="'subMenu.shared'"
    [routerLink]="'/notes/shared'"
  ></app-nav-menu-item>

  <app-nav-menu-item
    [count]="countArchive | async"
    [navName]="'subMenu.archive'"
    [routerLink]="'/notes/archive'"
  ></app-nav-menu-item>

  <app-nav-menu-item
    [count]="countDeleted | async"
    [navName]="'subMenu.bin'"
    [routerLink]="'/notes/deleted'"
  ></app-nav-menu-item>

  <div class="separator"></div>

  <div *ngIf="loaded" appTheme class="label-section" [ngClass]="labelsActive ? 'active-select' : ''">
    <div *ngIf="labelsActive" class="label-cancel" (click)="cancelLabel()">
      <p>{{ 'subMenu.cancel' | translate }}</p>
    </div>
    <ng-scrollbar class="label-container" [visibility]="'hover'" [appearance]="'compact'">
      <div
        *ngFor="let item of labelsFilters"
        class="label"
        (click)="filterNotes(item.label.id)"
        [ngClass]="item.selected ? 'active-label' : ''"
      >
        <div class="label-item" [ngStyle]="{ backgroundColor: item.label.color }">
          <p *ngIf="item.label.name && item.label.name.length > 0" class="label-item-title">
            {{ item.label.name }}
          </p>
          <p *ngIf="!item.label.name" class="label-item-title empty-placeholder">
            {{ 'placeholder.unnamedLabel' | translate }}
          </p>
          <p>{{ item.label.countNotes }}</p>
          <div class="dot" [ngStyle]="{ backgroundColor: item.label.color }"></div>
        </div>
      </div>
    </ng-scrollbar>
  </div>
</app-left-section-wrapper>

<div
  class="content-generic-project"
  [ngStyle]="{
    'background-image': (userBackground$ | async) ? 'url(' + (userBackground$ | async) + ')' : ''
  }"
>
  <ng-scrollbar class="scroll-helper" [visibility]="'hover'" [appearance]="'compact'">
    <div class="content-inner">
      <router-outlet></router-outlet>
    </div>
  </ng-scrollbar>
  <app-spinner [size]="30" *ngIf="pService.spinnerActive"></app-spinner>
</div>
<div class="drag-helper main-helper"></div>
