<app-header id="app-header" class="header"></app-header>
<main appTheme>
  <app-side-bar class="sidebar nope-select"></app-side-bar>
  <router-outlet></router-outlet>
  <button
    type="button"
    name="Add button"
    class="add-mobile"
    #addMobile
    (click)="pService.newButtonSubject.next(true)"
    *ngIf="(newButtonActive$ | async) || ((isFolderInner$ | async) && (isFullFolderOwner$ | async))"
    [ngClass]="
      audioService.currentFile ? 'add-mobile-position-audio' : 'add-mobile-position-default'
    "
  >
    <div class="icon">
      <mat-icon svgIcon="plus" [inline]="true"></mat-icon>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="addMobile"></div>
  </button>
  <div *ngIf="audioService.currentFile" class="player-container">
    <app-audio-controls></app-audio-controls>
  </div>
  <app-long-term-operations-handler></app-long-term-operations-handler>
</main>
<app-generic-delete-entity-message
  *ngIf="isMesageActive$ | async"
  [message]="getMessage(routing$ | async) | translate: { days: getDays(routing$ | async) }"
></app-generic-delete-entity-message>
