<app-header class="header"></app-header>
<main appTheme (window:resize)="pService.onResize()">
  <app-side-bar class="sidebar"></app-side-bar>
  <router-outlet></router-outlet>
  <button
    type="button"
    name="Add button"
    class="add-mobile"
    #addMobile
    (click)="pService.newButtonSubject.next(true)"
    *ngIf="newButtonActive && !newProfile"
  >
    <div class="icon">
      <mat-icon svgIcon="plus" [inline]="true"></mat-icon>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="addMobile"></div>
  </button>
  <app-audio-controls *ngIf="audioService.currentFile"></app-audio-controls>
  <app-long-term-operations-handler></app-long-term-operations-handler>
</main>
