<div appTheme class="sub-nav">
  <div
    class="sub-nav-section"
    *ngIf="pService.stateSidebar"
    [@sidebarCloseOpen]
    [@.disabled]="pService.check()"
  >
    <div class="sub-nav-item-section">
      <div class="sub-nav-item" routerLink="/profile" #profile>
        <div class="item">
          <div class="photo">
            <img
              *ngIf="!photoError"
              alt="photo"
              [src]="(user$ | async).photoId | getImage"
              (error)="changeSource()"
            />
            <i *ngIf="photoError" class="icon-people"></i>
          </div>
          <p>{{(user$ | async).name}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="profile"></div>
      </div>
      <div class="separator"></div>
      <div
        class="sub-nav-item"
        routerLink="/notes"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active"
        #sub1
      >
        <div class="item">
          <p>{{ 'subMenu.personal' | translate }}</p>
          <p>{{ countPrivate | async}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="sub1"></div>
      </div>
      <div
        class="sub-nav-item"
        routerLink="/notes/shared"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active"
        #sub2
      >
        <div class="item">
          <p>{{ 'subMenu.shared' | translate }}</p>
          <p>{{countShared | async}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="sub2"></div>
      </div>
      <div
        class="sub-nav-item"
        routerLink="/notes/archive"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active"
        #sub4
      >
        <div class="item">
          <p>{{ 'subMenu.archive' | translate }}</p>
          <p>{{countArchive | async}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="sub4"></div>
      </div>
      <div
        class="sub-nav-item"
        routerLink="/notes/deleted"
        [routerLinkActiveOptions]="{exact:true}"
        routerLinkActive="active"
        #sub5
      >
        <div class="item">
          <p>{{ 'subMenu.bin' | translate }}</p>
          <p>{{countDeleted | async}}</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="sub5"></div>
      </div>
      <div class="separator"></div>
    </div>
    <div *ngIf="loaded" class="label-section" [ngClass]="labelsActive ? 'active-select' : ''">
      <div class="label-cancel" (click)="cancelLabel()">
        <p>{{ 'subMenu.cancel' | translate }}</p>
      </div>
      <ng-scrollbar class="label-container" [visibility]="'hover'" [appearance]="'compact'">
        <div
          *ngFor="let item of labelsFilters"
          class="label"
          (click)="filterNotes(item.label.id)"
          [ngClass]="item.selected ? 'active-label' : ''"
        >
          <div class="label-item" [ngStyle]="{'backgroundColor': item.label.color}">
            <p>{{ item.label.name | replace: 'label' }}</p>
            <p>{{ item.label.countNotes }}</p>
            <div class="dot" [ngStyle]="{'backgroundColor': item.label.color}"></div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
    <div class="information">
      <div class="separator"></div>
      <div class="progress-section">
        <div class="billing">B</div>
        <div class="progress-bar-section">
          <div class="text">
            <p>50mb of 100MB</p>
          </div>
          <div class="progress-bar">
            <div class="indicator"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="overlay"
    (click)="pService.cancelSideBar()"
    [ngClass]="pService.stateSidebar ? 'visible' : ''"
  ></div>
</div>
<div
  class="content-generic-project"
  [ngStyle]="{'background-image': (user$ | async).currentBackground?.path !== null ? 'url(' + (userBackground$ | async) + ')' : ''}"
>
  <ng-scrollbar class="scroll-helper" [visibility]="'hover'" [appearance]="'compact'">
    <div class="content-inner">
      <router-outlet></router-outlet>
    </div>
  </ng-scrollbar>
  <app-spinner *ngIf="pService.spinnerActive"></app-spinner>
</div>
<div class="drag-helper main-helper"></div>
