<div class="sub-nav">
    <div class="sub-nav-item-section">
        <div class="sub-nav-item" (click)="switchSub(menu.All)" [ngClass]="{active: current === menu.All}">
            <p>{{ 'subMenu.all' | translate }}</p>
            <p>12</p>
        </div>
        <div class="sub-nav-item" (click)="switchSub(menu.Shared)" [ngClass]="{active: current === menu.Shared}">
            <p>{{ 'subMenu.shared' | translate }}</p>
            <p>12</p>
        </div>
        <div class="sub-nav-item" (click)="switchSub(menu.Locked)" [ngClass]="{active: current === menu.Locked}">
            <p>{{ 'subMenu.locked' | translate }}</p>
            <p>12</p>
        </div>
        <div class="sub-nav-item" (click)="switchSub(menu.Archive)" [ngClass]="{active: current === menu.Archive}">
            <p>{{ 'subMenu.archive' | translate }}</p>
            <p>12</p>
        </div>
        <div class="sub-nav-item" (click)="switchSub(menu.Bin)" [ngClass]="{active: current === menu.Bin}">
            <p>{{ 'subMenu.bin' | translate }}</p>
            <p>12</p>
        </div>
        <div class="separator"></div>
    </div>
    <div class="label-section">
        <div class="label-cancel">
            <p>{{ 'subMenu.cancel' | translate }}</p>
        </div>
        <div class="label-container">
            <div class="label">
                <div class="label-item">
                    <p>Hello darkness smile friend</p>
                    <p>12</p>
                </div>
            </div>
            <div class="label active-label">
                <div class="label-item">
                    <p>Hello </p>
                    <p>12</p>
                </div>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="text">
            <p>50mb of 100MB</p>
        </div>
        <div class="progress-bar">
            <div class="indicator"></div>
        </div>
    </div>
</div>
<div class="content"></div>