@import 'variables';

:host {
  position: fixed;
  z-index: 500;
  bottom: 0;
  right: 0;
  width: 100%;
}

.delete-message-container {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 15px;
  p {
    color: #cccccc;
    font-size: 0.875rem;
    text-align: center;
  }
}

.dark {
  background-color: $dark-backlight;
}

.light {
  background-color: $light-billing-field;
  color: $text-color;
}
