@import 'variables';

:host {
  position: fixed;
  z-index: $full-main-menu;
  width: 100%;
}

.transform-buttons-container {
  height: 50px;
  background-color: $dark-button;

  .buttons {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .button {
      height: 100%;
      padding: 0 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .icon {
        display: flex;
        width: 20px;
        height: 20px;
        font-size: 1rem;
        margin: 0.13rem;
        border-radius: 2px;
        box-sizing: content-box;
        transition: 0.2s ease;

        .mat-icon {
          display: flex;
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .transform-buttons-container {
    padding-left: 26px;
    padding-right: 26px;
    .buttons {
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      .button {
        padding: 0 5px;
        .icon {
          width: 20px;
          height: 20px;
          .mat-icon {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

.dark {
  .buttons {
    .button {
      .icon {
        color: #e6e6e6;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.light {
  background-color: white;
  border: 0.8px solid #bababa;

  .button {
    color: #3b3b3b;

    &:hover {
      color: $text-color;
    }
  }

  @media (max-width: 1024px) {
    border: none;
    border-top: 0.8px solid #bababa;
  }
}

@media (max-width: 450px) {
  .transform-buttons-container {
    padding-left: 5px;
    padding-right: 5px;

    .buttons {
      .button {
        .icon {
          width: 18px;
          height: 18px;
          .mat-icon {
            display: flex;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
