<div class="wrapper">
    <div class="block">
        <img src='assets/auth.svg' (click)="GoogleAuth()">
    </div>
    <div class="content">
        <div class="start_noots_inform">
            <div class="img-def"><img src='assets/landing/state_landing.svg'></div>
            <div class="content_text">
                <div class="center_flex">
                    <div class="img_logo"><img src='assets/landing/oreh_logo.svg'></div>
                    <h1>Noots</h1>
                </div>
                <p class="text_form">See all the hot posts, news, publications, articles on one resource</p>
            </div>
        </div>
        <div class="start_noots_inform">
            <div class="content_text">
                <div class="center_flex">
                    <div class="img_logo"><img src='assets/landing/note_logo.svg'></div>
                    <h1>Note</h1>
                </div>
                <p class="text_form">Create notes by watching videos and other articles</p>
            </div>
            <div class="img-def1"><img src='assets/landing/note_example.svg'></div>
        </div>
        <div class="start_noots_inform">
                <div class="img-def2"><img src='assets/landing/friends_example.svg'></div>
                <div class="content_text">
                    <div class="center_flex">
                        <div class="img_logo"><img src='assets/landing/friends_logo.svg'></div>
                        <h1>Friends</h1>
                    </div>
                    <p class="text_form">Add friends and follow the news</p>
                </div>
            </div>
    </div>
    <div class="footer_storm_rights">
        <div class="img_footer"><img src='assets/landing/storm_logo.svg'></div>
        <p class="text_form">All rights reserved</p>
    </div>
</div>