.wrapper
    width: 100%
    overflow: scroll
    height: 100%
    .block
        height: 100px
        display: flex
        background: #303030
        justify-content: center
        align-items: center 
        margin: 0
        img
           cursor: pointer
           height: 50px
    .text_form
            font-size: 15px
            font-weight: bold
    .content
        display: flex  
        margin: 0
        justify-content: center
        flex-direction: column
        align-items: center
        .start_noots_inform
            width: 800px
            padding: 70px
            display: flex  
            justify-content: space-between
            background: #3d8a41
            align-items: center
            .img_logo
                height: 40px
            .img-def
                width: 280px
                
            .center_flex
                display: flex  
                flex-direction: row
                align-items: center 
            .content_text
                width: 280px
                display: flex 
                flex-direction: column
            .img-def1
                height: 100px
            .img-def2
                height: 120px   
    .footer_storm_rights
        height: 80px
        display: flex
        justify-content: flex-start
        .img_footer
          height: 75px 
        



