div
    display: flex

.wrapper-upper-menu
    width: 100%
    justify-content: center

.wrapper-main
    width: 100%
    justify-content: center
    height: calc(100% - 60px)
    overflow: auto
    .wrapper-noots
        width: 1200px
        flex-wrap: wrap
        justify-content: space-between

@media only screen and (min-width: 1200px) and  (max-width: 1480px)
    .wrapper-main
        .wrapper-noots
            width: 770px

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .wrapper-main
        .wrapper-noots
            width: 760px

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .wrapper-main
        justify-content: center
        .wrapper-noots
            width: 360px


@media (min-width: 480px) and (max-width: 767px) //large phone
    .wrapper-main
        justify-content: center
        .wrapper-noots
            width: 360px

@media (min-width: 320px) and (max-width: 479px) //phone
    .wrapper-main
        justify-content: center
        .wrapper-noots
            width: 300px
@media (min-width: 150px) and (max-width: 319px) //min width
    .wrapper-main
        justify-content: center
        .wrapper-noots
            width: 280px