<div
  appTheme
  class="main-container"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  (click)="setFocus($event)"
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <app-drag-drop-handler-container [isShow]="isMouseOver"
    ><ng-content *ngIf="!isReadOnlyMode"></ng-content
  ></app-drag-drop-handler-container>
  <div class="text-content">
    <p
      #contentHtml
      class="block-generic default-text-size"
      (input)="onInput()"
      [attr.contenteditable]="!isReadOnlyMode"
      [innerHTML]="viewHtml"
    ></p>
    <div *ngIf="isFocused && !isReadOnlyMode" class="no-content">
      <p>{{'innerNote.text' | translate}}</p>
      <div class="buttons" (mousedown)="preventClick($event)">
        <div class="icon" (mousedown)="transformContent($event, textType.Heading, headingType.H1)">
          <mat-icon svgIcon="h1" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformContent($event, textType.Heading, headingType.H2)">
          <mat-icon svgIcon="h2" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformContent($event, textType.Heading, headingType.H3)">
          <mat-icon svgIcon="h3" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformContent($event, textType.Checklist)">
          <mat-icon svgIcon="listChecked" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformContent($event, textType.Dotlist)">
          <mat-icon svgIcon="listDot" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformContent($event, textType.Numberlist)">
          <mat-icon svgIcon="list" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformToFileHandler($event, typeUpload.photos, true)">
          <mat-icon svgIcon="image" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformToFileHandler($event, typeUpload.documents, true)">
          <mat-icon svgIcon="file" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformToFileHandler($event, typeUpload.videos, true)">
          <mat-icon svgIcon="videoInner" [inline]="true"></mat-icon>
        </div>
        <div class="icon" (mousedown)="transformToFileHandler($event, typeUpload.audios, true)">
          <mat-icon [inline]="true">library_music</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<input
  #uploadFile
  type="file"
  [multiple]="isMulptiply"
  [accept]="formats"
  hidden="true"
  (change)="uploadFiles($event)"
/>
<app-html-link
  [isReadOnlyMode]="isReadOnlyMode"
  *ngIf="isLink"
  [link]="CurrentTextCotent"
></app-html-link>
