<div class="preview" appTheme>
  <img *ngIf="false" />
  <div class="no-preview">{{ audio.name[0] }}</div>
  <div class="controls">
    <button
      class="interaction audio-button"
      type="button"
      name="play"
      #playButton
      (click)="playMusic()"
      [disabled]="state?.error"
      [CustomTooltip]="'innerNote.audio.play' | translate"
      position="Bottom"
      *ngIf="!state?.playing"
    >
      <div class="icon">
        <mat-icon [inline]="true">play_circle_outline</mat-icon>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="playButton"></div>
    </button>
    <button
      class="interaction audio-button"
      type="button"
      name="pause"
      #pauseButton
      (click)="pauseMusic()"
      *ngIf="state?.playing"
      [CustomTooltip]="'innerNote.audio.pause' | translate"
      position="Bottom"
    >
      <div class="icon">
        <mat-icon [inline]="true">pause</mat-icon>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="pauseButton"></div>
    </button>
  </div>
</div>
<div class="audio-body" appTheme>
  <div class="audio-info">
    <div class="audio-name">
      <p>{{ audio.name }}</p>
    </div>
    <div class="audio-time">
      <p>{{ state?.readableCurrentTime }}</p>
      <span>/</span>
      <p>{{ state?.readableDuration }}</p>
    </div>
  </div>
  <button class="audio-button" type="button" name="more" #more [matMenuTriggerFor]="menu">
    <div class="icon">
      <mat-icon [inline]="true">more_vert</mat-icon>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="more"></div>
  </button>
  <mat-menu
    #menu="matMenu"
    appLazyTheme
    themeClass="menu"
    attributeName="panelClass"
    [element]="menu"
  >
    <button mat-menu-item type="button" name="delete">
      <mat-icon>delete</mat-icon>
      <span>{{ 'innerNote.menu.delete' | translate }}</span>
    </button>
  </mat-menu>
</div>
