<div appTheme class="transform-buttons-container">
  <div class="buttons" (mousedown)="preventClick($event)">
    <div class="button" (mousedown)="transformContent($event, textType.heading, headingType.H1)">
      <div class="icon">
        <mat-icon svgIcon="h1" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformContent($event, textType.heading, headingType.H2)">
      <div class="icon">
        <mat-icon svgIcon="h2" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformContent($event, textType.heading, headingType.H3)">
      <div class="icon">
        <mat-icon svgIcon="h3" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformContent($event, textType.checkList)">
      <div class="icon">
        <mat-icon svgIcon="listChecked" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformContent($event, textType.dotList)">
      <div class="icon">
        <mat-icon svgIcon="listDot" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformContent($event, textType.numberList)">
      <div class="icon">
        <mat-icon svgIcon="list" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformToFileHandler($event, typeUpload.photos, true)">
      <div class="icon">
        <mat-icon svgIcon="image" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformToFileHandler($event, typeUpload.documents, true)">
      <div class="icon">
        <mat-icon svgIcon="file" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformToFileHandler($event, typeUpload.videos, true)">
      <div class="icon">
        <mat-icon svgIcon="videoInner" [inline]="true"></mat-icon>
      </div>
    </div>

    <div class="button" (mousedown)="transformToFileHandler($event, typeUpload.audios, true)">
      <div class="icon">
        <mat-icon [inline]="true">library_music</mat-icon>
      </div>
    </div>
  </div>
</div>
<input
  #uploadFile
  type="file"
  [multiple]="isMultiply"
  [accept]="formats"
  hidden="true"
  (change)="uploadFiles($event)"
/>
