<div [ngClass]="[(theme$ | async) === theme.Light ? 'light' : '']">
    <div class="wrapper-people">
        <ngx-simplebar [options]="pService.optionsScroll" class="people-editing">
            <div class="person" *ngFor="let item of user" CustomTooltip="{{item}}" position="Bottom"
                flagDisable="{{ disableTooltpUser() }}">
                <div class="inner-person">
                    <img src="https://aif-s3.aif.ru/images/018/931/90c365f50b5b311c39ea69d3e4d84345.jpg"
                        alt="contributor">
                </div>
                <p>12321321321333333333333333333333333333333333333333333333333</p>
            </div>
        </ngx-simplebar>
    </div>
</div>