$main-color: #EBFFEC
$label-color: #FFFDCD
$label-color-full: #FAFAFA

div
    display: flex
.main-note
    cursor: pointer
    flex-direction: row
    background-color: $main-color
    width: 320px
    padding: 0 20px 0 0
    border-radius: 25px
    &:hover
        box-shadow: 0px 2px 2px #00000030
    .highlighting-note
        width: 30px
        align-items: center
        justify-content: center
        border-radius: 25px 0 0 25px
        cursor: pointer
        user-select: none
        background-color: #DDFFDF
        transition: .3s ease-out
        &:hover
            background-color: rgba(218, 218, 218, 0.69)
    .note-container
        flex-direction: column
        width: 270px
        padding: 0 0 0 10px
        .note-header
            flex-direction: row
            justify-content: space-between
            margin-bottom: 15px
            .note-label
                padding: 0 7px
                align-items: center
                font-size: 15px
                width: 80px
                height: 20px
                background-color: $label-color
                border-radius: 40px
                color: #808080
                justify-content: center
                position: relative
                &:hover 
                    .tooltiptext
                        visibility: visible
                        box-shadow: 0px 1px 2px #00000030
                        opacity: 1
                .tooltiptext
                    white-space: nowrap
                    padding: 3px 10px
                    font-size: 15px
                    visibility: hidden
                    background-color: $label-color
                    color: #808080
                    border-radius: 5px
                    position: absolute
                    z-index: 5
                    top: -35px
                    left: 0px
                    transition: .3s ease-out
                    opacity: 0
                .note-label-paragraph
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    -o-text-overflow: ellipsis
            .note-plus-label
                width: 40px
                background-color: $label-color-full
            .note-options
                -moz-user-select: none
                -webkit-user-select: none
                -ms-user-select: none
                user-select: none
                cursor: pointer
        .note-title
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            font-size: 24px
            color: #101010
            font-weight: bold
            line-height: 1.2
            margin-bottom: 10px
            text-overflow: ellipsis
            white-space: pre-wrap
            overflow: hidden
            p
                width: 100%
                text-overflow: ellipsis
                overflow: hidden
        .note-description
            display: -webkit-box
            -webkit-line-clamp: 4
            -webkit-box-orient: vertical
            font-size: 18px
            font-weight: 300
            margin-bottom: 10px
            max-height: 150px
            text-overflow: ellipsis
            text-align: justify
            overflow: hidden
        .note-image
            border-radius: 10px
            justify-content: center
            margin-bottom: 10px
            user-select: none
            max-height: 220px
            .note-image-image
                object-fit: cover
        .note-docs
            align-items: center
            justify-content: space-between
            margin-bottom: 10px
            .note-docs-icon
                width: 26px
                height: 28px
                svg
                    width: 100%
                    height: 100%
            .note-docs-field
                width: calc(100% - 36px)
                padding: 4.5px 5px
                background-color: white
                font-size: 16px
                border-radius: 5px
                .docs-name
                    font-weight: 400
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
        .note-author
            font-size: 14px
            font-weight: 500
            margin-bottom: 5px
            color: #303030
        .note-info
            color: #C4C4C4
            align-items: center
            justify-content: space-between
            margin-bottom: 10px
            .note-date
                font-size: 17px
            .note-help-icons
                .note-help-all
                    margin-left: 15px
                    svg
                        transition: .2s ease-in-out
                        height: 100%
                        width: 100%
                        fill:#C4C4C4
                        &:hover
                            fill: #888888
                .note-help-pin
                    width: 10px
                    height: 20px
                .note-help-lock
                    width: 17px
                    height: 20px

@media only screen and (min-width: 1200px)

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .main-note
        .note-container
            .note-header
                margin-bottom: 12px
                .note-label
                    font-size: 14px
            .note-title
                font-size: 22px
            .note-description
                -webkit-line-clamp: 3
                font-size: 17px
            .note-info
                .note-date
                    font-size: 15px
                .note-help-icons
                    .note-help-pin
                        height: 18px
                    .note-help-lock
                        height: 18px

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .main-note
        .note-container
            .note-header
                margin-bottom: 12px
                .note-label
                    font-size: 14px
                .note-options
                    height: 19px
            .note-title
                font-size: 20px
            .note-description
                -webkit-line-clamp: 3
                font-size: 16px
            .note-docs
                .note-docs-icon
                    height: 27px
                .note-docs-field
                    padding: 4px 5px
            .note-info
                .note-date
                    font-size: 14px
                .note-help-icons
                    .note-help-pin
                        height: 17px
                    .note-help-lock
                        height: 17px
    
@media (min-width: 480px) and (max-width: 767px) //large phone
    .main-note
        .note-container
            .note-header
                margin-bottom: 10px
                .note-label
                    font-size: 13px
                .note-options
                    height: 18px
            .note-title
                font-size: 18px
            .note-description
                -webkit-line-clamp: 3
                font-size: 15px
            .note-docs
                .note-docs-icon
                    height: 26px
                .note-docs-field
                    padding: 4px 5px
                    font-size: 15px
            .note-info
                .note-date
                    font-size: 14px
                .note-help-icons
                    .note-help-pin
                        height: 17px
                    .note-help-lock
                        height: 17px

@media (min-width: 320px) and (max-width: 479px) //phone
    .main-note
        width: 275px
        border-radius: 15px
        .highlighting-note
            width: 25px
            border-radius: 15px 0 0 15px
        .note-container
            width: 230px
            .note-header
                margin-bottom: 10px
                .note-label
                    font-size: 12px
                    width: 75px
                    .tooltiptext
                        max-width: 160px
                        top: -29px
                        overflow: hidden
                        font-size: 13px
                        padding: 2px 10px
                        span
                            overflow: hidden
                .note-plus-label
                    width: 40px
                .note-options
                    height: 17px
            .note-title
                margin-bottom: 8px
                font-size: 18px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 8px
                font-size: 15px
            .note-docs
                margin-bottom: 8px
                .note-docs-icon
                    height: 26px !important
                .note-docs-field
                    padding: 4px 5px
                    font-size: 15px
            .note-docs
                .note-docs-icon
                    height: 27px
                .note-docs-field
                    padding: 4px 5px
                    font-size: 15px
            .note-image
                margin-bottom: 8px
            .note-info
                margin-bottom: 8px
                .note-date
                    font-size: 13px
                .note-help-icons
                    .note-help-all
                        margin-left: 10px
                    .note-help-pin
                        height: 15px
                    .note-help-lock
                        height: 15px

@media (min-width: 150px) and (max-width: 319px) //min width
    .main-note
        width: 255px
        border-radius: 15px
        .highlighting-note
            width: 25px
            border-radius: 15px 0 0 15px
        .note-container
            width: 210px
            .note-header
                margin-bottom: 10px
                .note-label
                    font-size: 12px
                    width: 60px
                    .tooltiptext
                        max-width: 152px
                        top: -26px
                        overflow: hidden
                        font-size: 13px
                        padding: 2px 10px
                        span
                            overflow: hidden
                .note-plus-label
                    width: 40px
                .note-options
                    height: 14px
            .note-title
                margin-bottom: 8px
                font-size: 16px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 8px
                font-size: 14px
            .note-docs
                margin-bottom: 8px
                .note-docs-icon
                    height: 25px
                .note-docs-field
                    padding: 4px 5px
                    font-size: 14px
            .note-author
                font-size: 12px
            .note-image
                margin-bottom: 8px
            .note-info
                margin-bottom: 8px
                .note-date
                    font-size: 12px
                .note-help-icons
                    .note-help-all
                        margin-left: 8px
                    .note-help-pin
                        height: 14px
                    .note-help-lock
                        height: 14px