$main-color: #EBFFEC
$label-color: #FFFDCD
$label-color-full: #FAFAFA

div
    display: flex
.main-note
    cursor: pointer
    flex-direction: row
    background-color: $main-color
    width: 360px
    padding: 0 25px 0 0
    border-radius: 25px
    margin-top: 40px
    margin-bottom: 5px
    &:hover
        box-shadow: 0px 2px 2px #00000030
    .highlighting-note
        width: 30px
        align-items: center
        justify-content: center
        border-radius: 25px 0 0 25px
        cursor: pointer
        -moz-user-select: none
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
        background-color: #DDFFDF
        transition: .3s ease-out
        &:hover
            background-color: rgba(218, 218, 218, 0.69)
    .note-container
        flex-direction: column
        width: 310px
        padding: 0 0 0 10px
        .note-header
            flex-direction: row
            justify-content: space-between
            margin-bottom: 15px
            .note-label
                padding: 0 7px
                align-items: center
                font-size: 15px
                width: 100px
                height: 20px
                background-color: $label-color
                border-radius: 40px
                color: #808080
                justify-content: center
                position: relative
                &:hover 
                    .tooltiptext
                        visibility: visible
                        box-shadow: 0px 1px 2px #00000030
                        opacity: 1
                .tooltiptext
                    white-space: nowrap
                    padding: 3px 10px
                    font-size: 15px
                    visibility: hidden
                    background-color: $label-color
                    color: #808080
                    border-radius: 5px
                    position: absolute
                    z-index: 5
                    top: -35px
                    left: 0px
                    transition: .3s ease-out
                    opacity: 0
                .note-label-paragraph
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    -o-text-overflow: ellipsis
            .note-plus-label
                width: 40px
                background-color: $label-color-full
            .note-options
                -moz-user-select: none
                -webkit-user-select: none
                -ms-user-select: none
                user-select: none
                cursor: pointer
        .note-title
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            font-size: 24px
            font-weight: bold
            margin-bottom: 15px
            max-height: 74px
            text-overflow: ellipsis
            overflow: hidden
        .note-description
            display: -webkit-box
            -webkit-line-clamp: 4
            -webkit-box-orient: vertical
            font-size: 18px
            font-weight: 300
            margin-bottom: 15px
            max-height: 150px
            text-overflow: ellipsis
            text-align: justify
            overflow: hidden
        .note-image
            border-radius: 10px
            justify-content: center
            margin-bottom: 15px
            -moz-user-select: none
            -webkit-user-select: none
            -ms-user-select: none
            user-select: none
            max-height: 220px
            .note-image-image
                object-fit: cover
        .note-docs
            align-items: center
            justify-content: space-between
            margin-bottom: 15px
            svg
                width: 26px
                height: 28px
            .note-docs-field
                width: calc(100% - 36px)
                height: 28px
                padding: 0 5px
                align-items: center
                background-color: white
                border-radius: 5px
                .docs-name
                    font-weight: 400
                    font-size: 16px
                    overflow: hidden
                    white-space: nowrap
                    text-overflow: ellipsis
                    -o-text-overflow: ellipsis
        .note-author
            font-size: 18px
            font-weight: 500
            margin-bottom: 5px
            color: #303030
        .note-info
            color: #C4C4C4
            align-items: center
            justify-content: space-between
            margin-bottom: 15px
            .note-date
                font-size: 16px
            .note-help-icons
                svg
                    margin: 0 0 0 15px
                    fill:#C4C4C4
                    transition: .2s ease-in-out
                    &:hover
                        fill: #888888

@media only screen and (min-width: 1200px)

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .main-note
        margin-top: 40px
        .note-container
            .note-header
                margin-bottom: 12px
                .note-label
                    font-size: 14px
            .note-title
                margin-bottom: 12px
                font-size: 22px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 12px
                font-size: 17px
            .note-author
                font-size: 17px
            .note-image
                margin-bottom: 12px
            .note-info
                margin-bottom: 12px
                .note-date
                    font-size: 15px

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .main-note
        margin-top: 30px
        .note-container
            .note-header
                margin-bottom: 12px
                .note-label
                    font-size: 14px
                .note-options
                    height: 19px
            .note-title
                margin-bottom: 12px
                font-size: 20px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 12px
                font-size: 16px
            .note-author
                font-size: 16px
            .note-image
                margin-bottom: 12px
            .note-info
                margin-bottom: 12px
                .note-date
                    font-size: 14px
    
@media (min-width: 480px) and (max-width: 767px) //large phone
    .main-note
        margin-top: 30px
        .note-container
            .note-header
                margin-bottom: 10px
                .note-label
                    font-size: 13px
                .note-options
                    height: 18px
            .note-title
                margin-bottom: 10px
                font-size: 18px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 10px
                font-size: 15px
            .note-author
                font-size: 15px
            .note-image
                margin-bottom: 10px
            .note-info
                margin-bottom: 10px
                .note-date
                    font-size: 14px

@media (min-width: 320px) and (max-width: 479px) //phone
    .main-note
        margin-top: 30px
        width: 300px
        border-radius: 15px
        .highlighting-note
            width: 20px
        .note-container
            width: 280px
            .note-header
                margin-bottom: 8px
                .note-label
                    font-size: 12px
                    width: 75px
                .note-plus-label
                    width: 40px
                .note-options
                    height: 17px
            .note-title
                margin-bottom: 8px
                font-size: 18px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 8px
                font-size: 15px
            .note-author
                font-size: 14px
            .note-image
                margin-bottom: 8px
            .note-info
                margin-bottom: 8px
                .note-date
                    font-size: 13px
    #size-image-highlighting
        width: 15px

@media (min-width: 150px) and (max-width: 319px) //min width
    .main-note
        margin-top: 30px
        width: 260px
        border-radius: 15px
        .highlighting-note
            width: 20px
        .note-container
            width: 240px
            .note-header
                margin-bottom: 8px
                .note-label
                    font-size: 11px
                    width: 60px
                .note-plus-label
                    width: 40px
                .note-options
                    height: 14px
            .note-title
                margin-bottom: 8px
                font-size: 16px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 8px
                font-size: 13px
            .note-author
                font-size: 12px
            .note-image
                margin-bottom: 8px
            .note-info
                margin-bottom: 8px
                .note-date
                    font-size: 11px
    #size-image-highlighting
        width: 15px