<app-left-section-wrapper [isProfileActive]="true">
  <app-nav-menu-item
    [count]="countPrivate | async"
    [navName]="'subMenu.personal'"
    [routerLink]="'/folders'"
  ></app-nav-menu-item>

  <app-nav-menu-item
    [count]="countShared | async"
    [navName]="'subMenu.shared'"
    [routerLink]="'/folders/shared'"
  ></app-nav-menu-item>

  <app-nav-menu-item
    [count]="countArchive | async"
    [navName]="'subMenu.archive'"
    [routerLink]="'/folders/archive'"
  ></app-nav-menu-item>

  <app-nav-menu-item
    [count]="countDeleted | async"
    [navName]="'subMenu.bin'"
    [routerLink]="'/folders/deleted'"
  ></app-nav-menu-item>

  <div class="separator"></div>
</app-left-section-wrapper>

<div
  class="content-generic-project"
  [ngStyle]="{
    'background-image': (userBackground$ | async) ? 'url(' + (userBackground$ | async) + ')' : ''
  }"
>
  <ng-scrollbar class="scroll-helper" visibility="hover" appearance="compact">
    <div class="content-inner">
      <router-outlet></router-outlet>
    </div>
  </ng-scrollbar>
  <app-spinner [size]="30" *ngIf="pService.spinnerActive"></app-spinner>
</div>
<div class="drag-helper main-helper"></div>
