<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <app-drag-drop-handler-container [isShow]="isMouseOver"
    ><ng-content *ngIf="!isReadOnlyMode"></ng-content
  ></app-drag-drop-handler-container>
  <div class="check-list">
    <div class="checkbox-container inner-box-list">
      <mat-checkbox
        [ngModel]="content.checked"
        (change)="changeCheckBox()"
        (click)="clickHandler($event)"
        [disabled]="isReadOnlyMode"
      ></mat-checkbox>
    </div>
    <div class="text-container">
      <p
        class="block-generic default-text-size"
        #contentHtml
        [attr.contenteditable]="!isReadOnlyMode"
        (input)="onInput()"
        [innerHTML]="viewHtml"
        [ngClass]="{
          'checked-item': content.checked
        }"
      ></p>
      <p class="no-content-list" *ngIf="isActive">{{'innerNote.text' | translate}}</p>
    </div>
  </div>
</div>
