@import 'variables';

:host {
    display: flex;
    width: 100%;
    background-color: $green-note;
    color: $text-color;
    border-radius: 20px;
    transition: 0.2s ease;

    &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
}

.highlighting-note {
    position: relative;
    z-index: 5;
    display: flex;
    width: 25px;
    background-color: $unhighlighting-note;
    transition: 0.3s ease;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: darken($unhighlighting-note, $amount: 20%);
    }
}

.note-inner {
    display: flex;
    flex-direction: column;
    width: calc(100% - 25px);
    padding-left: 1rem;
    padding-right: 1.5rem;
    outline: none;

    .labels {
        display: flex;

        .label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            max-width: 110px;
            font-size: 	0.9375rem;
            padding: 0 0.625rem;
            margin-right: 1.25rem;
            background-color: $blue-label;
            color: $note-label-color;
            border-radius: 40px;
            cursor: pointer;

            p {
                @include text-overflow;
                white-space: nowrap;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .header {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 1.25rem;
        color: black;

        h4 {
            @include text-overflow
        }
    }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3;

        p {
            @include text-overflow;
        }
    }

    .photos {
        display: flex;
        flex-wrap: wrap;

        .photo {
            display: flex;
            flex: 1 1 calc((100% / 2) - (1.125rem / 2));
            height: 80px;
            border-radius: 10px;
            margin-bottom: 1.125rem;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }

            &:nth-child(2n) {
                margin-left: 1.125rem;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;

        .date {
            display: flex;
            color: #a1a1a1;
            font-size: 0.875rem;
        }

        .help-icons {
            display: flex;
            font-size: 1.125rem;

            .icon {
                display: flex;
                margin-left: 1.25rem;

                .icon-folders {
                    .path1::before, .path2::before {
                        transition: 0.3s ease;
                    }

                    .path1::before {
                        color: #dedede;
                    }
                    .path2::before {
                        color: #969696;
                    }
                }

                &:hover {

                    .icon-folders {
                        .path1::before {
                            color: darken(#dedede, 20%);
                        }
                        .path2::before {
                            color: darken(#969696, 20%);
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.note-inner > div {
    margin-bottom: 0.5rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .highlighting-note {
        width: 20px;
    }
    .note-inner {
        width: calc(100% - 20px);

        .labels {
            .label {
                margin-right: 1rem;
                padding: 0 0.5rem;
                max-width: initial;
                width: calc(100% / 2 - 0.5rem);
            }
        }

        .header {
            -webkit-line-clamp: 1;
            font-size: 1.125rem;
        }
    
        .description {
            -webkit-line-clamp: 3;
        }
    }

    .small {
        .labels {
            .label {
                max-width: initial;
                width: 100%;
                margin-right: 0;
    
                &:last-child {
                    display: none;
                }
            }
        }

        .footer {
            flex-direction: column;
            justify-content: flex-start;

            .date {
                justify-content: flex-end;
                order: 2;
            }

            .help-icons {
                justify-content: space-between;
                order: 1;
                margin-bottom: 0.5rem;

                .icon {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .note-inner {
        .description {
            -webkit-line-clamp: 2;
        }
    }
}

@media (max-width: 420px) {
    .small {
        .photos {
            .photo {
                flex: 1 1 100%;
                
                &:nth-child(2n) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .note-inner {

        .labels {
            .label {
                max-width: initial;
                width: 100%;
                margin-right: 0;
    
                &:last-child {
                    display: none;
                }
            }
        }

        .footer {
            overflow: hidden;
        }
    }
}