:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .photo {
    display: flex;
    flex: 1 1 calc((100% / 3) - 0.1875rem);
    height: 110px;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    overflow: hidden;
  
    &:nth-child(3n) {
      margin-right: 0;
    }
  
    &:last-child {
      margin-right: 0;
    }
  
    img {
      width: 100%;
      object-fit: cover;
    }
  
    @media (max-width: 400px) {
      flex: 1 1 calc(50% - 0.125rem);
    
      &:nth-child(2n) {
          margin-right: 0;
      }
    
      &:nth-child(3n) {
          margin-right: 0.25rem;
      }
    }
  }
}
