.dark-menu {
  background: $dark-button;
  .mat-menu-item {
    color: white;

    &::after {
      color: white;
    }

    .mat-icon {
      color: white;
    }

    .mat-menu-submenu-icon{
      color: white;
    }
  }
}
