.mat-mdc-menu-content {
  padding: 0 !important;
}

.mat-mdc-menu-panel {
  button {
    background: transparent;
    a {
      font-size: 0.875rem;
      text-decoration: none;
      color: black;
    }
    span {
      font-size: 0.875rem;
    }
  }
}

.dark-menu {
  background: $dark-button;
  button {
    color: white;
    span {
      color: white;
    }
    a {
      color: white;
    }
    .mat-icon {
      color: white;
    }
    .mat-mdc-menu-submenu-icon {
      color: white;
    }
  }
}

.dark-text-color-menu {
  background: $dark-button;
  overflow: hidden !important;
  max-height: initial !important;
  color: white;
}
