.volume-slider {
  .slider {
    .mat-slider-wrapper {
      left: 12px;
      min-height: 100px;
    }
  }
}

.slider-controls {
  .slider {
    .mat-slider-wrapper {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.video-volume-slider {
  .slider-prevent-min-width {
    min-width: auto;
  }
}

.slider-controls,
.volume-slider,
.video-volume-slider,
.slider-row
 {
  .slider, .slider-profile {
    .mat-slider-wrapper {
      background-color: white;

      .mat-slider-thumb {
        background-color: #0887a7;
        border: none;
        transform: scale(0.7) !important;
      }

      .mat-slider-thumb-label {
        background-color: #0887a7;
        .mat-slider-thumb-label-text {
          color: white;
        }
      }

      .mat-slider-track-fill {
        background-color: #0887a7;
      }
    }
  }
}
