@import 'variables';

.snackbar-dark {
  --mdc-snackbar-container-color: #2a2d32;
  --mat-snack-bar-button-color: #5e99cc;
}

.snackbar-light {
  --mdc-snackbar-container-color: white;
  --mat-snack-bar-button-color: #5e99cc;
  --mdc-snackbar-supporting-text-color: #202020;
}

@media (max-width: 1024px) {
  .mdc-snackbar__surface {
    min-width: 100px !important;
  }
  .mat-mdc-snack-bar-container {
    width: auto !important;
    margin: 5px !important;
  }
  .mat-mdc-snack-bar-handset {
    flex: inherit !important;
  }
  .mdc-snackbar__label {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}


.mdc-snackbar__surface {
  width: auto !important;
  min-width: 150px !important;
}
