<div
  *ngIf="loaded"
  class="grid"
  [ngStyle]="{'opacity': folderService.murriService.flagForOpacity ? '1' : '0'}"
>
  <div
    #item
    class="grid-item"
    [id]="item.id"
    *ngFor="let item of folderService.entities"
    [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : '']"
  >
    <app-folder
      [userId]="(user$ | async).id"
      [folder]="item"
      [isSelectedMode]="folderService.isAnySelected"
    ></app-folder>
  </div>
</div>
<app-no-results-illustration
  *ngIf="loaded && ((archiveCount$ | async) ? false : true)"
  [isShow]="loaded && ((archiveCount$ | async) ? false : true)"
  [message]="'noResult.archiveFolders' | translate"
  [illustration]="pService.icon.archiveFolderIllustration"
  typeClass="type-module"
></app-no-results-illustration>
