<div *ngIf="loaded" class="grid" [ngStyle]="{'opacity': murriService.flagForOpacity ? '1' : '0'}">
  <div
    #item
    class="grid-item"
    id="{{item.id}}"
    *ngFor="let item of folderService.entities"
    [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : '']"
  >
    <app-folder [folder]="item"></app-folder>
  </div>
</div>
<app-no-results-illustration
  *ngIf="pService.illustrationActive"
  [isShow]="pService.illustrationActive"
  [message]="'noResult.archiveFolders' | translate"
  [illustration]="pService.icon.archiveFolderIllustration"
  typeClass="type-module"
></app-no-results-illustration>
