:host{
    font-size: 1.125rem;
}

.container{
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    width: 100%;

    .text{
        line-height: 25px;
        position: relative;
        z-index: 2;
        min-height: 22px;
        height: 100%;
        outline: 1px solid transparent;
        width: 100%;
    }
    .no-content{
        p{
            margin-left: 2px;
        }
        margin-top: 2px;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        color: #6B6B6B;               
        font-weight: 300;
        .buttons{
            z-index: 3;
            margin-right: 20px;
            display: flex;
            align-items: center;
            i {
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}