:host{
    font-size: 1.125rem;
}

.container{
    display: flex;
    padding-top: 5px;
    position: relative;
    width: 100%;
    .default{
        position: relative;
        z-index: 2;
        height: 100%;
        outline: none;
        width: 100%;
    }
    .no-content{
        p{
            margin-left: 2px;
        }
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        color: #6a707c;
        font-weight: 300;
        .buttons{
            z-index: 3;
            margin-right: 20px;
            display: flex;
            align-items: center;
            i {
                cursor: pointer;
                margin-left: 10px;
            }
        }
    }
}