<div #contentHtml class="container" (mouseover)="mouseEnter($event)" (mouseout)="mouseOut($event)" (click)="setFocus($event)">
    <ng-container [ngSwitch]="content.data.type">
        <p class="block-generic text" *ngSwitchCase="contentType.Text" contenteditable="true" [textContent]="startStr"></p>
        <div class="block-generic h1" *ngSwitchCase="contentType.H1" contenteditable="true" [textContent]="startStr"></div>
        <div class="block-generic h2" *ngSwitchCase="contentType.H2" contenteditable="true" [textContent]="startStr"></div>
        <div class="block-generic h3" *ngSwitchCase="contentType.H3" contenteditable="true" [textContent]="startStr"></div>
        <div class="dot-list" *ngSwitchCase="contentType.DOTLIST">
            <div class="dot-container">
                <div class="dot"></div>
            </div>
            <p class="block-generic text-dot" contenteditable="true" [textContent]="startStr"></p>
        </div>
        <div class="block-generic" *ngSwitchCase="contentType.NUMBERLIST" contenteditable="true">{{content.data.html}}</div>
        <div class="block-generic" *ngSwitchCase="contentType.CHECKLIST" contenteditable="true">{{content.data.html}}</div>
        <p *ngSwitchDefault>Default</p>
     </ng-container>
    <div *ngIf="visible && isContentEmpty" class="no-content" [ngClass]="{'dotList': content.data.type === contentType.DOTLIST, 'second': true}">
        <p>{{commandsService.defaultEmptyString}}</p>
        <div class="buttons" (mousedown)="preventClick($event)">
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
            <i (mousedown)="buttonHandler($event)" class="icon-plus"></i>
        </div>
    </div>
</div>