<div class="container">
    <div contenteditable="true" class="default" [innerHTML]="content?.data.html"></div>
    <div class="no-content">
        <p>Type / for browse options</p>
        <div class="buttons">
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
            <i class="icon-plus"></i>
        </div>
    </div>
</div>