<div class="playlist" appTheme>
  <div class="playlist-options">
    <div class="title">
      <p>Audio playlist</p>
    </div>
    <button type="button" name="options" #playlistOptions>
      <div class="icon">
        <mat-icon [inline]="true">more_horiz</mat-icon>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="playlistOptions"></div>
    </button>
  </div>
  <app-audio *ngFor="let item of files; let i = index" [item]="{audio: item, index: i}"></app-audio>
</div>
