<div
  [id]="photo.fileId"
  (click)="clickEvent.emit(photo.fileId)"
  [ngClass]="{ 'is-selected': isClicked }"
  [ngStyle]="(cursor$ | async) && { 'border': '2px solid ' + (cursor$ | async).color }"
  class="photo"
  appTheme
>
  <img
    [@photoInit]="photo.loaded ? 'loaded' : 'noLoaded'"
    [src]="photo.photoFromBig"
    (load)="onLoadImage()"
    alt="User album image"
  />
  <app-spinner [size]="25" *ngIf="!photo.loaded"></app-spinner>
  <app-button-collection
    *ngIf="!isSelectModeActive"
    class="more-thumb-button"
    [matMenuTriggerFor]="menu"
    [button]="'more_vert'"
    [classes]="'light-static'"
    (clickEvent)="$event?.stopPropagation()"
  ></app-button-collection>
</div>

<!-- ADDITIONAL ELEMENTS -->
<mat-menu
  #menu="matMenu"
  appLazyTheme
  themeClass="menu"
  attributeName="panelClass"
  [element]="menu"
>
  <button mat-menu-item type="button" name="Download" (click)="downloadPhotoEvent.emit(photo)">
    <mat-icon>download</mat-icon>
    <span> {{ 'innerNote.menu.download' | translate }} </span>
  </button>
  <button *ngIf="!isReadOnlyMode" mat-menu-item (click)="deletePhoto()" type="button" name="Delete">
    <mat-icon>delete</mat-icon>
    <span> {{ 'innerNote.menu.delete' | translate }} </span>
  </button>
</mat-menu>
