<app-left-section-content-notes-list [notesLink]="notesLink"></app-left-section-content-notes-list>
<div
  appTheme
  class="content-generic-project full-content"
  [ngStyle]="{'background-image': (user$ | async).currentBackground?.photoPath !== null ? 'url(' + (userBackground$ | async) + ')' : ''}"
>
  <div
    *ngIf="(canView$ | async) && loaded"
    class="wrapper-note"
    #fullWrap
    (panstart)="sliderService.panStart()"
    (panmove)="panMove($event)"
    (panend)="panEnd($event)"
  >
    <app-content-editor
      [note]="note$ | async"
      [isReadOnlyMode]="(canEdit$ | async) === false"
      [title$]="noteTitle$"
      [contents]="contents"
    ></app-content-editor>
    <app-right-section-content [note]="note$ | async" [wrap]="wrap"></app-right-section-content>
  </div>
  <div *ngIf="(canNoView$ | async) && loaded" class="wrapper">
    <app-no-results-illustration
      [isShow]="true"
      [message]="'noResult.noAccessViewNote' | translate"
      [illustration]="pService.icon.noAccessViewNote"
      typeClass="type-module"
    ></app-no-results-illustration>
  </div>
  <app-spinner *ngIf="!loaded"></app-spinner>
</div>
