<div appTheme class="sub-nav">
  <div
    class="sub-nav-section"
    *ngIf="pService.stateSidebar"
    [@sidebarCloseOpen]
    [@.disabled]="pService.check()"
  >
    <ng-scrollbar class="notes-section" [visibility]="'hover'" [appearance]="'compact'">
      <div
        class="note"
        *ngFor="let item of notesLink"
        [ngStyle]="{'backgroundColor': item.color}"
        [routerLink]="['/notes/', item.id]"
      >
        <p>{{ item.title | replace: 'note' }}</p>
      </div>
    </ng-scrollbar>
    <div class="information">
      <div class="separator"></div>
      <app-memory-indicator></app-memory-indicator>
    </div>
  </div>
  <div
    class="overlay"
    (click)="pService.cancelSideBar()"
    [ngClass]="pService.stateSidebar ? 'visible' : ''"
  ></div>
</div>
<div
  appTheme
  class="content-generic-project full-content"
  [ngStyle]="{'background-image': (user$ | async).currentBackground?.path !== null ? 'url(' + (userBackground$ | async) + ')' : ''}"
>
  <div
    *ngIf="(canView$ | async) && loaded"
    class="wrapper-note"
    #fullWrap
    (panstart)="sliderService.panStart()"
    (panmove)="panMove($event)"
    (panend)="panEnd($event)"
  >
    <div
      appTextEditMenu
      appSelection
      [appMenuSelection]="textElements"
      [appCopy]="refElements"
      (selectionEvent)="selectionHandler($event)"
      (selectionStartEvent)="selectionStartHandler($event)"
      [style.width.px]="sliderService.mainWidth"
      class="main-content"
    >
      <div class="note-color" [ngStyle]="{backgroundColor: note?.color}"></div>
      <div class="labels-section">
        <div
          class="label"
          *ngFor="let label of note?.labels | noDeletedLabels"
          [ngStyle]="{backgroundColor: label.color}"
        >
          <p>{{label.name}}</p>
        </div>
      </div>
      <div class="title-section">
        <div
          contenteditable="true"
          (paste)="pasteCommandHandler($event)"
          [textContent]="note?.title"
          class="title"
          (input)="onInput($event)"
        ></div>
        <div class="placeholder">Title</div>
        <div class="left-border"></div>
      </div>
      <div class="content-section">
        <div *ngFor="let item of contents; let i = index;">
          <div [ngSwitch]="item.type">
            <app-html-text-part
              #htmlComp
              *ngSwitchCase="contentType.DEFAULT"
              [content]="item"
              (enterEvent)="enterHandler($event)"
              (deleteThis)="deleteHTMLHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (transformTo)="transformToTypeText($event)"
              (transformToPhoto)="transformToPhoto($event)"
              (updateText)="updateTextHandler($event, i === contents.length - 1)"
            ></app-html-text-part>
            <app-html-number-list
              #htmlComp
              *ngSwitchCase="contentType.NUMBERLIST"
              [prevContent]="contents[i - 1]"
              [prevType]="contents[i - 1]?.type"
              [content]="item"
              (enterEvent)="enterHandler($event)"
              (transformTo)="transformToTypeText($event)"
              (deleteThis)="deleteHTMLHandler($event)"
              (updateText)="updateTextHandler($event, i === contents.length - 1)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
            ></app-html-number-list>
            <app-html-dot-list
              #htmlComp
              *ngSwitchCase="contentType.DOTLIST"
              [content]="item"
              (enterEvent)="enterHandler($event)"
              (transformTo)="transformToTypeText($event)"
              (deleteThis)="deleteHTMLHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (updateText)="updateTextHandler($event, i === contents.length - 1)"
            ></app-html-dot-list>
            <app-html-check-list
              #htmlComp
              *ngSwitchCase="contentType.CHECKLIST"
              [content]="item"
              (enterEvent)="enterHandler($event)"
              (transformTo)="transformToTypeText($event)"
              (deleteThis)="deleteHTMLHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (updateText)="updateTextHandler($event, i === contents.length - 1)"
            ></app-html-check-list>
            <app-html-headings
              #htmlComp
              *ngSwitchCase="contentType.HEADING"
              [content]="item"
              (enterEvent)="enterHandler($event)"
              (deleteThis)="deleteHTMLHandler($event)"
              (concatThisWithPrev)="concatThisWithPrev($event)"
              (updateText)="updateTextHandler($event, i === contents.length - 1)"
            ></app-html-headings>
            <app-photos
              #htmlComp
              *ngSwitchCase="contentType.ALBUM"
              [content]="item"
              [noteId]="note.id"
              (deleteEvent)="removeAlbumHandler($event)"
              (uploadEvent)="uploadPhotoToAlbumHandler($event)"
              (deletePhotoFromAlbum)="removePhotoFromAlbumHandler($event)"
            ></app-photos>
            <div *ngSwitchDefault>Default</div>
          </div>
        </div>
        <div
          class="empty"
          (mousedown)="placeHolderClick($event)"
          (mousemove)="mouseEnter($event)"
          (mouseout)="mouseOut($event)"
        ></div>
      </div>
    </div>
    <div class="secondary-content" [style.width.px]="sliderService.mainWidth">
      <div class="open" #open (click)="sideBarService.openSideModal(id)">
        <div class="icon">
          <mat-icon svgIcon="plus" [inline]="true"></mat-icon>
        </div>
        <p>open note or file</p>
        <div class="ripple-container" matRipple [matRippleTrigger]="open"></div>
      </div>
      <div class="history-section" *ngIf="pService.toggleHistory" [@showHistory]></div>
      <ng-scrollbar
        class="scroll-helper small-notes"
        [visibility]="'hover'"
        [appearance]="'compact'"
      >
        <div class="content-inner-small">
          <div
            class="grid"
            *ngIf="loaded"
            [ngStyle]="{'opacity': sideBarService.murriService.flagForOpacity ? '1' : '0'}"
          >
            <div
              #item
              id="{{item.id}}"
              class="grid-item-small"
              *ngFor="let item of sideBarService.notes"
            >
              <app-small-note
                [note]="item"
                (deleteNote)="sideBarService.deleteSmallNote($event, id)"
                (changeState)="sideBarService.changeState($event, id)"
              ></app-small-note>
            </div>
          </div>
        </div>
      </ng-scrollbar>
      <div class="drag-helper second-helper"></div>
    </div>
  </div>
  <div *ngIf="(canNoView$ | async) && loaded" class="wrapper">No can View</div>
  <app-spinner *ngIf="!loaded"></app-spinner>
  <app-text-edit-menu
    [style.top.px]="menuSelectionService.getTop"
    [style.left.px]="menuSelectionService.left"
    [style.visibility]="menuSelectionService.menuActive? 'visible': 'hidden'"
  >
  </app-text-edit-menu>
</div>
