<div appTheme class="sub-nav">
    <div class="sub-nav-section" *ngIf="pService.stateSidebar" [@sidebarCloseOpen] [@.disabled]="pService.check()">
        <div appScrollControl class="notes-section">
            <div class="note" *ngFor="let item of notesLink" [ngStyle]="{'backgroundColor': item.color}"
                [routerLink]="['/notes/', item.id]">
                <p>{{ item.title | replace: 'note' }}</p>
            </div>
        </div>
        <div class="information">
            <div class="separator"></div>
            <div class="progress-section">
                <div class="billing">B</div>
                <div class="progress-bar-section">
                    <div class="text">
                        <p>50mb of 100MB</p>
                    </div>
                    <div class="progress-bar">
                        <div class="indicator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" (click)="pService.cancelSideBar()" [ngClass]="pService.stateSidebar ? 'visible' : ''"></div>
</div>
<div appTheme class="content full-content">
    <div *ngIf="canView$ | async" class="wrapper" #fullWrap (panstart)="sliderService.panStart($event)"
        (panmove)="panMove($event)" (panend)="panEnd($event)">
        <div appSelection 
        (selectionEvent)="selectionHandler($event)" 
        (selectionStartEvent)="selectionStartHandler($event)"
        [style.width.px]="sliderService.mainWidth" 
        class="main-content"
        >
            <div class="note-color" [ngStyle]="{backgroundColor: (note$ | async)?.color}"></div>
            <div class="labels-section">
                <div class="label" *ngFor="let label of (note$ | async)?.labels | noDeletedLabels"
                    [ngStyle]="{backgroundColor: label.color}">
                    <p>{{label.name}}</p>
                </div>
            </div>
            <div class="title-section">
                <div contenteditable="true" (paste)="pasteCommandHandler($event)" [textContent]="(note$ | async)?.title"
                    class="title" (input)="onInput($event)"></div>
                <div class="placeholder">Title</div>
                <div class="left-border"></div>
            </div>
            <div class="content-section">
                <div *ngFor="let item of contents">
                    <div [ngSwitch]="item.type">

                        <app-html #htmlComp *ngSwitchCase="contentType.HTML"  
                        (enterEvent)="enterHandler($event)" 
                        [content]="item"
                        (deleteThis)="deleteHTMLHandler($event)"
                        (concatThisWithPrev)="concatThisWithPrev($event)"
                        >
                        </app-html>

                        <app-photos #htmlComp *ngSwitchCase="contentType.PHOTO" [content]="item"></app-photos>
                        <div *ngSwitchDefault>Default</div>
                    </div>               
                </div>
                <div class="empty" (mousedown)="placeHolderClick($event)" (mouseover)="mouseEnter($event)" (mouseout)="mouseOut($event)"></div>
            </div>
        </div>
        <div class="secondary-content" [style.width.px]="sliderService.mainWidth">
            <div class="open" #open>
                <i class="icon-plus"></i>
                <p>open note or file</p>
                <div class="ripple-container" matRipple [matRippleTrigger]="open"></div>
            </div>
            <div class="history-section" *ngIf="pService.toggleHistory" [@showHistory]></div>
            <div appScrollControl class="small-notes autoscroll-helper"
                [ngClass]="pService.toggleHistory? 'history-plus' : ''">
                <div class="grid" [ngStyle]="{'opacity': murriService.flagForOpacity ? '1' : '0'}">
                    <div class="grid-item-small" *ngFor="let item of notes" [@deleteSmallNote]>
                        <div class="small-note">
                            <div class="header">
                                <button type="button" (click)="turnUpSmallNote()">
                                    <div class="icon">
                                        <i class="icon-select-label"></i>
                                    </div>
                                </button>
                                <button type="button" (click)="deleteSmallNote(item)">
                                    <div class="icon">
                                        <i class="icon-cancel"></i>
                                    </div>
                                </button>
                            </div>
                            <div class="content" [ngClass]="turnUpNote? 'turn-up-note' : ''">
                                <div class="note-color"></div>
                                <div class="labels-section">
                                    <div class="label">
                                        <p>Hello Hello Hello Hello Hello</p>
                                    </div>
                                    <div class="label">
                                        <p>Hello Hello </p>
                                    </div>
                                    <div class="label">
                                        <p>Hello Hello Hello Hello Hello Hello Hello</p>
                                    </div>
                                </div>
                                <div class="title-section">
                                    <div class="left-border"></div>
                                    <p>GIVE TITLE man GIVE TITLE man</p>
                                </div>
                                <div class="description">
                                    <p>Hello Hello Hello Hello</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="drag-helper second-helper"></div>
            </div>
        </div>
    </div>
    <div *ngIf="canNoView$ | async" class="wrapper">
        No can View
    </div>
</div>