<header>
    <div class="content">
        <div class="content-header flex-container space-between">
            <div class="left flex-container">
                <div class="hamburger hamburger--squeeze" aria-label="Menu" role="button" aria-controls="navigation"
                    (click)="DropMenu()" [ngClass]="activeMenu ? 'is-active' : ''">
                    <div class="hamburger-box">
                        <div class="hamburger-inner">
                        </div>
                    </div>
                </div>
                <div class="logo">
                    <img src="assets/logo-without-squirell.svg" />
                </div>
            </div>
            <div class="center flex-container">
                <div class="search">
                    <input type="text" id="fname" name="firstname" placeholder="Search...">
                </div>
                <div class="search-icon">
                    <img src="assets/search.svg" />
                </div>
            </div>
            <div class="right flex-container space-between">
                <img class="searchMob" src="assets/searchMob.svg" />
                <img src="assets/view.svg" />
                <img src="assets/notification.svg" />
                <div class="profile">
                    <img src="assets/kashich.png">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="wrapper">
    <aside>
        <ul class="side-bar">
            <li class="active">
                <div>
                    <div class="center-icons">
                        <img [src]="nootImage" />
                    </div>
                    <span>Noots</span>
                </div>
                <ul class="under">
                    <li>
                        <div class="new-note">
                            <img src="assets/under-menu/plus.svg" />
                            <span>New Noot</span>
                        </div>
                    </li>
                    <li>
                        <div id="active-menu">
                            <img class="dot" src="assets/under-menu/colorful-dot.svg" />
                            <span>All noots</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img class="dot" src="assets/under-menu/dot.svg" />
                            <span>My noots</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img class="dot" src="assets/under-menu/dot.svg" />
                            <span>Filters</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img class="dot" src="assets/under-menu/dot.svg" />
                            <span>Saved</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img class="dot" src="assets/under-menu/dot.svg" />
                            <span>Watch Later</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/under-menu/subscribes.svg" />
                            <span>Subscribes</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div>
                    <div class="center-icons">
                        <img src="assets/menu/note.svg" />
                    </div>
                    <span>Notes</span>
                </div>
                <ul class="under">

                </ul>
            </li>
            <li>
                <div>
                    <div class="center-icons">
                        <img src="assets/menu/groups.svg" />
                    </div>
                    <span>Groups</span>
                </div>

            </li>
            <li>
                <div>
                    <div class="center-icons">
                        <img src="assets/menu/people.svg" />
                    </div>
                    <span>People</span>
                </div>
            </li>

            <li>
                <div>
                    <div class="center-icons">
                        <img src="assets/menu/labels.svg" />
                    </div>
                    <span>Labels</span>
                </div>
            </li>
            <li>
                <div>
                    <div class="center-icons">
                        <img src="assets/menu/invites.svg" />
                    </div>
                    <span>Invites</span>
                </div>
            </li>
            <li>
                <div>
                    <div class="center-icons">
                        <img src="assets/menu/bin.svg" />
                    </div>
                    <span>Bin
                    </span>
                </div>
            </li>
        </ul>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>