<app-general-header-button
  *ngIf="!((menuActiveNotes$ | async) || (menuActiveFolders$ | async))"
  (clickEvent)="newButton()"
  [message]="'new.' + (route$ | async ) | translate"
  [iconClass]="'plus'"
  [styleClasses]="'generic-unfixed generic-create'"
></app-general-header-button>

<app-general-header-button
  *ngIf="((menuActiveNotes$ | async) || (menuActiveFolders$ | async))"
  (clickEvent)="unselectAll()"
  [message]="('header.selected' | translate) + ' ' + countSelected"
  [iconClass]="'plus'"
  [styleClasses]="'generic-2 generic-unfixed rotate'"
></app-general-header-button>

<app-general-header-button
  (clickEvent)="selectAll()"
  [message]="('header.select' | translate)"
  [iconClass]="'select'"
  [styleClasses]="'generic-2 generic-unfixed'"
></app-general-header-button>

<app-general-header-button
  *ngIf="(isActionFilterButton$ | async) && hideFor"
  [matMenuTriggerFor]="menu"
  [tooltipMessage]="('header.filter' | translate)"
  [tooltipPosition]="'Bottom'"
  [iconClass]="'filter'"
  [styleClasses]="'generic-2 filter'"
></app-general-header-button>

<mat-menu
  #menu="matMenu"
  appLazyTheme
  themeClass="menu"
  attributeName="panelClass"
  [element]="menu"
>
  <button mat-menu-item type="button" [name]="'header.filterMenu.dateAsc' | translate">
    <mat-icon>north</mat-icon>
    <span> {{ 'header.filterMenu.dateAsc' | translate }} </span>
  </button>
  <button mat-menu-item type="button" [name]="'header.filterMenu.dateDesc' | translate">
    <mat-icon>south</mat-icon>
    <span> {{ 'header.filterMenu.dateDesc' | translate }} </span>
  </button>
  <button mat-menu-item type="button" [name]="'header.filterMenu.order' | translate">
    <mat-icon>reorder</mat-icon>
    <span> {{ 'header.filterMenu.order' | translate }} </span>
  </button>
</mat-menu>
