<button
  class="generic-button dropdown-button"
  type="button"
  cdk-overlay-origin
  #origin="cdkOverlayOrigin"
  #dropdown
  (click)="isOpen = !isOpen"
  appTheme
>
  <div class="content-button">
    <p>{{ selectedOption?.title }}</p>
    <div class="icon" [ngStyle]="{ transform: isOpen ? 'rotate(180deg)' : '' }">
      <mat-icon svgIcon="selectLabel" [inline]="true"></mat-icon>
    </div>
  </div>
  <div class="ripple-container" matRipple [matRippleTrigger]="dropdown"></div>
</button>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayPositions]="positions"
  (backdropClick)="closeDropdown()"
>
  <div class="dropdown" [@showDropdown] [style.width.px]="dropdown.offsetWidth">
    <app-select-option
      *ngFor="let item of options"
      [value]="item"
      [isSelected]="selectValue === item.value"
      (selectEvent)="onSelect($event)"
    ></app-select-option>
  </div>
</ng-template>
