div
    display: flex

.default-user
    width: 400px
    flex-direction: column
    margin-top: 12px
    margin-right: 30px
    .all-user
        width: 400px
        flex-direction: row
        align-items: center
        position: relative
        .user-color-modal
            width: 260px
            height: 100px
            display: flex
            box-shadow: 0px 0px 2px #00000020
            position: absolute
            bottom: 50px
            border-radius: 10px
            flex-wrap: wrap
            justify-content: center
            align-content: space-around
            background-color: white
            z-index: 10
            .user-modal-element
                width: 40px
                height: 25px
                background-color: black
                border-radius: 5px
                box-shadow: 0px 2px 2px #00000030
                cursor: pointer
                &:hover
                    box-shadow: 0px 2px 2px #00000050
            .user-modal-margin
                margin-right: 10px
        .user-color
            margin-right: 10px
            width: 25px
            height: 25px
            border-radius: 50%
            background-color: #DDFFCD
            cursor: pointer
            &:hover
                box-shadow: 0px 2px 2px #00000030
            &:after
                box-shadow: 0px 2px 10px #00000050
        .user-field
            width: 365px
            height: 40px
            flex-direction: row
            align-items: center
            justify-content: space-between
            background-color: #DDFFCD
            border-radius: 5px
            z-index: 5
            &:hover
                box-shadow: 0px 2px 2px #00000030
            .user-info
                margin-left: 15px
                align-items: center
                .user-photo
                    height: 25px
                    width: 25px
                    border-radius: 50%
                    overflow: hidden
                    .image
                        height: auto
                        width: auto
                        object-fit: cover
                .user-contact-info
                    margin-left: 15px
                    font-size: 20px
                    font-weight: bold
                    color: #303030
            .user-options
                margin-right: 15px
                -moz-user-select: none
                -webkit-user-select: none
                -ms-user-select: none
                user-select: none
                .image-options
                    cursor: pointer
                    -moz-transition: all 0.25s linear
                    -webkit-transition: all 0.25s linear
                    transition: all 0.25s linear
                .user-info-line
                    height: 20px
                    border-width: 0 1px 0 0
                    border-style: solid
                    margin-right: 15px
                    color: #C6C6C6
                    cursor: default

#firstLi
    background-color: #FFCDCD
#secondLi
    background-color: #FFEBCD
#thirdLi
    background-color: #FFFDCD
#fourthLi
    background-color: #DDFFCD
#fifthLi
    background-color: #CDFFD8
#sixLi
    background-color: #CDFFFC
#sevenLi
    background-color: #CDEEFF
#eightLi
    background-color: #CDD5FF
#nineLi
    background-color: #EFCDFF
#tenLi
    background-color: #FFCDF4

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .default-user
        width: 330px
        margin-right: 10px
        .all-user
            width: 330px
            .user-field
                width: 295px
                .user-info
                    margin-left: 13px
                    .user-contact-info
                        font-size: 18px
                        margin-left: 13px
                .user-options
                    margin-right: 13px
                    .user-info-line
                        margin-right: 13px
                
@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .default-user
        margin-top: 15px
        margin-right: 0px
        .all-user
            .user-field
                .user-info
                    .user-contact-info
                        font-size: 19px

@media (min-width: 480px) and (max-width: 767px) //large phone
    .default-user
        margin-top: 15px
        margin-right: 0
        .all-user
            .user-field
                .user-info
                    .user-contact-info
                        font-size: 19px

@media (min-width: 320px) and (max-width: 479px) //phone
    .default-user
        width: 300px
        margin-top: 15px
        margin-right: 0px
        .all-user
            width: 300px
            .user-field
                width: 265px
                .user-info
                    margin-left: 10px
                    .user-contact-info
                        font-size: 16px
                        margin-left: 10px
                .user-options
                    margin-right: 13px
                    .user-info-line
                        margin-right: 13px

@media (min-width: 150px) and (max-width: 319px) //min width
    .default-user
        width: 240px
        margin-top: 15px
        margin-right: 0px
        .all-user
            width: 240px
            .user-field
                width: 205px
                .user-info
                    margin-left: 8px
                    .user-contact-info
                        font-size: 16px
                        margin-left: 8px
                .user-options
                    margin-right: 13px
                    .user-info-line
                        margin-right: 13px