@import 'variables';

:host {
  position: relative;
  z-index: $sidebar;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80px;
  border-right: 1px solid $light-separator;
  transition: 0.2s ease;

  .module {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    user-select: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;

    .item {
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .main-icon {
        display: flex;
        margin-bottom: 0.625rem;
        height: 32px;
        width: 32px;
        transition: 0.2s ease;
      }

      .menu-item-name {
        font-size: 0.875rem;
        font-weight: 500;
        transition: 0.2s ease;
      }
    }
  }

  .billing-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 100%;
    margin-top: auto;
    transition: 0.2s ease;
  }
}

.light {
  background-color: white;

  .module {
    &:hover {
      .item {
        .main-icon {
          color: #383838;
        }

        .menu-item-name {
          color: #383838;
        }
      }
    }

    .item {
      .main-icon {
        color: #5d5d5d;
      }

      .menu-item-name {
        color: #5d5d5d;
      }
    }
  }

  .active {
    // background-color: $light-text-color;
  }

  .billing-field {
    background-color: white;
    border-top: 1px solid $light-separator;

    .billing {
      background-color: $light-text-color;
      color: #f6f6f6;
    }
  }
}

.dark {
  border-color: $light-separator;
  background-color: $dark-color;

  .active {
    background-color: $dark-backlight;
  }

  .module {
    .item {
      .main-icon {
        color: white;
      }

      .menu-item-name {
        background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:hover:not(.active) {
      background-color: $dark-button;
    }
  }

  .billing-field {
    background-color: $dark-backlight;
  }
}

.light {
  .active {
    .item {
      .main-icon {
        color: #383838;
      }

      .menu-item-name {
        color: #383838;
      }
    }
  }
}

.dark {
  .active {
    .item {
      .menu-item-name {
        background: linear-gradient(112.11deg, #cdeeff -6.16%, #ffcdcd 104.11%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .main-icon {
        .mat-icon {
          fill: url(#gradient);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  nav {
    flex-direction: row;
    height: 80px;
    width: 100%;
    border-right: 0;
    border-top: 1px solid $light-separator;

    .module {
      height: 100%;
    }

    .billing-field {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  nav {
    height: $bottom-mobile-menu;

    .module {
      .item {
        .main-icon {
          height: 24px;
          width: 24px;
          margin-bottom: 0;
        }

        .menu-item-name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  nav {
    .module {
      .item {
        .main-icon {
          height: 24px;
          width: 24px;
          margin-bottom: 0.375rem;
        }
      }
    }
  }
}