<app-dialog-generic-header
  [message]="'titles.history' | translate"
  (clickEvent)="dialogRef.close()"
></app-dialog-generic-header>
<div appTheme class="history-section">
  <ng-scrollbar class="history-records" visibility="hover" appearance="compact">
    <app-history-record
      *ngFor="let item of histories$ | async"
      [noteId]="data.noteId"
      [history]="item"
    ></app-history-record
  ></ng-scrollbar>
  <app-no-results-illustration
    *ngIf="loading && !(histories$ | async)?.length"
    [isShow]="true"
    [message]="'noResult.history' | translate"
    [illustration]="ps.icon.historyIllustration"
    typeClass="popup-module"
  ></app-no-results-illustration>
</div>
