<div class="user-info generic-section" appTheme>
  <div class="photo" [appDrop]="'is-active'" (fileDropped)="uploadImageUserPhoto($event)">
    <img
      *ngIf="!photoError"
      [src]="(user$ | async).photoPath"
      alt="User photo"
      (error)="changeSource()"
    />
    <div *ngIf="photoError" class="photo-error">
      <mat-icon svgIcon="people" [inline]="true"></mat-icon>
    </div>
    <input
      type="file"
      accept="image/jpeg,image/png"
      name="choose photo"
      id="upl"
      (change)="uploadImageUserPhotoEvent($event)"
    />
    <label for="upl" class="change-photo" #profilePhoto>
      <div class="icon">
        <mat-icon svgIcon="newphoto" [inline]="true"></mat-icon>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="profilePhoto"></div>
    </label>
    <app-spinner *ngIf="spinnerActive" [size]="18"></app-spinner>
  </div>
  <div class="fields">
    <div class="field">
      <div class="field-name">
        <p>{{ 'profile.nameUser' | translate }}</p>
      </div>
      <input
        type="text"
        placeholder="Your name"
        [(ngModel)]="userName"
        (ngModelChange)="userNameChange($event)"
      />
    </div>
    <div class="field field-email">
      <div class="field-name">
        <p>{{ 'profile.email' | translate }}</p>
      </div>
      <input type="text" placeholder="Your name" disabled value="{{(user$ | async).email}}" />
      <div class="help-info">
        <p>{{ 'profile.descriptionEmail' | translate }}</p>
      </div>
    </div>
  </div>
</div>
