<div class="field" [ngStyle]="{backgroundColor: label.color}">
    <input type="text" placeholder="Name your label" [ngModel]="label.name" (ngModelChange)='changed($event)'>
    <div class="options">
        <button type="button" (click)="openColors()">
            <div class="icon">
                <i class="icon-plus"></i>
            </div>
        </button>
        <div class="separator"></div>
        <button type="button" (click)="delete()">
            <div class="icon">
                <i class="icon-plus"></i>
            </div>
        </button>
    </div>
</div>
<ul *ngIf="isUpdate" [@changeColorLabel]>
    <li (click)="changeColor('#FFCDCD')"></li>
    <li (click)="changeColor('#FFEBCD')"></li>
    <li (click)="changeColor('#FFFDCD')"></li>
    <li (click)="changeColor('#DDFFCD')"></li>
    <li (click)="changeColor('#CDFFD8')"></li>
    <li (click)="changeColor('#CDFFFC')"></li>
    <li (click)="changeColor('#CDEEFF')"></li>
    <li (click)="changeColor('#CDD5FF')"></li>
    <li (click)="changeColor('#EFCDFF')"></li>
    <li (click)="changeColor('#FFCDF4')"></li>
</ul>