@import 'genericLP';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field {
    
    &:focus-within {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

    input[type="text"] {
        height: 100%;
        width: 100%;
        font-size: 1.25rem;
        font-weight: 300;
        padding-left: 1rem;
        color: $light-text-color;
        transition: 0.2s ease;

        &:focus {
            padding-left: 1.25rem;

            &::placeholder {
                color: inherit;
            }
        }
    }
}

@media (max-width: 1440px) {
    .field {
        input[type="text"] {
            font-size: 1.125rem;
            font-weight: normal;
        }
    }
}
@media (max-width: 1024px) {
    .field {
        height: 35px;

        input[type="text"] {
            font-size: 1rem;
        }
    }
}