<div class="field" [ngStyle]="{backgroundColor: label.color}">
    <input type="text" [disabled]="deleted" placeholder="Name your label" [ngModel]="label.name" (ngModelChange)='changed($event)'>
    <div class="options">
        <button type="button" *ngIf="!deleted" (click)="openColors()">
            <div class="icon" [ngStyle]="{'transform': isUpdate == true ? 'rotate(180deg)' : '' }">
                <i class="icon-select-label"></i>
            </div>
        </button>

        <button type="button" *ngIf="deleted" (click)="restore()">
            <div class="icon">
                <i class="icon-restore"></i>
            </div>
        </button>

        <div class="separator-buttons"></div>
        <button type="button" (click)="delete()">
            <div class="icon">
                <i class="icon-cancel"></i>
            </div>
        </button>
    </div>
</div>
<ul class="colors" *ngIf="isUpdate" [@changeColorLabel]>
    <li class="color" (click)="changeColor(pallete.Red)"></li>
    <li class="color" (click)="changeColor(pallete.Orange)"></li>
    <li class="color" (click)="changeColor(pallete.Yellow)"></li>
    <li class="color" (click)="changeColor(pallete.GreenOne)"></li>
    <li class="color" (click)="changeColor(pallete.GreenTwo)"></li>
    <li class="color" (click)="changeColor(pallete.BlueOne)"></li>
    <li class="color" (click)="changeColor(pallete.BlueTwo)"></li>
    <li class="color" (click)="changeColor(pallete.Purple)"></li>
    <li class="color" (click)="changeColor(pallete.PinkOne)"></li>
    <li class="color" (click)="changeColor(pallete.PinkTwo)"></li>
</ul>