<ng-container [ngSwitch]="contentBase.noteTextTypeId">
  <div *ngSwitchCase="listType.Checklist" class="container">
    <div class="dot"></div>
    <div class="text" [innerHTML]="html" [ngClass]="{ 'line-through': contentBase.checked }"></div>
  </div>
  <div *ngSwitchCase="listType.Dotlist" class="container">
    <div class="dot"></div>
    <div class="text" [innerHTML]="html"></div>
  </div>
  <div *ngSwitchCase="listType.Numberlist" class="container">
    <div class="number">1.</div>
    <div class="text" [innerHTML]="html"></div>
  </div>
</ng-container>
