<div (mousedown)="preventUnSelection($event)" class="container" appTheme>
  <div
    class="button"
    (mousedown)="transformContent($event, textType.Heading, headingType.H1)"
    [ngClass]="getIsActive(textType.Heading, headingType.H1)"
  >
    <div class="icon">
      <mat-icon svgIcon="h1" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, textType.Heading, headingType.H2)"
    [ngClass]="getIsActive(textType.Heading, headingType.H2)"
  >
    <div class="icon">
      <mat-icon svgIcon="h2" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, textType.Heading, headingType.H3)"
    [ngClass]="getIsActive(textType.Heading, headingType.H3)"
  >
    <div class="icon">
      <mat-icon svgIcon="h3" [inline]="true"></mat-icon>
    </div>
  </div>
  <div class="button" (mousedown)="setBoldStyle($event)" [ngClass]="getIsActive(textType.Heading)">
    <div class="icon">
      <mat-icon svgIcon="bold" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="setItalicStyle($event)"
    [ngClass]="getIsActive(textType.Heading)"
  >
    <div class="icon">
      <mat-icon svgIcon="italic" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, textType.Checklist)"
    [ngClass]="getIsActive(textType.Checklist)"
  >
    <div class="icon">
      <mat-icon svgIcon="listChecked" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, textType.Dotlist)"
    [ngClass]="getIsActive(textType.Dotlist)"
  >
    <div class="icon">
      <mat-icon svgIcon="listDot" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, textType.Numberlist)"
    [ngClass]="getIsActive(textType.Numberlist)"
  >
    <div class="icon">
      <mat-icon svgIcon="list" [inline]="true"></mat-icon>
    </div>
  </div>
</div>
