<div class="wrapper" appTheme>
  <div class="header">
    <span>{{ 'modal.labelModal.Labels' | translate }}</span>
    <i class="icon-plus" mat-dialog-close></i>
  </div>
  <div class="dialog-content" mat-dialog-content>
    <mat-tab-group class="tabs" mat-stretch-tabs>
      <mat-tab label="Notes">
        <div class="tab-content">
          <div class="filter-row">
            <app-search class="search"></app-search>
            <app-select
              class="select"
              [translate]="'subMenu'"
              [selectValue]="'all'"
              (selectValueChange)="selectItem($event)"
            >
              <app-select-option *ngFor="let item of selectTypes" [value]="item">
                {{ ('subMenu.' + item) | translate }}
              </app-select-option>
            </app-select>
          </div>
          <ng-scrollbar
            #scrollbar
            class="content-scroll"
            [visibility]="'hover'"
            [appearance]="'compact'"
          >
            <div class="content-inner">
              <div
                *ngIf="loaded"
                class="grid-modal"
                [ngStyle]="{'opacity': murriService.flagForOpacity ? '1' : '0'}"
              >
                <div
                  #item
                  class="grid-modal-item"
                  id="{{item.id}}"
                  *ngFor="let item of viewNotes"
                  [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async).name === fontSize.Big ? 'big-size' : '']"
                >
                  <app-note
                    [note]="item"
                    (highlightNote)="highlightNote($event)"
                    (clickOnNote)="highlightNote($event)"
                    [ngStyle]="{'backgroundColor': item.color }"
                    class="note"
                  ></app-note>
                </div>
              </div>
            </div>
          </ng-scrollbar>
          <div class="fixed-filters" [hidden]="!(selectedNotesChips.length > 0)">
            <div class="wrapper-chips">
              <app-chip
                *ngFor="let item of selectedNotesChips"
                [color]="item.color"
                [text]="item.title ? item.title : 'no-title'"
                [isRemovable]="true"
                (remove)="unSelectNote(item)"
              ></app-chip>
            </div>
          </div>
          <app-spinner *ngIf="pService.spinnerActive"></app-spinner>
        </div>
      </mat-tab>
      <mat-tab label="Files">
        <div class="tab-content">In development</div>
      </mat-tab>
      <mat-tab label="Photos">
        <div class="tab-content">In development</div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-actions" mat-dialog-actions>
    <div class="actions">
      <div class="save-button" #saveButton [mat-dialog-close]="selectedNotesChips">
        <span>{{ 'modal.ColorModal.save' | translate }}</span>
        <div class="ripple-container" matRipple [matRippleTrigger]="saveButton"></div>
      </div>
    </div>
  </div>
</div>
