<div class="wrapper" appTheme>
    <div class="header">
        <span>{{ 'modal.labelModal.Labels' | translate }}</span>
        <i class="icon-plus" mat-dialog-close></i>
    </div>
    <div class="dialog-content" mat-dialog-content>
        <mat-tab-group class="tabs" mat-align-tabs="start">
            <mat-tab label="Notes">
                <div class="filter-row">
                    <app-search class="search"></app-search>
                    <button
                        class="dropdown-button" type="button"
                        cdkOverlayOrigin
                        #dropdown1
                        #origin="cdkOverlayOrigin"
                        (click)="isOpenDropdown = !isOpenDropdown">
                        <div class="content-button" #dropdownSelect>
                            <p>Personal</p>
                            <div class="icon" [ngStyle]="{'transform': isOpenDropdown ? 'rotate(180deg)' : '' }">
                                <i class="icon-select-label"></i>
                            </div>
                        </div>
                        <div class="ripple-container" matRipple [matRippleTrigger]="dropdownSelect"></div>
                    </button>
                    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origin"
                                [cdkConnectedOverlayOpen]="isOpenDropdown"
                                [cdkConnectedOverlayHasBackdrop]="true"
                                cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
                                [cdkConnectedOverlayPositions]="positions"
                                (backdropClick)="closeDropdown()">
                        <div class="dropdown" [@showDropdown] [style.width.px]="dropdown1.offsetWidth">
                            <div *ngFor="let item of selectTypes" class="item">
                                <p>{{ item }}</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <ng-scrollbar
                    [visibility]="'hover'"
                    [appearance]="'compact'">
                    <div class="content-inner">
                        <div *ngIf="loaded" class="grid" [ngStyle]="{'opacity': murriService.flagForOpacity ? '1' : '0'}">
                            <div class="grid-item" id="{{item.id}}" *ngFor="let item of noteService.notes"
                                [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : '']">
                                <app-note [note]="item" [ngStyle]="{'backgroundColor': item.color }" class="note"></app-note>
                            </div>
                        </div>
                    </div>
                </ng-scrollbar>
                <app-spinner *ngIf="pService.spinnerActive"></app-spinner>
            </mat-tab>
            <mat-tab label="Files">In development</mat-tab>
            <mat-tab label="Photos">In development</mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <div class="actions">
            <div class="save-button" #saveButton>
                <span>{{ 'modal.ColorModal.save' | translate }}</span>
                <div class="ripple-container" matRipple [matRippleTrigger]="saveButton"></div>
            </div>
        </div>
    </div>
</div>