<header>
  <div class="logo">
    <img src="../../../../assets/icons/svg/logo.svg" alt="Noots logo" />
  </div>
  <ng-content></ng-content>
  <div class="actions">
    <button type="button" (click)="login()" #trigger>
      <div *ngIf="(authService.IsAuthActive | async) === false; else spinner" class="text">
        {{ loginMessage | translate }}
      </div>
      <ng-template #spinner>
        <app-spinner [size]="14"></app-spinner>
      </ng-template>
      <div class="ripple-container" matRipple [matRippleTrigger]="trigger"></div>
    </button>
  </div>
</header>
