@import 'variables';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e7e7e7;
}

img {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  height: 100%;

  @media (max-width: 1024px) {
    max-width: 100%;
    padding: 0 2.25rem;
  }

  .logo {
    display: flex;
    width: 95px;
    margin-right: 1.5rem;
  }

  ::-webkit-scrollbar {
    height: 3px;
  }

  .actions {
    display: flex;
    align-items: center;

    button[type="button"] {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 32px;
      outline: none;
      border: 0.8px solid transparent;
      border-radius: 5px;
      background: $dark-button;
      transition: 0.2s ease;
      margin-left: auto;
      cursor: pointer;

      &:hover {
        background-color: #3d4049;
      }

      .text {
        position: relative;
        z-index: 5;
        display: flex;
        color: white;
      }
    }
  }

}
