<div *ngIf="loaded" class="grid" [ngStyle]="{'opacity': murriService.flagForOpacity ? '1' : '0'}">
  <div
    #item
    class="grid-item"
    id="{{item.id}}"
    *ngFor="let item of noteService.notes"
    [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async).name === fontSize.Big ? 'big-size' : '']"
  >
    <app-note
      [note]="item"
      (highlightNote)="noteService.highlightNote($event)"
      [ngStyle]="{'backgroundColor': item.color }"
      (clickOnNote)="noteService.toNote($event)"
      class="note"
    ></app-note>
  </div>
</div>
<app-no-results-illustration
  *ngIf="pService.illustrationActive"
  [isShow]="pService.illustrationActive"
  [message]="'noResult.deletedNotes' | translate"
  [illustration]="pService.icon.deletedIllustration"
  typeClass="type-module"
></app-no-results-illustration>
