@import "variables";

:host {
  position: relative;
  z-index: 5;
}

header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: $dark-color;
  border-bottom: 1px solid $light-separator;
  transition: 0.2s ease;

  .management-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% - 270px);
    padding: 0 3.125vw;

    .right {
      position: absolute;
      right: 0;
      padding-right: 3.125vw;
      background-color: $dark-color;
      transition: 0.2s ease;
    }

    .interactions {
      display: flex;
      align-items: center;
      height: 100%;

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 40;
        display: none;
      }
    }
  }

  .inner-menu {
    padding: 0;

    .interactions {
      justify-content: space-between;
    }

    .interactions:first-child {
      width: 70%;
      padding-left: 4vw;
    }

    .interactions:last-child {
      width: 30%;
      padding-right: 2vw;
      justify-content: flex-end;
    }

    .interactions>button,
    .menu-inner {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.light {
  background-color: white;

  .management-section {
    .right {
      background-color: white;
    }

    .interactions {
      .menu-inner {
        border-color: $light-button;
        background-color: white;
        color: $light-text-color;
      }

    }
  }

}


@media (min-width: 1024px) and (max-width: 1440px) {
  .visible-people {

    .inner-menu {
      .interactions {
        .overlay {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  header {
    .inner-menu {
      .right {
        display: none;
      }

      .interactions {
        justify-content: flex-start;
        padding: 0 4vw;

        &:first-child {
          width: 100%;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  header {

    .management-section {
      position: relative;
      width: 100%;


      .menu {
        position: fixed;
        right: 20px;
        top: 50px;
        height: auto;
      }

      .visible {

        button,
        .menu-inner {
          z-index: 50;
        }

        .overlay {
          display: block;
        }
      }
    }

    .inner-menu {
      .menu {
        justify-content: flex-end;
      }

      .interactions {
        width: 100%;

        .menu-inner-fixed {
          position: absolute;
          top: 50px;
          right: 4vw;
          margin-right: 0;
        }

      }
    }
  }

}


@media (max-width: 600px) {
  header {
    .management-section {
      .interactions {

        &:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
}


@media (max-width: 320px) {
  header {
    height: 45px;

    .management-section {
      .menu {
        top: 45px;
      }
    }

    .inner-menu {
      .interactions {
        .menu-inner-fixed {
          top: 45px;
        }
      }
    }
  }
}