<header appTheme>
  <div class="profile-section" cdk-overlay-origin #origin="cdkOverlayOrigin">
    <div class="profile" routerLink="/profile" #profile>
      <div class="profile-data">
        <div class="photo">
          <img alt="photo" [src]="(user$ | async).photoId | getImage" />
        </div>
        <p>{{(user$ | async).name}}</p>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="profile"></div>
    </div>
    <button
      name="Notification"
      type="button"
      class="notification"
      (click)="isOpenNotification = !isOpenNotification"
      #notification
    >
      <div class="notification-data">
        <div class="icon">
          <mat-icon svgIcon="notification" [inline]="true"></mat-icon>
        </div>
        <div *ngIf="(notificationCount$ | async) > 0" class="push">
          {{notificationCount$ | async}}
        </div>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="notification"></div>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="origin"
      [cdkConnectedOverlayOpen]="isOpenNotification"
      [cdkConnectedOverlayHasBackdrop]="true"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayPositions]="positions"
      (backdropClick)="closeNotification()"
    >
      <app-notification
        [@notification]
        (oncloseNotification)="closeNotification()"
      ></app-notification>
    </ng-template>
  </div>

  <div
    class="management-section"
    [ngClass]="(isNoteInner$ | async) ? 'inner-menu' : ''"
    [ngSwitch]="menuSwitch$ | async"
  >
    <div class="interactions">
      <div class="generic hamburger" (click)="toggleSidebar()" #hamburger>
        <div class="icon">
          <mat-icon [inline]="true">menu</mat-icon>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="hamburger"></div>
      </div>
    </div>

    <!-- PROFILE START -->
    <app-interaction-profile
      class="interactions"
      *ngSwitchCase="'profile'"
    ></app-interaction-profile>
    <!-- PROFILE END -->

    <!-- NOTE_FOLDER ITEMS START -->
    <app-interaction-items class="interactions" *ngSwitchCase="'items'"></app-interaction-items>
    <!-- NOTE_FOLDER ITEMS END -->

    <!-- LABEL DEFAULT START -->
    <app-general-header-button
      *ngSwitchCase="'label'"
      (clickEvent)="newButton()"
      [message]="'new.' + (route$ | async ) | translate"
      [iconClass]="'plus'"
      [styleClasses]="'generic-unfixed generic-create'"
    ></app-general-header-button>
    <!-- LABEL DEFAULT END -->

    <!-- LABEL DELETE START -->
    <app-general-header-button
      (click)="deleteAllFromBin()"
      *ngSwitchCase="'label-delete'"
      [message]="('header.emptyTrash' | translate)"
      [iconClass]="'delete'"
      [styleClasses]="'generic-2 generic-unfixed'"
    ></app-general-header-button>
    <!-- LABEL DELETE END -->

    <!-- INNER NOTE START -->
    <app-interaction-inner-note
      class="interactions inner-helper"
      *ngSwitchCase="'note-inner'"
    ></app-interaction-inner-note>
    <!-- INNER NOTE END -->

    <!-- INNER FOLDER START -->
    <app-interaction-inner-folder
      class="interactions"
      *ngSwitchCase="'folder-inner'"
    ></app-interaction-inner-folder>
    <!-- INNER FOLDER END -->

    <div
      class="interactions menu"
      *ngIf="(pService.isMenuActive$ | async) === (true)"
      [@showMenuLeftRight]
    >
      <app-menu class="menu-inner"></app-menu>
    </div>

    <app-interaction-tools class="interactions right-tools"></app-interaction-tools>
  </div>
</header>
