@import "variables";

:host {
  position: relative;
  z-index: 5;
}

header {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: $dark-color;
  border-bottom: 1px solid $light-separator;
  transition: 0.2s ease;

  .management-section {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% - 270px);
    padding: 0 3.125vw;

    .left {
      position: absolute;
      right: 0;
      padding-right: 3.125vw;
      background-color: $dark-color;
      transition: 0.2s ease;
    }

    .interactions {
      display: flex;
      align-items: center;
      height: 100%;

      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 40;
        display: none;
      }

      .filters {
        background-color: $dark-button;
        color: white;

        .inner-content {
          i::before {
            color: white;
          }
        }

        &:hover {
          background-color: #3d4049;
        }
      }

      .generic {
        position: relative;
        height: 30px;
        border: 0.8px solid transparent;
        padding: 0;
        outline: none;
        overflow: hidden;
        user-select: none;
        margin-right: 1rem;
        cursor: pointer;
        border-radius: 5px;

        .inner-content {
          position: relative;
          z-index: 5;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0.75rem;
          font-size: 1rem;

          p {
            padding-right: 1rem;
            white-space: nowrap;
          }

          i {
            font-size: 0.75rem;

            &::before {
              transition: 0.2s color ease;
            }
          }
        }
      }
      .history {
        .inner-content {
          p {
            padding-right: 0;
          }
        }
      }
    }
  }

  .inner-menu {
    padding: 0;

    .interactions {
      justify-content: flex-end;

      .history {
        width: auto;
        margin-right: 0;
        font-size: 1.125rem;
        font-weight: 500;
      }

      .user-circle {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        border: 0.8px solid transparent;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $dark-button;
        transition: 0.2s ease;
        margin-right: 1rem;
        overflow: hidden;
        cursor: pointer;

        p {
          position: relative;
          user-select: none;
          z-index: 5;
        }

        &:hover {
          background-color: #3d4049;
        }
      }

      .three-dots {
        position: relative;
        display: none;
        align-items: center;
        height: 30px;
        border: 0.8px solid transparent;
        background-color: $dark-button;
        padding: 0 0.5rem;
        user-select: none;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;

        span {
          position: relative;
          z-index: 5;
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: white;

          &::after,
          &::before {
            content: "";
            display: block;
            position: relative;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: white;
          }

          &::after {
            bottom: -3px;
          }

          &::before {
            bottom: 8px;
          }
        }
      }

      .mobile-buttons {
        display: none;
      }

      .wrapper-people {
        position: relative;
        display: flex;
        height: 100%;
        width: calc(100% - 660px);
        margin-right: auto;
        transition: 0.2s ease;

        .people-editing {
          display: flex;
          width: 100%;

          .person {
            display: flex;
            align-items: center;
            padding: 0 0.375rem;

            .inner-person {
              display: flex;
              width: 28px;
              height: 28px;
              overflow: hidden;
              border-radius: 50%;
              border: 2px solid #ffffff;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            p {
              display: none;
              @include text-overflow;
              width: calc(100% - 44px);
              white-space: nowrap;
            }
          }

          &::after,
          &::before {
            content: "";
            position: absolute;
            top: 0;
            z-index: 5;
            width: 12px;
            height: 100%;
          }

          &::before {
            left: 0;
            background: linear-gradient(270deg,
                hsla(0, 0%, 100%, 0),
                $dark-color);
          }

          &::after {
            right: 0;
            background: linear-gradient(90deg,
                hsla(0, 0%, 100%, 0),
                $dark-color);
          }
        }
      }
    }

    .interactions:first-child {
      width: 70%;
      padding-left: 4vw;
    }

    .interactions:last-child {
      width: 30%;
      padding-right: 2vw;
      justify-content: flex-end;
    }

    .interactions>button,
    .menu-inner {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.light {
  background-color: white;

  .management-section {
    .left {
      background-color: white;
    }

    .interactions {
      .menu-inner {
        border-color: $light-button;
        background-color: white;
        color: $light-text-color;
      }

      .generic {
        border-color: $light-button;
        background-color: white;
        color: $light-text-color;

        .inner-content {
          i::before {
            color: $light-text-color;
          }
        }

        &:hover {
          background-color: $light-nav-backlight;
        }

        &:first-child {
          background-color: white;
          border-color: transparent;

          span,
          span::before,
          span::after {
            background-color: $dark-color;
          }
        }
      }
    }
  }

  .inner-menu {
    .interactions {
      .wrapper-people {
        .people-editing {
          &::before {
            background-image: linear-gradient(270deg,
                hsla(0, 0%, 100%, 0),
                white);
          }

          &::after {
            background-image: linear-gradient(90deg,
                hsla(0, 0%, 100%, 0),
                white);
          }
        }
      }
    }
  }
}


@media (max-width: 1440px) {
  header {
    .inner-menu {
      .interactions {
        .user-circle {
          display: flex;
        }

        .wrapper-people {
          position: absolute;
          left: 4vw;
          top: 50px;
          height: auto;
          width: 250px;
          max-height: 410px;
          margin-right: initial;
          background-color: $dark-color;
          border: 0.8px solid transparent;
          border-radius: 5px;

          .people-editing {
            .person {
              width: 100%;
              padding: 1rem;
              transition: 0.2s ease;
              border-radius: 5px;

              .inner-person {
                margin-right: 1rem;
              }

              p {
                display: block;
              }

              &:hover {
                background-color: $dark-button;
              }
            }

            &::after,
            &::before {
              content: none;
            }
          }
        }
      }
    }
  }

  .light {
    .inner-menu {
      .interactions {
        .user-circle {
          background-color: white;
          border-color: $light-button;
          color: $text-color;

          &:hover {
            background-color: $light-nav-backlight;
          }
        }

        .wrapper-people {
          background-color: white;
          border-color: $light-button;

          .people-editing {
            color: $text-color;

            .person:hover {
              background-color: $light-nav-backlight;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .visible-people {

    .inner-menu {
      .interactions {

        .user-circle,
        .wrapper-people {
          z-index: 50;
        }

        .overlay {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  header {
    .inner-menu {
      .left {
        display: none;
      }

      .interactions {
        justify-content: flex-start;
        padding: 0 4vw;

        &:first-child {
          width: 100%;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  header {

    .management-section {
      position: relative;
      width: 100%;


      .menu {
        position: fixed;
        right: 20px;
        top: 50px;
        height: auto;
      }

      .interactions {
        .generic {
          .inner-content {
            padding: 0;
            justify-content: center;

            i {
              font-size: 1rem;
            }

            p {
              display: none;
            }
          }
        }

        .filters {
          width: 54px;
        }
      }

      .visible {

        button,
        .menu-inner,
        .three-dots {
          z-index: 50;
        }

        .overlay {
          display: block;
        }
      }
    }

    .inner-menu {
      .menu {
        justify-content: flex-end;
      }

      .interactions {
        width: 100%;

        .history {
          width: auto;

          .inner-content {
            padding: 0 0.75rem;

            p {
              display: block;
            }
          }
        }

        .menu-inner-fixed {
          position: absolute;
          top: 50px;
          right: 4vw;
          margin-right: 0;
        }

        .user-circle {
          display: none;
        }

        .three-dots {
          display: flex;
        }

        .mobile-buttons {
          display: flex;
        }

        .history {
          display: none;
        }

        .generic {
          width: 40px;

          .inner-content {
            height: 100%;
            width: 100%;
          }
        }

        .wrapper-people {
          position: static;
          left: initial;
          top: initial;
          height: 100%;
          width: calc(100% - 263px);
          max-height: initial;
          margin-right: 1rem;
          background-color: initial;
          border: 0;
          border-radius: initial;

          .people-editing {
            .person {
              width: auto;
              padding: 0 0.375rem;
              transition: 0.2s ease;
              border-radius: initial;

              .inner-person {
                margin-right: 0;
              }

              p {
                display: none;
              }

              &:hover {
                background-color: initial;
              }
            }

            &::after,
            &::before {
              content: "";
            }
          }
        }
      }
    }
  }

  .light {
    .inner-menu {
      .interactions {
        .three-dots {
          background-color: white;
          border-color: $light-button;

          span {
            background-color: $text-color;

            &::before,
            &::after {
              background-color: $text-color;
            }
          }
        }

        .wrapper-people {
          .people-editing {
            .person:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 600px) {
  header {
    .inner-menu {
      .interactions {
        .generic {
          width: 30px;
        }

        .wrapper-people {
          width: calc(100% - 223px);
        }
      }
    }

    .management-section {
      .interactions {

        &:last-child {
          justify-content: flex-end;
        }
      }
    }
  }
}


@media (max-width: 320px) {
  header {
    height: 45px;

    .management-section {
      .menu {
        top: 45px;
      }

      .interactions {
        .generic {
          height: 26px;
          width: 26px;
          margin-right: 0.875rem;

          .inner-content {
            i {
              font-size: 0.875rem;
            }
          }

          &:last-child {
            .inner-content {
              i {
                font-size: 0.875rem;
              }
            }
          }
        }

        .filters {
          width: 40px;
        }
      }
    }

    .inner-menu {
      .interactions {
        .generic {
          width: 30px;
        }

        .menu-inner-fixed {
          top: 45px;
        }

        .three-dots {
          height: 26px;

          span {
            height: 4px;
            width: 4px;

            &::after,
            &::before {
              height: 4px;
              width: 4px;
            }

            &::before {
              bottom: 7px;
            }
          }
        }

        .wrapper-people {
          .people-editing {
            .person {
              .inner-person {
                width: 26px;
                height: 26px;
              }
            }
          }
        }
      }
    }
  }
}