.empty-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #26282d;
  border-radius: 5px;
  margin: 0.15rem 0;
  user-select: none;
  p {
    font-size: 0.875rem;
    color: #7b7b7b;
  }
}

.light.empty-block{
  background-color: #ededed;
}
