div
    display: flex
    
.invites-menu
    flex-direction: column
    width: 300px
    height: 485px
    background: #FBFBFB
    border-left: 1px solid
    border-bottom: 1px solid
    border-color: #D6D6D6
    border-radius: 0px 0px 0px 5px