.container   
    width: 100%
    height: calc(100% - 60px)
    overflow: auto
    display: flex
    justify-content: center
    padding-top: 20px

    .profile
        max-width: 600px
        padding: 20px

        p
            font-weight: 500
            color: #383838

        .information
            margin-top: 15px
            margin-bottom: 20px
            display: flex
            justify-content: center

            .photo
                width: 120px
                height: 120px
                background: grey
                border-radius: 50%

                img
                    border-radius: 50% 
                    object-fit: cover
                    height: 100%
                    width: 100%

                &:hover
                    .hover
                        display: flex
                .hover
                    display: none
                    height: 40px
                    width: 100%
                    bottom: 44px
                    z-index: 0
                    opacity: 30%
                    position: relative
                    background: white
                    justify-content: center
                    align-items: center

                    img
                        border-radius: 0% 
                        position: absolute
                        z-index: 2
                        height: 20px
                        width: 22.66px

                    #upload                    
                        z-index: 3
                        opacity: 0
                        position: absolute
                        width: 22.66px
                        height: 20px

        .backgrounds
            margin-top: 15px
            margin-bottom: 20px
            width: 100%
            display: flex
            flex-wrap: wrap
            padding: 10px 0 20px 40px
            .background
                width: 120px
                margin: 0 5px 5px 5px
                height: 140px
                border-radius: 5px

                &:hover
                    .close
                        opacity: 1
                .close
                    opacity: 0
                    display: flex
                    height: 20px
                    width: 20px
                    background: #EFEFEF
                    position: relative
                    left: 100px
                    top: 20px
                    border-radius: 0 3px 0 7px
                    justify-content: center
                    align-items: center
                    img
                        height: 13px
                        width: 13px
                        &:hover
                            cursor: pointer
                img
                    width: 120px
                    height: 120px    
                    object-fit: cover
                    border-radius: 5px           
        .new
            margin-top: 15px
            margin-bottom: 20px

            .plus
                height: 120px
                width: 120px
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25)
                border-radius: 5px
                display: flex
                margin-left: 40px
                justify-content: center
                align-items: center
                    
                #uploadBackground
                    height: 57px !important
                    width: 58px !important
                    z-index: 3
                    opacity: 0
                    position: absolute
                    width: 22.66px
                    height: 20px
                    &:hover
                        cursor: pointer



input[type=file]::-webkit-file-upload-button
    cursor: pointer

            