<div class="container">
    <div class="profile">
        <p>Account</p>
        <div class="information">
            <div class="photo">
                <img [src]="user?.photo">
                <div class="hover">
                    <img id="profilePhoto" src="assets/profilePhoto.svg">
                    <input type="file" name="upload" id="upload"  placeholder="" (change)="uploadFile($event.target.files)">  
                </div>
            </div>
        </div>
        <p>Personalization</p>
        <div class="backgrounds">

        </div>
        <div class="new">
    
        </div>
    </div>
</div>
