@import 'variables';

:host {
  display: flex;
  padding: 0 0.5rem;
  margin: 0.25rem 0;
}

.audio-content {
  display: flex;
  width: 100%;
  
  .playlist {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    border-radius: 5px;

    .spinner-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
    }
  }
}

.dark {
  background-color: $dark-color;
}

.light {
  background-color: #fafafa;
  color: $text-color;
  border: 0.8px solid #bababa;
}
