<div
  class="playlist"
  appTheme
  [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
>
  <div class="playlist-options">
    <div class="title">
      <p
        #titleHtml
        (input)="onInput($event)"
        (click)="clickAudioHandler(null)"
        [textContent]="content?.name"
        [attr.contenteditable]="!isReadOnlyMode"
      ></p>
      <div class="placeholder">{{ 'placeholder.playlist' | translate }}</div>
    </div>
    <button
      class="audio-button"
      type="button"
      name="options"
      #playlistOptions
      [matMenuTriggerFor]="menu"
    >
      <div class="icon">
        <mat-icon [inline]="true">more_horiz</mat-icon>
      </div>
      <div class="ripple-container" matRipple [matRippleTrigger]="playlistOptions"></div>
    </button>
    <mat-menu
      #menu="matMenu"
      appLazyTheme
      themeClass="menu"
      attributeName="panelClass"
      [element]="menu"
    >
      <button
        *ngIf="!isReadOnlyMode"
        mat-menu-item
        type="button"
        name="add new audio"
        (click)="uploadHandler()"
      >
        <mat-icon>library_music</mat-icon>
        <span>{{ 'innerNote.menu.add' | translate }}</span>
      </button>
      <button mat-menu-item type="button" name="Download" (click)="exportPlaylist(content)">
        <mat-icon>download</mat-icon>
        <span> {{ 'innerNote.photoMenu.download' | translate }} </span>
      </button>
      <button
        *ngIf="!isReadOnlyMode"
        mat-menu-item
        type="button"
        name="delete"
        (click)="deleteContentEvent.emit(content.id)"
      >
        <mat-icon>delete</mat-icon>
        <span>{{ 'innerNote.menu.delete' | translate }}</span>
      </button>
    </mat-menu>
  </div>
  <ng-container *ngIf="!isEmpty">
    <app-audio
      *ngFor="let item of content.audios;"
      [audio]="item"
      [isReadOnlyMode]="isReadOnlyMode"
      (playEvent)="play($event)"
      (pauseEvent)="pause()"
      (deleteAudio)="deleteAudioHandler($event)"
      (exportAudio)="exportAudio($event)"
      (clickEvent)="clickAudioHandler($event)"
    ></app-audio>
  </ng-container>
  <div *ngIf="content.isLoading" class="spinner-container">
    <app-spinner [size]="16"></app-spinner>
  </div>
</div>
<input
  #uploadAudiosRef
  type="file"
  multiple
  [accept]="formats"
  hidden="true"
  (change)="uploadAudios($event)"
/>
