.list-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #5F5F5F;

  .list-item-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.02em;
    padding: 1.875rem 0;
    user-select: none;
    cursor: pointer;
  }

  .highligh {
    padding-bottom: 4px;
    border-bottom: 1px solid #53B7FF;
    transition: 0.25s ease;
  }

  .list-item-body {
    display: flex;
    background: #212327;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 1.875rem;
    font-weight: 300;

    .description {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }
}