@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.highlight {
  background-color: violet;
  font-weight: bold;
}

.search-dialog-container {
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;

  .search-container {
    margin-top: 0.75rem;
  }

  .search-results {
    padding-bottom: 15px;
    height: calc(100% - 46px);
    display: flex;
    flex-direction: column;

    .results-container {
      position: relative;
      height: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      margin-top: 1rem;
      padding-bottom: 15px;

      .empty-placeholder-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        p {
          text-align: center;
          font-size: 0.875rem;
          font-weight: 400;
          color: #808080;
        }
      }

      .note-result-card {
        display: flex;

        &:not(:first-child) {
          margin-top: 10px;
        }

        .note-result-card-container {
          display: flex;
          flex-grow: 1;
          padding: 8px 15px 8px 10px;
          border-radius: 5px;
          .note-result-card-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .note-result-contents {
              padding-left: 10px;
              margin-top: 10px;
            }
          }
        }
      }

      .folder-result-card {
        display: flex;

        &:not(:first-child) {
          margin-top: 10px;
        }

        .folder-result-card-container {
          display: flex;
          flex-grow: 1;
          padding: 8px 15px 8px 10px;
          border-radius: 5px;
          .folder-result-card-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
          }

        }
      }
    }

    .result-card-icon {
      display: flex;
      align-items: center;
      width: 35px;
      cursor: pointer;
      .icon-container {
        display: flex;

        mat-icon {
          height: 16px;
        }
      }
    }
    .go-entity {
      cursor: pointer;
    }
  }
}

.dark {
  .note-result-card {
    .note-result-card-container {
      background-color: #212327;
    }
  }
  .folder-result-card {
    .folder-result-card-container {
      background-color: #212327;
    }
  }
}

.light {
  .note-result-card {
    .note-result-card-container {
      background-color: #f2f2f2;
    }
  }
  .folder-result-card {
    .folder-result-card-container {
      background-color: #f2f2f2;
    }
  }
}

.dialog-container-padding {
  padding: 0 1.75rem;
}

.dialog-content-container-padding {
  padding: 0 1.60rem;
}

@media (max-width: 900px) {
  :host {
    width: 100%;
    height: 100%;
  }

  mat-dialog-container {
    border-radius: 0px !important;
  }

  .search-dialog-container {
    .search-results {
      .results-container {
        height: 100%;
      }
    }
  }
}