<div
  class="outer"
  [routerLink]="['/folders/', folder.id]"
  [ngStyle]="{'backgroundColor': shadeColor(folder.color, -10) }"
  [ngClass]="(pService.fontSize$ | async) === fontSize.Big ? 'big-outer' : ''"
></div>
<div
  class="folder"
  [ngStyle]="{'backgroundColor': folder.color}"
  [ngClass]="(pService.fontSize$ | async) === fontSize.Big ? 'big-size' : ''"
>
  <div
    class="highligt"
    (click)="highlight(folder.id)"
    [ngStyle]="{'backgroundColor': folder.isSelected ? 'rgba(101, 226, 113, 0.65)' : '' }"
    #highlightFolder
  >
    <div class="ripple-container" matRipple [matRippleTrigger]="highlightFolder"></div>
  </div>
  <div (click)="handelEntityClick($event, folder.id)" class="folder-inner">
    <input
      type="text"
      [placeholder]="'placeholder.folderSmall' | translate"
      [ngModel]="folder.title"
      (ngModelChange)="changed($event)"
      [disabled]="isSelectedMode || !folder.isCanEdit"
    />
    <div
      class="folder-content"
      (click)="toFolder($event)"
      [ngStyle]="{'cursor': folder.lockRedirect ? 'pointer' : ''}"
    >
      <div class="notes">
        <div
          *ngFor="let note of folder.previewNotes"
          class="note"
          [ngClass]="{ 'no-title': !note.title }"
        >
          <div class="icon">
            <mat-icon svgIcon="notes" [inline]="true"></mat-icon>
          </div>
          <p *ngIf="note.title">{{ note.title }}</p>
          <p *ngIf="!note.title" class="placeholder">{{ 'placeholder.folderNote' | translate }}</p>
        </div>
      </div>
      <div class="bottom-section">
        <div
          class="date"
          [CustomTooltip]="tooltipDateMessage ?? 'entity-bottom-tooltip.updated' | translate"
        >
          <p>{{ updateTime }}</p>
        </div>
        <div class="help-icons">
          <div
            *ngIf="isShowWrightRead && folder.isCanEdit && !isAuthor"
            class="icon"
            [CustomTooltip]="'entity-bottom-tooltip.editNote' | translate"
          >
            <mat-icon svgIcon="bigPencil" [inline]="true"></mat-icon>
          </div>
          <div
            *ngIf="isShowWrightRead && !folder.isCanEdit && !isAuthor"
            class="icon"
            [CustomTooltip]="'entity-bottom-tooltip.readFolder' | translate"
          >
            <mat-icon svgIcon="glas" [inline]="true"></mat-icon>
          </div>
          <div
            *ngIf="folderType.Shared === folder.folderTypeId && isAuthor"
            class="icon"
            [CustomTooltip]="'entity-bottom-tooltip.ownerFolder' | translate"
          >
            <mat-icon svgIcon="people" [inline]="true"></mat-icon>
          </div>
          <div
            *ngIf="folder.additionalInfo?.isHasUserOnNote"
            class="icon"
            [CustomTooltip]="'entity-bottom-tooltip.hasUsersFolder' | translate"
          >
            <mat-icon svgIcon="people-many" [inline]="true"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
