<div class="outer" [routerLink]="['/folders/', folder.id]"
    [ngStyle]="{'backgroundColor': shadeColor(folder.color, -10) }"
    [ngClass]="(pService.fontSize$ | async) === fontSize.Big ? 'big-outer' : ''"></div>
<div class="folder" [ngStyle]="{'backgroundColor': folder.color}"
    [ngClass]="(pService.fontSize$ | async) === fontSize.Big ? 'big-size' : ''">
    <div class="highligt" (click)="highlight(folder.id)"
        [ngStyle]="{'backgroundColor': folder.isSelected ? 'rgba(101, 226, 113, 0.65)' : '' }" #highlightFolder>
        <div class="ripple-container" matRipple [matRippleTrigger]="highlightFolder"></div>
    </div>
    <div class="folder-inner">
        <input type="text" placeholder="Folder name" [ngModel]="folder.title" (ngModelChange)='changed($event)'>
        <div class="notes" (click)="toFolder()" [ngStyle]="{'cursor': folder.lockRedirect ? 'pointer' : ''}">
            <div class="note">
                <i class="icon-notes"></i>
                <p>Hello Hello Hello Hello</p>
            </div>
            <div class="note">
                <i class="icon-notes"></i>
                <p>Hello Hello Hello Hello</p>
            </div>
            <div class="note">
                <i class="icon-notes"></i>
                <p>Hello Hello Hello Hello</p>
            </div>
        </div>
    </div>
</div>