<div (mousedown)="preventUnSelection($event)" class="container">
    <i (mousedown)="transformContent($event, contentType.HEADING, headingType.H1)" class="icon-h1"></i>
    <i (mousedown)="transformContent($event, contentType.HEADING, headingType.H2)" class="icon-h2"></i>
    <i (mousedown)="transformContent($event, contentType.HEADING, headingType.H3)" class="icon-h3"></i>
    <i (mousedown)="transformContent($event, contentType.CHECKLIST)" class="icon-list-checked"></i>
    <i (mousedown)="transformContent($event, contentType.DOTLIST)" class="icon-list-dot"></i>
    <i (mousedown)="transformContent($event, contentType.NUMBERLIST)" class="icon-list"></i>
</div>