@import 'variables';

.container {
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(236, 236, 236);

  .button {
    display: flex;
    cursor: pointer;
    padding: 0.5rem 0.438rem;
    cursor: pointer;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .active {
    color: #2997ff;
  }
}

.dark {
  background-color: $dark-button;

  .button {
    color: #e6e6e6;

    &:hover {
      color: white;
    }
  }
}

.light {
  background-color: #eee;

  .button {
    color: #4e4e4e;

    &:hover {
      color: $text-color;
    }
  }
}
