<div (mousedown)="preventUnSelection($event)" class="container" appTheme>
  <div
    class="button"
    (mousedown)="transformContent($event, contentType.HEADING, headingType.H1)"
    [ngClass]="getIsActive(contentType.HEADING, headingType.H1)"
  >
    <div class="icon">
      <mat-icon svgIcon="h1" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, contentType.HEADING, headingType.H2)"
    [ngClass]="getIsActive(contentType.HEADING, headingType.H2)"
  >
    <div class="icon">
      <mat-icon svgIcon="h2" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, contentType.HEADING, headingType.H3)"
    [ngClass]="getIsActive(contentType.HEADING, headingType.H3)"
  >
    <div class="icon">
      <mat-icon svgIcon="h3" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, contentType.CHECKLIST)"
    [ngClass]="getIsActive(contentType.CHECKLIST)"
  >
    <div class="icon">
      <mat-icon svgIcon="listChecked" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, contentType.DOTLIST)"
    [ngClass]="getIsActive(contentType.DOTLIST)"
  >
    <div class="icon">
      <mat-icon svgIcon="listDot" [inline]="true"></mat-icon>
    </div>
  </div>
  <div
    class="button"
    (mousedown)="transformContent($event, contentType.NUMBERLIST)"
    [ngClass]="getIsActive(contentType.NUMBERLIST)"
  >
    <div class="icon">
      <mat-icon svgIcon="list" [inline]="true"></mat-icon>
    </div>
  </div>
</div>
