<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseleave)="mouseLeave($event)"
>
  <app-drag-drop-handler-container [isShow]="isMouseOver" *ngIf="!isReadOnlyMode"
    ><ng-content></ng-content
  ></app-drag-drop-handler-container>
  <div
    class="main-item"
    [ngStyle]="{'backgroundColor': isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null }"
  >
    <div class="dot-container">
      <div class="dot"></div>
    </div>
    <div class="text-container">
      <p
        class="block-generic default-text-size"
        #contentHtml
        [attr.contenteditable]="!isReadOnlyMode"
        [innerHTML]="viewHtml"
        (input)="onInput()"
      ></p>
      <p class="no-content-list" *ngIf="isActive">{{'innerNote.text' | translate}}</p>
    </div>
  </div>
</div>
