<ng-scrollbar
  class="background-section"
  [autoHeightDisabled]="true"
  [visibility]="'hover'"
  [appearance]="'compact'"
>
  <div *ngIf="loaded" class="background-container">
    <div
      class="background"
      *ngFor="let item of backgrounds$ | async"
      [ngClass]="item.id === (user$ | async).currentBackground?.id ? 'active-background' : ''"
    >
      <img alt="background" [src]="item.photoPath" (click)="setCurrentBackground.emit(item.id)" />
      <div class="thumbnail" (click)="removeBackground.emit(item.id)">
        <div class="icon">
          <mat-icon svgIcon="cancelThin" [inline]="true"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</ng-scrollbar>
