<div class="card" appTheme>
  <div class="preview">
    <img *ngIf="data.image" [src]="data.image" (load)="isLoaded = true" [hidden]="!isLoaded" />
    <div *ngIf="isLoaded && !data.image" class="photo-error">
      <mat-icon [inline]="true">error_outline</mat-icon>
    </div>
    <app-spinner size="25" *ngIf="!isLoaded"></app-spinner>
  </div>
  <div class="card-body">
    <div class="card-info" (click)="openNewTab()">
      <div class="title">{{ data.title }}</div>
      <div class="link">{{ link }}</div>
    </div>
    <div class="card-action">
      <button type="button" name="options" #action [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <div class="ripple-container" matRipple [matRippleTrigger]="action"></div>
      </button>
      <mat-menu
        #menu="matMenu"
        [class]="true ? 'dark-menu' : null"
      >
        <button (click)="copyToBuffer()" mat-menu-item type="button" name="options">
          <mat-icon>content_copy</mat-icon>
          <span>{{ 'innerNote.menu.copy' | translate }}</span>
        </button>
        <button *ngIf="!isReadOnlyMode" mat-menu-item type="button" name="options">
          <mat-icon>delete</mat-icon>
          <span>{{ 'innerNote.menu.delete' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
