div
    display: flex


.help-menu
    position: absolute
    z-index: 100
    top: 0
    left: 50%
    transform: translate(-50%, 0)

.wrapper-main
    width: 100%
    justify-content: center
    height: calc(100% - 50px)
    overflow: auto
    .wrapper-notes
        width: 1200px
        flex-wrap: wrap
        justify-content: flex-start
        .note
            margin: 0 0 10px 15px

@media only screen and (min-width: 1200px) and  (max-width: 1480px)
    .wrapper-main
        .wrapper-notes
            width: 770px

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .wrapper-main
        .wrapper-notes
            width: 760px

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .wrapper-main
        justify-content: flex-start
        .wrapper-notes
            width: 360px


@media (min-width: 480px) and (max-width: 767px) //large phone
    .wrapper-main
        justify-content: flex-start
        .wrapper-notes
            width: 360px

@media (min-width: 320px) and (max-width: 479px) //phone
    .wrapper-main
        justify-content: flex-start
        .wrapper-notes
            width: 300px
@media (min-width: 150px) and (max-width: 319px) //min width
    .wrapper-main
        justify-content: flex-start
        .wrapper-notes
            width: 270px