div
    display: flex
      
.help-menu
    position: absolute
    z-index: 100
    top: 0
    left: 50%
    transform: translate(-50%, 0)

.wrapper-items
    margin-top: 20px
    width: 1120px
    flex-wrap: wrap
    justify-content: flex-start
    transition: .2s ease
    .note
        transition: .2s ease
        margin: 20px 20px 20px 0
        &:nth-child(3n)
            margin-right: 0px

.wrapper-more
    width: 1500px !important
    .note
        &:nth-child(3n)
            margin-right: 20px
        &:nth-child(4n)
            margin-right: 0px

@media only screen and (min-width: 1200px) and  (max-width: 1520px)
    .wrapper-items
        width: 740px
        .note
            &:nth-child(3n)
                margin-right: 20px
            &:nth-child(2n)
                margin-right: 0px

    .wrapper-more
        width: 1120px !important
        .note
            &:nth-child(2n)
                margin-right: 20px !important
            &:nth-child(3n)
                margin-right: 0px !important

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .wrapper-items
        width: 760px
        .note
            &:nth-child(3n)
                margin-right: 20px
            &:nth-child(2n)
                margin-right: 0px !important
    .wrapper-more
        width: 760px !important
        .note
            &:nth-child(3n)
                margin-right: 20px !important
            &:nth-child(2n)
                margin-right: 0px !important

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .wrapper-items
        width: 360px
        .note
            margin-right: 0px
    .wrapper-more
        width: 740px !important
        .note
            margin-right: 20px !important
            &:nth-child(2n)
                margin-right: 0px !important

@media (min-width: 480px) and (max-width: 767px) //large phone
    .wrapper-items
        width: 360px
        .note
            margin-right: 0px

@media (min-width: 320px) and (max-width: 479px) //phone
    .wrapper-items
        width: 300px
        .note
            margin-right: 0px
@media (min-width: 150px) and (max-width: 319px) //min width
    .wrapper-items
        width: 270px
        .note
            margin-right: 0px