<div class="sub-nav">
    <div class="sub-nav-item-section">
        <div class="sub-nav-item" (click)="switchSub(menu.All)" [ngClass]="{active: current === menu.All}">
            <p>{{ 'subMenu.all' | translate }}</p>
            <p>12</p>
        </div>
        <div class="sub-nav-item" (click)="switchSub(menu.Invitations)" [ngClass]="{active: current === menu.Invitations}">
            <p>{{ 'subMenu.invitation' | translate }}</p>
            <p>12</p>
        </div>
        <div class="separator"></div>
    </div>
    <div class="information">
        <div class="text">
            <p>50mb of 100MB</p>
        </div>
        <div class="progress-bar">
            <div class="indicator"></div>
        </div>
    </div>
</div>
<div class="content"></div>