@import 'submenu';

.cdk-drop-list {
  display: flex;
  flex: 0 0 calc(100% / 3 - 1rem);
  margin-right: 1.5rem;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.cdk-drag-placeholder {
  opacity: .3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}