.mat-mdc-menu-content {
  padding: 0 !important;
  .mat-mdc-menu-item {
    min-height: 42px;
    .mat-icon{
      height: 22px;
      width: 22px;
      font-size: 22px;
      overflow: initial;
    }
  }
}


.mat-mdc-menu-panel {
  button {
    background: transparent;
    a {
      font-size: 0.875rem;
      text-decoration: none;
      color: black;
    }
    span {
      font-size: 0.875rem;
    }
  }
}

.dark-menu {
  background: $dark-button;
  button {
    color: white;
    span {
      color: white;
    }
    a {
      color: white;
    }
    .mat-icon {
      color: white;
    }
    .mat-mdc-menu-submenu-icon {
      color: white;
    }
  }
}

.white-menu {
  border: 1px solid #cecece;
  box-shadow: none !important;
}

.dark-text-color-menu {
  background: $dark-button;
  overflow: hidden !important;
  max-height: initial !important;
  color: white;
}
