.mat-mdc-tab-header {
  border: none !important;
  padding: 0 2.5rem;
  --mdc-tab-indicator-active-indicator-height: 3px;
  --mdc-tab-indicator-active-indicator-shape: 0;
}

.dark,
.light {
  .tabs {
    .mdc-tab__text-label {
      font-size: 1.25rem;
      user-select: none;
      opacity: 1;
    }
    .mat-mdc-tab-body-wrapper {
      height: 100%;
    }
  }
}

.light {
  .tabs {
    --mdc-tab-indicator-active-indicator-color: #4a85df !important;
    --mat-tab-header-inactive-label-text-color: #808080; // .mat-tab-label
    --mat-tab-header-active-label-text-color: #4a85df !important;
    --mat-tab-header-active-ripple-color: transparent !important;
    --mat-tab-header-inactive-ripple-color: transparent !important;
    --mat-tab-header-inactive-focus-label-text-color: #4a85df;
    --mat-tab-header-inactive-hover-label-text-color: #4a85df;
    --mat-tab-header-active-focus-label-text-color: #4a85df !important;
    --mat-tab-header-active-hover-label-text-color: #4a85df !important;
    --mat-tab-header-active-focus-indicator-color: #4a85df !important;
    --mat-tab-header-active-hover-indicator-color: #4a85df !important;
  }

  ng-scrollbar {
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.3);
  }
}

.dark {
  .tabs {
    --mdc-tab-indicator-active-indicator-color: #ddffcd !important;
    --mat-tab-header-inactive-label-text-color: white; // .mat-tab-label
    --mat-tab-header-active-label-text-color: #ddffcd !important;
    --mat-tab-header-active-ripple-color: transparent !important;
    --mat-tab-header-inactive-ripple-color: transparent !important;
    --mat-tab-header-inactive-focus-label-text-color: #ddffcd;
    --mat-tab-header-inactive-hover-label-text-color: #ddffcd;
    --mat-tab-header-active-focus-label-text-color: #ddffcd !important;
    --mat-tab-header-active-hover-label-text-color: #ddffcd !important;
    --mat-tab-header-active-focus-indicator-color: #ddffcd !important;
    --mat-tab-header-active-hover-indicator-color: #ddffcd !important;
  }

  ng-scrollbar {
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.3);
  }
}
