@import "../../../node_modules/hamburgers/dist/hamburgers.min.css"

svg
    width: 100%
    height: 100%

div
    display: flex

header
    display: flex
    position: relative
    width: 100%
    height: 50px
    background: #303030
    align-items: center
    .left-content
        height: 100%
        width: 200px
        padding: 0  0 0 35px
        align-items: center
        .is-active
            .hamburger-inner
                &::before
                    top: 0px !important
                &::after
                    bottom: 0px !important
        .hamburger--squeeze
            height: 20px
            cursor: pointer
            .hamburger-box
                width: 20px
                height: 20px
                .hamburger-inner
                    background-color: #ffffff
                    width: 20px
                    height: 2px
                    margin-top: 0px
                    &::before
                        background-color: #ffffff
                        width: 20px
                        height: 2px
                        top: -8px
                    &::after
                        background-color: #ffffff
                        width: 20px
                        height: 2px
                        bottom: -8px
    .right-content
        height: 100%
        width: calc( 100% - 200px )
        padding: 0  20px 0 0
        align-items: center
        justify-content: space-between
        .svg-logo
            outline: none
            width: 94px
            height: 25px
            cursor: pointer
        .header-instruments
            align-items: center
            .main-search
                align-items: center
                input[type=text], select
                    width: 250px
                    height: 30px
                    margin: 5px 0 5px 0px
                    border: none
                    outline: none
                    border-radius: 8px 0px 0px 8px
                    padding: 0 0 0 10px
                    font-size: 16px
                    background: #4A4A4A 
                    color: #8E8E8E
                    transition: .3s ease
                    &:focus
                        width: 300px
                        color: #cacaca
                .search-area
                    height: 30px
                    width: 35px
                    align-items: center
                    justify-content: center
                    background: #515151 !important
                    border-radius: 0px 8px 8px 0px
                    cursor: pointer
                    .search-icon
                        width: 18px
                        height: 19px
            .header-icons
                height: 45px
                width: 45px
                border-radius: 50%
                align-items: center
                justify-content: center
                position: relative
                cursor: pointer
                margin-left: 8px
                transition: background 0.8s
                &:nth-child(2)
                    margin-left: 17.5px
                &:hover
                    background: #2b2b2b radial-gradient(circle, transparent 1%, #2b2b2b 1%) center/15000%
                &:active
                    background-color: #6e6e6e
                    background-size: 100%
                    transition: background 0s
                .header-icons-first
                    width: 26px
                    height: 25px
                .header-icons-second
                    width: 23px
                    height: 25px
                .push
                    justify-content: center
                    align-items: center
                    position: absolute
                    top: 2px
                    right: 2px
                    height: 20px
                    width: 20px
                    border-radius: 50%
                    background-color: #ED6565
                    color: white
                    font-size: 12px
                .profile
                    width: 35px
                    height: 35px
                    border-radius: 50%
                    overflow: hidden

                    img
                        width: 100%
            .fix-height
                height: 30px
        .help-menu-wrapper
            position: absolute
            z-index: 100
            top: 50px
            right: 0px

.wrapper
    width: 100%
    height: 100%
    main
        width: 100%
    aside
        margin-top: 1px
        display: flex
        flex-direction: column
        width: 200px
        height: 100%
        background-color: #FBFBFB
        .active-sidebar-field
            background-color: #303030
            border-radius: 0px 0px 10px 0px
            .sidebar-title
                background: linear-gradient(112.11deg, #CDEEFF -6.16%, #FFCDCD 104.11%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
            .sidebar-icon-wrapper-first
                .icon1
                    fill: url(#paint1_linear)
            .sidebar-icon-wrapper-second
                .rect2
                    fill: url(#paint2_linear)
                .rect1
                    fill: #fff
            .sidebar-icon-wrapper-third
                .icon3
                    d: path("M0 1C0 0.447715 0.447715 0 1 0L17.8916 0C18.2288 0 18.5433 0.169957 18.7281 0.45204L23.6411 7.95204C23.859 8.28482 23.859 8.71517 23.6411 9.04796L18.7281 16.548C18.5433 16.83 18.2288 17 17.8916 17L1 17C0.447715 17 0 16.5523 0 16L0 1Z")
                    fill: url(#paint3_linear)
            .sidebar-icon-wrapper-fourth
                .icon4
                    fill: url(#paint4_linear)
            .sidebar-icon-wrapper-fifth
                .icon5
                    fill: url(#paint5_linear)
        .sidebar-field:not(.active-sidebar-field):hover
            background-color: #ececec
            border-radius: 0px 0px 10px 0px
            .field
                .sidebar-icon
                    .rect1
                        fill: #999999
                    .rect2
                        fill: #303030
                    path
                        fill: #303030
                .sidebar-title
                    color: #303030
        .sidebar-field
            flex-direction: column
            width: 200px
            transition: .3s cubic-bezier(0,0,0,1)
            .sidebar-field-help
                height: 180px
                width: 100%
                flex-direction: column
                align-items: center
                .active-sidebar-field-help
                    background: linear-gradient(99.51deg, rgba(37, 36, 36, 0.167409) 25.95%, #252424 56.56%, rgba(37, 36, 36, 0) 82.12%, #252424 99.63%)
                    border-radius: 0px 0px 10px 0px
                    .sidebar-title-help
                        color: #8EEB97 !important
                    .sidebar-icon-help
                        circle
                            fill: #8EEB97
                    .sidebar-icon-help-plus
                        path
                            fill: #8EEB97
                .field-help:not(.active-sidebar-field-help):hover
                    background: #2A2A2A
                    border-radius: 0px 0px 10px 0px
                .field-help
                    height: 45px
                    width: 100%
                    padding-left: 50px
                    border-radius: 0px 0px 10px 0px
                    align-items: center
                    cursor: pointer
                    outline: none
                    transition: .3s ease-out
                    .sidebar-icon-help-wrapper
                        height: 100%
                        width: 30px
                        align-items: center
                        justify-content: center
                        .sidebar-icon-help
                            width: 8px
                            height: 8px
                        .sidebar-icon-help-plus
                            width: 10px
                            height: 10px
                    .sidebar-title-help
                        height: 100%
                        align-items: center
                        font-size: 16px
                        color: #DADADA 
            .field
                width: 100%
                height: 50px
                flex-direction: row
                align-items: center
                padding-left: 15px
                cursor: pointer
                outline: none
                .sidebar-icon
                    height: 100%
                    width: 60px
                    align-items: center
                    justify-content: center
                    path
                        transition: 0.3s ease
                    rect
                        transition: 0.3s ease
                    .sidebar-icon-wrapper-first
                        width: 23px
                        height: 24px
                    .sidebar-icon-wrapper-second
                        width: 24px
                        height: 19px
                    .sidebar-icon-wrapper-third
                        width: 24px
                        height:17px
                    .sidebar-icon-wrapper-fourth
                        width: 20px
                        height: 24px
                    .sidebar-icon-wrapper-fifth
                        width: 19px
                        height: 24px
                .sidebar-title
                    height: 100%
                    align-items: center
                    font-size: 22px
                    color: #484848

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet

@media (min-width: 480px) and (max-width: 767px) //large phone

@media (min-width: 320px) and (max-width: 479px) //phone

@media (min-width: 150px) and (max-width: 319px) //min width