<header>
        <div class="content">
            <div class="content-header flex-container space-between">
                <div class="left flex-container">
                    <div class="hamburger hamburger--squeeze" aria-label="Menu" role="button" aria-controls="navigation"
                        (click)="DropMenu()" [ngClass]="activeMenu ? 'is-active' : ''">
                        <div class="hamburger-box">
                            <div class="hamburger-inner">
                            </div>
                        </div>
                    </div>
                    <div class="logo">
                        <img src="assets/logo-without-squirell.svg" />
                    </div>
                </div>
                <div class="center flex-container">
                    <div class="search">
                        <input type="text" id="fname" name="firstname" placeholder="Search...">
                    </div>
                    <div class="search-icon">
                        <img src="assets/search.svg" />
                    </div>
                </div>
                <div class="right flex-container space-between">
                    <img class="searchMob" src="assets/searchMob.svg" />
                    <img src="assets/view.svg" />
                    <img src="assets/notification.svg" />
                    <div class="profile" (click)="openDialog()">
                        <img [src]="user?.photo || 'assets/default_avatar.png'">
                    </div>
                </div>
                <div *ngIf = 'activeProfileMenu' class="profile-menu">
                    <div class='profile-info'>
                        
                    </div>
                    <div class="profile-under-menu">
                        <span>Update profile</span>
                        <span (click)="exit()">Sign Out</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper" (click)="close()">
        <aside>
            <ul class="side-bar">
                <li [ngClass]="{'active': isCurrentRouteRight('noot')}">
                    <div (click)="changeRoute('noots')" routerLink="/noots/all">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('noot') ? ColornootImage : nootImage"/>
                        </div>
                        <span>Noots</span>
                    </div>
                    <ul *ngIf="isCurrentRouteRight('noot')" class="under" [@slideInOut]>
                        <li>
                            <div routerLink="/noots/new" class="new-note" [ngClass]="{'active-menu': isCurrentRouteRight('noots/new')}">
                                <img src="assets/under-menu/plus.svg" />
                                <span>New Noot</span>
                            </div>
                        </li>
                        <li>
                            <div  routerLink="/noots/all" [ngClass]="{'active-menu': isCurrentRouteRight('noots/all')}" [@slide]>
                                <img class="dot" [src]= "isCurrentRouteRight('noots/all') ? Colorfulldot : dot" />
                                <span [@slide]>All noots</span>
                            </div>
                        </li>
                        <li>
                            <div routerLink="/noots/my" [ngClass]="{'active-menu': isCurrentRouteRight('noots/my')}" >
                                <img class="dot" [src]= "isCurrentRouteRight('noots/my') ? Colorfulldot : dot" />
                                <span [@slide]>My noots</span>
                            </div>
                        </li>
                        <li>
                            <div routerLink="/noots/filters" [ngClass]="{'active-menu': isCurrentRouteRight('noots/filters')}">
                                <img class="dot" [src]= "isCurrentRouteRight('noots/filters') ? Colorfulldot : dot" />
                                <span>Filters</span>
                            </div>
                        </li>
                        <li>
                            <div routerLink="/noots/saved" [ngClass]="{'active-menu': isCurrentRouteRight('noots/saved')}">
                                <img class="dot" [src]= "isCurrentRouteRight('noots/saved') ? Colorfulldot : dot" />
                                <span>Saved</span>
                            </div>
                        </li>
                        <li>
                            <div routerLink="/noots/watch-laters" [ngClass]="{'active-menu': isCurrentRouteRight('noots/watch-laters')}">
                                <img class="dot" [src]= "isCurrentRouteRight('noots/watch-laters') ? Colorfulldot : dot" />
                                <span>Watch Later</span>
                            </div>
                        </li>
                        <li>
                            <div routerLink="/noots/subscribes" [ngClass]="{'active-menu': isCurrentRouteRight('noots/subscribes')}">
                                <img [src]= "isCurrentRouteRight('noots/subscribes') ? ColorSubscribes : subscribes" />
                                <span>Subscribes</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li [ngClass]="{'active': isCurrentRouteRight('note')}">
                    <div (click)="changeRoute('notes')" routerLink="/notes/all">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('note') ? ColornoteImage : noteImage"/>
                        </div>
                        <span>Notes</span>
                    </div>
                    <ul *ngIf="isCurrentRouteRight('note')" class="under" [@slideInOut]>
                            <li>
                                <div routerLink="/notes/new" class="new-note" [ngClass]="{'active-menu': isCurrentRouteRight('notes/new')}">
                                    <img src="assets/under-menu/plus.svg" />
                                    <span>New Note</span>
                                </div>
                            </li>
                            <li>
                                <div routerLink="/notes/all" id="active-menu" [ngClass]="{'active-menu': isCurrentRouteRight('notes/all')}">
                                    <img class="dot" [src]= "isCurrentRouteRight('notes/all') ? Colorfulldot : dot"/>
                                    <span>All notes</span>
                                </div>
                            </li>
                            <li>
                                <div routerLink="/notes/shared" [ngClass]="{'active-menu': isCurrentRouteRight('notes/shared')}">
                                    <img class="dot" [src]= "isCurrentRouteRight('notes/shared') ? Colorfulldot : dot" />
                                    <span>Shared</span>
                                </div>
                            </li>
                            <li>
                                <div routerLink="/notes/locked" [ngClass]="{'active-menu': isCurrentRouteRight('notes/locked')}">
                                    <img class="dot" [src]= "isCurrentRouteRight('notes/locked') ? Colorfulldot : dot" />
                                    <span>Locked</span>
                                </div>
                            </li>
                        </ul>
                </li>
                <li [ngClass]="{'active': isCurrentRouteRight('groups')}">
                    <div (click)="changeRoute('groups')" routerLink="/groups">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('groups') ? ColorgroupImage : groupImage" />
                        </div>
                        <span>Groups</span>
                    </div>
                </li>
                <li [ngClass]="{'active': isCurrentRouteRight('people')}">
                    <div (click)="changeRoute('people')" routerLink="/people">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('people') ? ColorpeopleImage : peopleImage" />
                        </div>
                        <span>People</span>
                    </div>
                </li>
    
                <li [ngClass]="{'active': isCurrentRouteRight('labels')}">
                    <div (click)="changeRoute('labels')" routerLink="/labels">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('labels') ? ColorlabelsImage : labelsImage" />
                        </div>
                        <span>Labels</span>
                    </div>
                </li>
                <li [ngClass]="{'active': isCurrentRouteRight('invites')}">
                    <div (click)="changeRoute('invites')" routerLink="/invites">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('invites') ? ColorinvitesImage : invitesImage" />
                        </div>
                        <span>Invites</span>
                    </div>
                </li>
                <li [ngClass]="{'active': isCurrentRouteRight('bin')}">
                    <div (click)="changeRoute('bin')" routerLink="/bin">
                        <div class="center-icons">
                            <img [src]= "isCurrentRouteRight('bin') ? ColorbinImage : binImage" />
                        </div>
                        <span>Bin
                        </span>
                    </div>
                </li>
            </ul>
        </aside>
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>