@import 'variables';

.dropdown-button {
  position: relative;
  display: flex;
  height: inherit;
  width: inherit;
  padding: 0 1rem;
  border: 0.8px solid transparent;
  border-radius: 5px;
  outline: 0;
  user-select: none;
  transition: 0.2s ease;
  color: $text-color;
  background-color: #f2f2f2;
  overflow: hidden;
  cursor: pointer;

  .content-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    user-select: none;
    font-size: 1rem;

    .icon {
      display: flex;
      width: 16px;
      height: 16px;
      transition: 0.2s ease;
    }

    p {
      font-weight: 500;
    }

    p,
    .icon {
      position: relative;
    }
  }

  .dropdown {
    .item {
      min-height: 24px;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0.25rem 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.light {
  border-color: transparent;
}
