<div class="wrapper-label">
    <div class="header-label">
        <p>Labels</p>
    </div>
    <div class="header-new-label">
        <img src="assets/plusLabel.svg" class="size-image-plus">
        <p class="margin-add">Add new label</p>
    </div>
    <div class="many-label">
        <div class="default-label">
            <div class="label-field">
                <p class="text-label">Work</p>
                <div class="options-label">
                    <img src="assets/buttonList.svg" class="image-options" (click)="update=!update">
                    <div class="note-info-line"></div>
                    <img src="assets/buttonCancel.svg" class="image-options">
                </div>
            </div>
            <ul class="hidden-colors" *ngIf="update">
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element"></li>
            </ul>
        </div>
        <div class="default-label">
            <div class="label-field">
                <p class="text-label">Work</p>
                <div class="options-label">
                    <img src="assets/buttonList.svg" class="image-options" (click)="update1=!update1">
                    <div class="note-info-line"></div>
                    <img src="assets/buttonCancel.svg" class="image-options">
                </div>
            </div>
            <ul class="hidden-colors" *ngIf="update1">
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element margin-colors"></li>
                <li class="hidden-color-element"></li>
            </ul>
        </div>
    </div>
</div>