<div class="header-label">
    <p>Labels</p>
</div>
<div class="add-new-label">
    <img src="assets/plusLabel.svg">
    <p>Add new label</p>
</div>
<div class="main-container">
    <div class="all-elements-default-label">
        <div class="default-label">
            <div class="title-label">
                <p>Work</p>
            </div>
            <div class="auxiliary-buttons-label">
                <div class="list-button"><img src="assets/buttonList.svg"></div>
                <div class="note-info-line"></div>
                <div class="delete-cancel-button"><img src="assets/buttonCancel.svg"></div>
            </div>
        </div>
        <ul class="hidden-color">
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color"></li>
        </ul>
    </div>
    <div class="all-elements-default-label">
        <div class="default-label">
            <div class="title-label">
                <p>Work</p>
            </div>
            <div class="auxiliary-buttons-label">
                <div class="list-button"><img src="assets/buttonList.svg"></div>
                <div class="note-info-line"></div>
                <div class="delete-cancel-button"><img src="assets/buttonCancel.svg"></div>
            </div>
        </div>
        <ul class="hidden-color">
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color space-between-blocks"></li>
            <li class="hidden-button-color"></li>
        </ul>
    </div>
    <div class="all-elements-default-label">
        <div class="default-label">
            <div class="title-label">
                <p>Work</p>
            </div>
            <div class="auxiliary-buttons-label">
                <div class="list-button"><img src="assets/buttonList.svg"></div>
                <div class="note-info-line"></div>
                <div class="delete-cancel-button"><img src="assets/buttonCancel.svg"></div>
            </div>
        </div>
    </div>
    <div class="all-elements-default-label">
        <div class="default-label">
            <div class="title-label">
                <p>Work</p>
            </div>
            <div class="auxiliary-buttons-label">
                <div class="list-button"><img src="assets/buttonList.svg"></div>
                <div class="note-info-line"></div>
                <div class="delete-cancel-button"><img src="assets/buttonCancel.svg"></div>
            </div>
        </div>
    </div>
</div>