$label-color: #EFCDFF

div
    display: flex
.header-label
    font-size: 50px
    font-weight: 900
    color: #B8B8B8
.add-new-label
    font-size: 40px
    font-weight: 900
    color: #B8B8B8
    margin-left: 10px
.main-container
    flex-direction: row
    flex-wrap: wrap
    width: 1000px
    .all-elements-default-label
        flex-direction: column
        margin-right: 13px
        .default-label
            width: 487px
            height: 40px
            background-color: $label-color
            justify-content: space-between
            border-radius: 5px
            align-items: center
            padding-left: 10px
            .title-label
                color: #5C5C5C
                font-size: 24px
            .auxiliary-buttons-label
                justify-content: space-evently
                user-select: none
                -moz-user-select: none
                -webkit-user-select: none
                -ms-user-select: none
                .list-button
                    cursor: pointer
                .note-info-line
                    height: 25px
                    border-width: 0 1px 0 0
                    border-style: solid
                    margin-left: 20px
                    margin-right: 20px
                    color: #C6C6C6
                .delete-cancel-button
                    cursor: pointer
                    margin-right: 20px
        .hidden-color
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            margin-top: 12px
            height: 76px
            width: 487px
            .hidden-button-color
                cursor: pointer
                margin-bottom: 10px
                width: 53px
                height: 27px
                background-color: #9b2929
                border-radius: 5px
                background-color: #FFEBCD
                box-shadow: 0 5px 10px rgba(0,0,0,0.05)
            .space-between-blocks
                margin-right: 55px