@import 'innerNote';

.no-content {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6b6b6b;
  font-weight: 300;

  .buttons {
    z-index: 3;
    margin-right: 20px;
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      width: 16px;
      height: 16px;
      font-size: 1rem;
      cursor: pointer;
      padding: 0.25rem;
      margin: 0.13rem;
      background-color: #31343c;
      color: #e6e6e6;
      border-radius: 2px;
      box-sizing: content-box;
      transition: 0.2s ease;

      &:hover {
        background-color: #393c48;
        color: white;
      }

      .mat-icon {
        display: flex;
      }
    }
  }
}
