@import 'innerNote';

.no-content {
  margin-top: 2px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: #6b6b6b;
  font-weight: 300;

  p {
    margin-left: 3px;
  }

  .buttons {
    z-index: 3;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;

    .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-left: 0.625rem;
      color: white;
    }
  }
}
