@import 'innerNote';

.no-content {
  margin-top: 2px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: #6B6B6B;
  font-weight: 300;

  p {
    margin-left: 3px;
  }

  .buttons {
    z-index: 3;
    margin-right: 20px;
    display: flex;
    align-items: center;

    i {
      cursor: pointer;
      margin-left: 10px;
    }

    i::before {
      font-size: 1.25rem;
    }
  }
}