<div appTheme class="full-content">
  <div *ngIf="(canView$ | async) === true && loaded" class="wrapper-note">
    <app-content-editor
      [noteId]="(note$ | async)?.id"
      [color]="(note$ | async)?.color"
      [labels]="(note$ | async)?.labels"
      [progressiveLoading]="true"
      [isReadOnlyMode]="true"
      [title]="(noteTitle$ | async)"
      [contents]="contents"
      [editorTheme]="theme.Dark"
    >
      <app-note-owner [owner]="owner$ | async"></app-note-owner>
    </app-content-editor>
  </div>
  <div *ngIf="(canView$ | async) === false && loaded" class="wrapper">
    <app-no-results-illustration
      [isShow]="true"
      [message]="'noResult.noAccessViewNote' | translate"
      [illustration]="pService.icon.noAccessViewNote"
      typeClass="type-module"
    ></app-no-results-illustration>
  </div>
  <app-spinner *ngIf="!loaded"></app-spinner>
</div>
