<div appTheme>
  <div class="search-section" #search [ngClass]="isInputFocus ? 'active-search' : ''">
    <div class="search">
      <input
        #searchInput
        (focus)="isInputFocus = true"
        (blur)="unFocusSearch()"
        (ngModelChange)="searchStrChanged.next($event)"
        [ngModel]="searchStr"
        type="search"
        [placeholder]="'header.search' | translate"
        aria-label="Search"
      />
      <button type="button" name="search button" #searchButton (click)="searchData()">
        <div class="icon">
          <mat-icon svgIcon="search" [inline]="true"></mat-icon>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="searchButton"></div>
      </button>
    </div>
    <div class="search-suggestion" *ngIf="isInputFocus">
      <div class="results">
        <app-search-result
          #searchResult
          *ngFor="let item of searchResult"
          [type]="item.type"
          [name]="item.name"
          (click)="goTo(item.id, item.type)"
        ></app-search-result>
      </div>
    </div>
  </div>
</div>
