<app-dialog-generic-header
  icon="icon-plus"
  [message]="'header.questionItems.contact' | translate"
></app-dialog-generic-header>
<form [formGroup]="form" class="container">
  <div class="field">
    <label>{{ 'modal.contactUs.emailField' | translate }}</label>
    <input
      type="text"
      aria-label="Email"
      formControlName="email"
      [placeholder]="'modal.contactUs.emailHolder' | translate"
    />
    <div class="details">
      <span [@shake] *ngIf="hasError('email', 'required')"
        >{{ 'modal.contactUs.required' | translate }}</span
      >
      <span [@shake] *ngIf="hasError('email', 'email')"
        >{{ 'modal.contactUs.emailValidation' | translate }}</span
      >
    </div>
  </div>
  <div class="field">
    <label>{{ 'modal.contactUs.text' | translate }}</label>
    <textarea
      type="text"
      aria-label="text"
      autosize
      formControlName="text"
      [placeholder]="'modal.contactUs.textHolder' | translate"
    ></textarea>
    <div class="details">
      <span [@shake] *ngIf="hasError('text', 'required')"
        >{{ 'modal.contactUs.required' | translate }}</span
      >
    </div>
  </div>
</form>

<app-dialog-generic-save
  (saveOutput)="save()"
  [buttonText]="'modal.contactUs.send' | translate"
></app-dialog-generic-save>

<div *ngIf="loading" class="loading-shade">
  <app-spinner></app-spinner>
</div>
