.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.375rem;
}

.h3 {
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .h1 {
    font-size: 1.375rem;
  }

  .h2 {
    font-size: 1.25rem;
  }

  .h3 {
    font-size: 1;
  }
}
