

.interactions {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  width: 100%;

  ::-webkit-scrollbar {
    height: 3px;
  }
}



@media (max-width: 1320px) {
  .interactions {
    justify-content: flex-start;

    .app-menu {
      order: 1;
    }

    .app-active-users {
      order: 2;
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 1024px) {
  .interactions {
    width: 100%;
    justify-content: flex-end;

    .app-active-users {
      order: initial;
      margin-left: 0;
    }
  }
}
