<div class="notification-message" appTheme>
  <div class="avatar">
    <img
      *ngIf="!photoError"
      alt="user image"
      (error)="photoError = true;"
      [src]="message.userFromPhotoPath | getImage: message.userFromId"
    />
    <div *ngIf="photoError" class="photo-error">
      <mat-icon svgIcon="people" [inline]="true"></mat-icon>
    </div>
  </div>
  <div class="message">
    <div class="info-message">
      <div class="info status-new" [ngClass]="isRead ? 'status-read' : 'status-new'">
        <p>
          {{ isRead ? ('notification.readMessage' | translate) : ('notification.newMessage' |
          translate) }}
        </p>
      </div>
      <div class="info date">
        <p>{{ message.date | date : 'd MMM, h:mm' }}</p>
      </div>
    </div>
    <div class="username">
      <p>{{message.userFromName}}</p>
    </div>
    <div class="user-message">
      <p>{{ typeMessage | translate }}</p>
    </div>
  </div>
</div>
