<div
  (click)="clickEvent.emit(photo.fileId)"
  [ngClass]="{'is-selected' : isClicked}"
  class="photo"
  appTheme
>
  <img
    [@photoInit]="photo.loaded ? 'loaded' : 'noLoaded'"
    [src]="photo.photoFromBig | getImage: photo.authorId"
    (load)="onLoadImage()"
  />
  <app-spinner [size]="25" *ngIf="!photo.loaded"></app-spinner>
  <app-button-collection
    class="more-thumb-button"
    [matMenuTriggerFor]="menu"
    [button]="'more_vert'"
    [classes]="'light-static'"
    (clickEvent)="$event.stopPropagation()"
  ></app-button-collection>
</div>

<!-- ADDITIONAL ELEMENTS -->
<mat-menu
  #menu="matMenu"
  appLazyTheme
  themeClass="menu"
  attributeName="panelClass"
  [element]="menu"
>
  <button mat-menu-item type="button" name="Download" (click)="downloadPhotoEvent.emit(photo)">
    <mat-icon>download</mat-icon>
    <span> {{ 'innerNote.photoMenu.download' | translate }} </span>
  </button>
  <button *ngIf="!isReadOnlyMode" mat-menu-item (click)="deletePhoto()" type="button" name="Delete">
    <mat-icon>delete</mat-icon>
    <span> {{ 'innerNote.photoMenu.delete' | translate }} </span>
  </button>
</mat-menu>
