@import 'innerNote';

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

@mixin is-selected {
  box-shadow: 0 0 0 2px #0887a7;
}

.is-selected {
  @include is-selected;
}

.photo {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 100%;
    user-select: none;
    -webkit-user-drag: none;
  }

  .more-thumb-button {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
