:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(31, 33, 37, 0.9);
}

.full-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .wrapper-note {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
