@import 'variables';

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  width: 650px;

  .sharing {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: 0.2s width ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .tabs {
      display: flex;
      flex-grow: 1;
      width: 100%;

      .tab-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 550px;
        width: 100%;
        
        .dropdown-wrapper {
          display: flex;

          .dropdown-button {
            height: 32px;
            width: 145px;
          }
        }

        .content-access {
          display: flex;
          flex-direction: column;
          margin-top: 1.25rem;

          &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #f2f2f2;
            border-radius: 5px;
          }

          .link-access-field {
            display: flex;
            align-items: center;
            width: 100%;

            input[type='text'] {
              display: flex;
              flex-grow: 1;
              height: 32px;
              padding-left: 0.75rem;
              border-radius: 5px;
              border: 0.8px solid;
              outline: none;
              font-size: 1.125rem;
              color: #484848;
              background-color: #f2f2f2;
              transition: 0.2s ease;
            }

            .dropdown-wrapper {
              margin-left: 1rem;

              .dropdown-button {
                width: 145px;
                height: 32px;
              }
            }

            .copy {
              position: relative;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 32px;
              width: 36px;
              margin-left: 0.375rem;
              border-radius: 5px;
              transition: 0.2s ease;
              font-size: 1.5rem;
              cursor: pointer;
              overflow: hidden;

              .icon {
                position: relative;
                z-index: 5;
                display: flex;
              }
            }
          }

          .toggle-field {
            display: flex;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;

            .toggle {
              height: 32px;
              width: 200px;
            }

            .toggle-description {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin-left: 1rem;
              font-size: 0.75rem;
            }
          }
        }

        .clear-container{
          margin-top: 1rem;
          display: flex;
          justify-content: flex-end;
          p {
            font-weight: 500;
            font-size: 0.875rem;
            cursor: pointer;
          }
        }

        .user-access {
          display: flex;
          flex-direction: column;
          margin: 1.25rem 0;
          height: 100%;
          .content-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
          }
        }
        
        .search-container {
          margin-top: 1.25rem;
        }

        .interaction-container {
          position: relative;
          display: flex;
          flex-direction: column;
          margin-top: 1.25rem;

          .interaction-inner-container {
            display: flex;
            flex-direction: column;

            .user-suggestions {
              display: flex;
              flex-direction: column;
              height: 100%;

              .user {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                margin-bottom: 0.9rem;
                padding: 0 0.875rem;
                background-color: #f2f2f2;

                &:last-child {
                  margin-bottom: 0;
                }

                .photo {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                  width: 30px;
                  overflow: hidden;
                  border-radius: 50%;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }

                  .no-photo {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    color: #5f5f5f;
                  }
                }

                .email {
                  display: flex;
                  flex-grow: 1;
                  margin-left: 0.875rem;
                  color: $text-color;

                  p {
                    @include text-overflow;
                  }
                }

                .user-access-func {
                  display: flex;
                  align-items: center;
                  height: 100%;

                  button[type='button'] {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0 0.875rem;
                    background-color: transparent;
                    border: 0;
                    outline: none;
                    user-select: none;
                    cursor: pointer;

                    .icon {
                      display: flex;
                      font-size: 1rem;
                      width: 16px;
                      height: 16px;
                    }
                  }
                }
              }
            }
          }
        }

        .empty-placeholder-container {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
          p {
            font-size: 0.875rem;
            font-weight: 400;
            color: #808080;
          }
        }

        .spinner-container {
          width: 100%;
          height: 100%;
          position: relative;
        }
      }

      .content-padding {
        padding: 0 2.5rem;
      }
    }
  }
}

.many-notes {
  width: 900px;
  justify-content: space-between;

  .few-notes {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 1 64px;
    margin-right: 0.3125rem;
    border-radius: 15px;
    transition: 0.2s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .notes-sharing {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0.375rem 0 0.5rem 0;
      flex-grow: 1;

      .note {
        display: flex;
        align-items: center;
        flex-shrink: 1;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        margin: 0.875rem 1.125rem 0 1.125rem;
        color: $text-color;
        height: 27px;
        min-width: 27px;
        border-radius: 50px;
        cursor: pointer;

        p {
          @include text-overflow;
        }

        .empty-placeholder {
          color: #808080;
        }

        &:first-child {
          margin-top: 0;
        }
      }
      .active-note {
        box-shadow: #0887a7 0px 0px 0px 2px;
      }
    }
  }

  .sharing {
    flex-grow: 1;
    margin-left: 0.3125rem;
  }
}

.half-helper {
  .few-notes {
    flex: 0 1 40%;

    .notes-sharing {
      .note {
        border-radius: 5px;
        p {
          display: block;
        }
      }
    }
  }

  .sharing {
    flex: 0 1 60%;

    .tabs {
      .tab-content {
        .content-access {
          .toggle-field {
            flex-direction: column;
            flex-wrap: wrap;

            .toggle {
              width: 100%;
            }

            .toggle-description {
              justify-content: center;
              width: 100%;
              margin-top: 1.25rem;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

.one-note {
  .sharing {
    width: 100%;
  }
}

.light {
  .few-notes {
    background-color: white;
  }

  .sharing {
    background-color: white;

    .tabs {
      .tab-content {
        .content-access {
          .link-access-field {
            input[type='text'] {
              border-color: transparent;
            }

            .copy {
              .icon {
                color: #cacaca;
              }
            }
          }

          .toggle-field {
            .toggle {
              border-color: #f2f2f2;

              .text-toggle {
                .text {
                  color: #484848;
                }
              }
            }
          }
        }
      }
    }
  }
}

.dark {
  .few-notes {
    background-color: $dark-color;
  }

  .sharing {
    background-color: $dark-color;

    .tabs {
      .tab-content {
        .content-access {
          .link-access-field {
            input[type='text'] {
              border-color: #c5c5c5;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .outer {
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    .sharing {
      height: 100%;
      width: 100%;
      margin-left: 0;

      .tabs {
        .tab-content {
          height: 60vh;

          .user-access {
            flex-grow: 1;
            margin: 1.25rem 1.875rem;

            .content-inner {
              padding: 0 0.625rem;
            }
          }

          .interaction-container {
            margin: 0 1.875rem 1.25rem 1.875rem;
          }
        }
      }
    }
  }

  .many-notes {
    .sharing {
      margin-bottom: 0.625rem;
      order: 1;
    }

    .few-notes {
      width: 100%;
      height: 84px;
      margin-right: 0;
      order: 2;
      transition: none;

      $color-helper: #26282d;

      .notes-sharing {
        align-content: baseline;
        flex-direction: row;
        margin: 0 1.25rem 0 1.25rem;

        .note {
          height: auto;
          width: 27px;
          min-width: 27px;
          margin: 0 1.125rem 0 0;
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }

  .half-helper {
    .sharing {
      height: 0;
      width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      display: none;
    }

    .few-notes {
      height: 80vh;
      width: 100%;
      transition: 0.2s ease;

      .notes-sharing {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 0 0.625rem 0;

        .note {
          width: 100%;
          margin: 0.875rem 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .outer {
    .sharing {
      .tabs {
        .tab-content {
          .content-access {
            .toggle-field {
              flex-direction: column;
              flex-wrap: wrap;

              .toggle {
                width: 100%;
              }

              .toggle-description {
                justify-content: center;
                width: 100%;
                margin-top: 1.25rem;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .outer {
    .sharing {
      .tabs {
        padding-top: 1rem;

        .tab-content {
          .content-access {
            &::after {
              margin-top: 1rem;
            }

            .link-access-field {
              flex-wrap: wrap;
              margin-top: 1rem;

              input[type='text'] {
                order: 1;
                width: calc(100% - 42px);
              }

              .copy {
                order: 2;
              }

              .dropdown-wrapper {
                width: 100%;
                order: 3;
                margin-top: 1rem;
                margin-left: 0;

                .dropdown-button {
                  width: 100%;
                }
              }
            }

            .toggle-field {
              margin-top: 1rem;

              .toggle-description {
                margin-top: 1rem;
              }
            }
          }

          .user-access {
            margin: 1rem 1.875rem;
          }

          .interaction-container {
            margin-bottom: 1rem;

            .interaction-inner-container {
              .user-suggestions {
                margin-top: 1rem;
  
                .user {
                  height: 35px;
  
                  .photo {
                    height: 25px;
                    width: 25px;
                  }
  
                  .email {
                    font-size: 0.875rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .many-notes {
    .few-notes {
      height: 83px;

      .notes-sharing {
        .note {
          height: 26px;
          width: 26px;
          min-width: 26px;
        }
      }
    }
  }

  .half-helper {
    .few-notes {
      width: 100%;
      height: 100%;

      .notes-sharing {
        .note {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .outer {
    .sharing {
      .tabs {
        .tab-content {
          .user-access {
            margin: 1rem 1.125rem;
          }

          .content-access {
            margin: 0 1.75rem;
          }

          .interaction-container {
            margin: 0 1.125rem 1rem 1.125rem;
          }
        }
      }
    }
  }

  .many-notes {
    .few-notes {
      .notes-sharing {
        margin: 0 1.75rem 0 1.25rem;
      }
    }
  }

  .half-helper {
    .few-notes {
      .notes-sharing {
        width: 100%;
        margin: 0 0 0.625rem 0;

        .note {
          width: 100%;
          margin: 0.875rem 0 0 0;
        }
      }
    }
  }
}
