<div
  appTheme
  class="outer"
  [ngClass]="[
    pService.isCollapseShared && entities.length > 1 ? 'half-helper' : '',
    entities.length > 1 ? 'many-notes' : 'one-note'
  ]"
>
  <div class="few-notes" *ngIf="entities.length > 1">
    <app-dialog-generic-header
      [message]="'modal.shareModal.selectedNotes' | translate"
      [isMessage]="pService.isCollapseShared"
      (clickEvent)="collapseToggle()"
    >
    </app-dialog-generic-header>

    <ng-scrollbar
      class="notes-sharing"
      [visibility]="'hover'"
      [track]="'all'"
      [appearance]="'compact'"
    >
      <div
        class="note"
        *ngFor="let item of entities"
        CustomTooltip="{{ item.title }}"
        position="Top"
        [ngStyle]="{ backgroundColor: item.color }"
        labelColor="{{ item.color }}"
        [ngClass]="{ 'active-note': selectedEntityId === item.id }"
        (click)="isNoteWindowType ? selectNote(item) : selectFolder(item)"
        flagDisable="{{ disableTooltipUser() }}"
      >
        <p *ngIf="item.title && item.title.length > 0">{{ item.title }}</p>
        <p *ngIf="!item.title" class="empty-placeholder">
          {{ (isNoteWindowType ? 'placeholder.unnamedNote' : 'placeholder.unnamedFolder') |
          translate }}
        </p>
      </div>
    </ng-scrollbar>
  </div>
  <div class="sharing">
    <app-dialog-generic-header
      [message]="'modal.shareModal.Share' | translate"
      (clickEvent)="dialogRef.close()"
    >
    </app-dialog-generic-header>

    <mat-tab-group class="tabs" mat-stretch-tabs #tabs>
      <mat-tab isActive="true" [label]="'modal.shareModal.access' | translate">
        <div class="tab-content">
          <div class="content-padding">
            <app-content-access-section
              [dropdownActive]="dropdownActive"
              [link]="
                isNoteWindowType
                  ? (currentNote?.id | sharingLink: data.currentWindowType)
                  : (currentFolder?.id | sharingLink: data.currentWindowType)
              "
              [refTypeId]="refTypeSelectedValue"
              [toggleDescription]="toggleDescription | translate"
              [currentTheme]="theme$ | async"
              [isPrivateButtonActive]="isPrivateButtonActive"
              (changeRefTypeEvent)="
                isNoteWindowType ? changeRefTypeNote($event) : changeRefTypeFolder($event)
              "
              (changeEntityTypeEvent)="isNoteWindowType ? changeNoteType() : changeFolderType()"
            ></app-content-access-section>
          </div>
          <ng-container *ngIf="!isLoading">
            <div
              *ngIf="(invitedUsers$ | async).length !== 0"
              class="clear-container content-padding"
            >
              <p (click)="clearAll()">{{ 'modal.shareModal.clearAll' | translate }}</p>
            </div>
            <ng-scrollbar class="user-access" [visibility]="'hover'" [appearance]="'compact'">
              <div class="content-inner content-padding">
                <ng-container>
                  <app-user-on-entity-card
                    *ngFor="let user of invitedUsers$ | async"
                    [user]="user"
                    (changeUserPermission)="changeUserPermission($event, user.id)"
                    (removeUserWithPermissions)="removeUserWithPermissions(user.id)"
                  ></app-user-on-entity-card>
                  <div
                    *ngIf="(invitedUsers$ | async).length === 0"
                    class="empty-placeholder-container"
                  >
                    <p>
                      {{
                        (isNoteWindowType
                          ? 'modal.shareModal.noPeopleNote'
                          : 'modal.shareModal.noPeopleFolder'
                        ) | translate
                      }}
                    </p>
                  </div>
                </ng-container>
              </div>
            </ng-scrollbar>
          </ng-container>
          <div *ngIf="isLoading" class="spinner-container">
            <app-spinner [size]="20"></app-spinner>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'modal.shareModal.Share' | translate }}">
        <div class="tab-content">
          <div class="search-container content-padding">
            <app-search class="search" (changeOutput)="changed($event)"></app-search>
          </div>
          <div
            *ngIf="searchUsers.length === 0 && selectedUsers.length === 0 && !isSearching"
            class="empty-placeholder-container"
          >
            <p>{{ 'modal.shareModal.noPeopleNote' | translate }}</p>
          </div>

          <app-mail-invitations
            *ngIf="selectedUsers.length > 0"
            [selectedUsers]="selectedUsers"
            (applyForm)="sendInvites($event)"
            (removeUserFromInvites)="removeUserFromInvites($event)"
          ></app-mail-invitations>

          <ng-container *ngIf="!isSearching && searchUsers.length > 0">
            <ng-scrollbar
              class="interaction-container"
              [@smoothOpacity]
              [visibility]="'hover'"
              [appearance]="'compact'"
            >
              <div class="interaction-inner-container">
                <div *ngIf="searchUsers.length > 0" class="user-suggestions content-padding">
                  <div *ngFor="let user of searchUsers" class="user">
                    <div class="photo">
                      <img
                        alt="user image"
                        *ngIf="!user.noPhoto"
                        (error)="user.noPhoto = true"
                        [src]="user.photoPath"
                      />
                      <div *ngIf="user.noPhoto" class="no-photo">
                        <mat-icon svgIcon="people" [inline]="true"></mat-icon>
                      </div>
                    </div>
                    <div class="email">
                      <p>{{ user.email }}</p>
                    </div>
                    <div class="user-access-func">
                      <button type="button" name="Share user note" (click)="addUserToInvite(user)">
                        <div class="icon">
                          <mat-icon svgIcon="plus" [inline]="true"></mat-icon>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </ng-container>
          <div *ngIf="isSearching" class="spinner-container">
            <app-spinner [size]="20"></app-spinner>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
