@import 'variables';

:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  width: 650px;

  .sharing {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: 0.2s width ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .tabs {
      display: flex;
      flex-grow: 1;
      width: 100%;
      padding-top: 1.25rem;

      .tab-content {
        display: flex;
        flex-direction: column;
        height: 550px;
        width: 100%;

        .dropdown-wrapper {
          display: flex;

          .dropdown-button {
            height: 32px;
            width: 145px;
          }
        }

        .content-access {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          margin: 0 2.5rem;

          &::after {
            content: '';
            width: 100%;
            height: 1px;
            margin-top: 1.25rem;
            background-color: #f2f2f2;
            border-radius: 5px;
          }

          .link-access-field {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 1.25rem;

            input[type='text'] {
              display: flex;
              flex-grow: 1;
              height: 32px;
              padding-left: 0.75rem;
              border-radius: 5px;
              border: 0.8px solid;
              outline: none;
              font-size: 1.125rem;
              color: #484848;
              background-color: #f2f2f2;
              transition: 0.2s ease;
            }

            .dropdown-wrapper {
              margin-left: 1rem;

              .dropdown-button {
                width: 145px;
                height: 32px;
              }
            }

            .copy {
              position: relative;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 32px;
              width: 36px;
              margin-left: 0.375rem;
              border-radius: 5px;
              transition: 0.2s ease;
              font-size: 1.5rem;
              cursor: pointer;
              overflow: hidden;

              .icon {
                position: relative;
                z-index: 5;
                display: flex;
              }
            }
          }

          .toggle-field {
            display: flex;
            width: 100%;
            margin-top: 1.25rem;

            .toggle {
              height: 32px;
              width: 200px;
            }

            .toggle-description {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              flex-grow: 1;
              margin-left: 1rem;
              font-size: 0.875rem;

              p {
                @include text-overflow;
              }
            }
          }
        }

        .user-access {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          margin: 1.25rem 0;

          .content-inner {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 0 2.5rem;

            .user {
              display: flex;
              align-items: center;
              width: 100%;
              height: 50px;
              border-radius: 10px;
              margin-bottom: 1rem;
              padding-left: 0.875rem;
              background-color: #ddffcd;

              &:last-child {
                margin-bottom: 0;
              }

              .photo {
                display: flex;
                height: 35px;
                width: 35px;
                overflow: hidden;
                border-radius: 50%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .user-info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin-left: 0.875rem;

                .name,
                .email {
                  display: flex;
                  width: 100%;
                  color: $text-color;

                  p {
                    @include text-overflow;
                  }
                }

                .name {
                  font-size: 1.125rem;
                  font-weight: 500;
                  margin-bottom: 0.1875rem;
                }

                .email {
                  font-size: 0.875rem;
                  font-weight: 300;
                }
              }

              .user-access-func {
                display: flex;
                align-items: center;
                height: 100%;

                button[type='button'] {
                  display: flex;
                  align-items: center;
                  height: 100%;
                  padding: 0 0.875rem;
                  background-color: transparent;
                  border: 0;
                  outline: none;
                  user-select: none;
                  cursor: pointer;

                  .icon {
                    display: flex;
                    font-size: 1rem;
                    color: #c4c4c4;
                  }
                  .black {
                    color: $text-color !important;
                  }
                }
              }
            }
          }
        }

        .search {
          margin: 1.25rem 2.5rem 0.625rem 2.5rem;
        }

        .interaction-container {
          position: relative;
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .mail-notification {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border-radius: 5px;
            background-color: #f2f2f2;
            margin: 0.625rem 2.5rem 0 2.5rem;

            .mail-container {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              padding: 0.625rem 1rem;

              &::after {
                content: '';
                width: 100%;
                height: 2px;
                border-radius: 5px;
              }

              .user-mail {
                display: flex;
                padding: 0.375rem 0.75rem;
                color: $text-color;
                border-radius: 5px;
                cursor: pointer;
                max-width: 100%;
                margin-right: 1rem;
                margin-bottom: 0.75rem;

                p {
                  @include text-overflow;
                  display: flex;
                  flex-grow: 1;
                }

                .icon {
                  display: flex;
                  align-items: center;
                  margin-left: 0.625rem;
                }
              }
            }

            .checkbox-notification {
              display: flex;
              width: 100%;
              padding: 0.625rem 1rem;
              color: $text-color;
            }

            .interaction-mail {
              display: flex;
              width: 100%;
              padding: 0.625rem 1rem;

              textarea {
                display: flex;
                flex-grow: 1;
                min-height: 60px;
                margin-right: 0.75rem;
                resize: none;
                border-radius: 5px;
                border: 0;
                outline: none;
                font-size: 1rem;
                padding: 0.5rem 1rem;
              }

              .interaction-buttons {
                display: flex;
                flex-direction: column;
                width: 130px;

                .send-button {
                  position: relative;
                  height: 32px;
                  border: 0.8px solid transparent;
                  padding: 0;
                  outline: none;
                  overflow: hidden;
                  user-select: none;
                  cursor: pointer;
                  border-radius: 5px;
                  background: linear-gradient(97.88deg, #0083bb 0%, #00afe7 100%);
                  margin-top: 0.5rem;

                  .content-button {
                    position: relative;
                    z-index: 5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 0.75rem;
                    font-size: 1rem;
                    color: white;
                  }
                }

                .dropdown-button {
                  width: 100%;
                  height: 32px;
                }
              }
            }
          }

          .user-suggestions {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: 1.25rem 2.5rem 0 2.5rem;

            .user {
              display: flex;
              align-items: center;
              width: 100%;
              height: 40px;
              border-radius: 5px;
              margin-bottom: 0.9rem;
              padding: 0 0.875rem;
              background-color: #f2f2f2;

              &:last-child {
                margin-bottom: 0;
              }

              .photo {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                overflow: hidden;
                border-radius: 50%;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }

                .no-photo {
                  display: flex;
                  width: 20px;
                  height: 20px;
                  color: #5f5f5f;
                }
              }

              .email {
                display: flex;
                flex-grow: 1;
                margin-left: 0.875rem;
                color: $text-color;

                p {
                  @include text-overflow;
                }
              }

              .user-access-func {
                display: flex;
                align-items: center;
                height: 100%;

                button[type='button'] {
                  display: flex;
                  align-items: center;
                  height: 100%;
                  padding: 0 0.875rem;
                  background-color: transparent;
                  border: 0;
                  outline: none;
                  user-select: none;
                  cursor: pointer;

                  &:last-child {
                    padding-right: 0;
                  }

                  .icon {
                    display: flex;
                    font-size: 1rem;
                    width: 16px;
                    height: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.many-notes {
  width: 900px;
  justify-content: space-between;

  .few-notes {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 1 64px;
    margin-right: 0.3125rem;
    border-radius: 15px;
    transition: 0.2s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .notes-sharing {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0.375rem 0 0.5rem 0;
      flex-grow: 1;

      .note {
        display: flex;
        align-items: center;
        flex-shrink: 1;
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        margin: 0.875rem 1.125rem 0 1.125rem;
        color: $text-color;
        height: 27px;
        min-width: 27px;
        border-radius: 50px;
        cursor: pointer;

        p {
          @include text-overflow;
        }

        &:first-child {
          margin-top: 0;
        }
      }
      .active-note {
        box-shadow: #0887a7 0px 0px 0px 2px;
      }
    }
  }

  .sharing {
    flex-grow: 1;
    margin-left: 0.3125rem;
  }
}

.half-helper {
  .few-notes {
    flex: 0 1 40%;

    .notes-sharing {
      .note {
        border-radius: 5px;
        p {
          display: block;
        }
      }
    }
  }

  .sharing {
    flex: 0 1 60%;

    .tabs {
      .tab-content {
        .content-access {
          .toggle-field {
            flex-direction: column;
            flex-wrap: wrap;

            .toggle {
              width: 100%;
            }

            .toggle-description {
              justify-content: center;
              width: 100%;
              margin-top: 1.25rem;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

.one-note {
  .sharing {
    width: 100%;
  }
}

.light {
  .few-notes {
    background-color: white;
  }

  .sharing {
    background-color: white;

    .tabs {
      .tab-content {
        .content-access {
          .link-access-field {
            input[type='text'] {
              border-color: transparent;
            }

            .copy {
              .icon {
                color: #cacaca;
              }
            }
          }

          .toggle-field {
            .toggle {
              border-color: #f2f2f2;

              .text-toggle {
                .text {
                  color: #484848;
                }
              }
            }
          }
        }

        .interaction-container {
          .mail-notification {
            .mail-container {
              .user-mail {
                background-color: white;
              }
            }

            .interaction-mail {
              textarea {
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
}

.dark {
  .few-notes {
    background-color: $dark-color;
  }

  .sharing {
    background-color: $dark-color;

    .tabs {
      .tab-content {
        .content-access {
          .link-access-field {
            input[type='text'] {
              border-color: #c5c5c5;
            }
          }
        }

        .interaction-container {
          .mail-notification {
            .mail-container {
              .user-mail {
                background-color: #e8e8e8;
              }
            }

            .interaction-mail {
              textarea {
                background-color: #e8e8e8;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .outer {
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;

    .sharing {
      height: 100%;
      width: 100%;
      margin-left: 0;

      .tabs {
        .tab-content {
          height: 60vh;

          .user-access {
            flex-grow: 1;
            margin: 1.25rem 1.875rem;

            .content-inner {
              padding: 0 0.625rem;

              .user {
                height: 45px;

                .user-info {
                  .name {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }

          .interaction-container {
            margin: 0 1.875rem 1.25rem 1.875rem;

            .mail-notification,
            .user-suggestions {
              margin-left: 0.625rem;
              margin-right: 0.625rem;
            }
          }
        }
      }
    }
  }

  .many-notes {
    .sharing {
      margin-bottom: 0.625rem;
      order: 1;
    }

    .few-notes {
      width: 100%;
      height: 84px;
      margin-right: 0;
      order: 2;
      transition: none;

      $color-helper: #26282d;

      .notes-sharing {
        align-content: baseline;
        flex-direction: row;
        margin: 0 1.25rem 0 1.25rem;

        .note {
          height: auto;
          width: 27px;
          min-width: 27px;
          margin: 0 1.125rem 0 0;
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }

  .half-helper {
    .sharing {
      height: 0;
      width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      display: none;
    }

    .few-notes {
      height: 80vh;
      width: 100%;
      transition: 0.2s ease;

      .notes-sharing {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 0 0.625rem 0;

        .note {
          width: 100%;
          margin: 0.875rem 0 0 0;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .outer {
    .sharing {
      .tabs {
        .tab-content {
          .content-access {
            .toggle-field {
              flex-direction: column;
              flex-wrap: wrap;

              .toggle {
                width: 100%;
              }

              .toggle-description {
                justify-content: center;
                width: 100%;
                margin-top: 1.25rem;
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .outer {
    .sharing {
      .tabs {
        padding-top: 1rem;

        .tab-content {
          .content-access {
            &::after {
              margin-top: 1rem;
            }

            .link-access-field {
              flex-wrap: wrap;
              margin-top: 1rem;

              input[type='text'] {
                order: 1;
                width: calc(100% - 42px);
              }

              .copy {
                order: 2;
              }

              .dropdown-wrapper {
                width: 100%;
                order: 3;
                margin-top: 1rem;
                margin-left: 0;

                .dropdown-button {
                  width: 100%;
                }
              }
            }

            .toggle-field {
              margin-top: 1rem;

              .toggle-description {
                margin-top: 1rem;
              }
            }
          }

          .user-access {
            margin: 1rem 1.875rem;
          }

          .search {
            margin: 1rem 2.5rem 0.5rem 2.5rem;
          }

          .interaction-container {
            margin-bottom: 1rem;

            .mail-notification {
              margin-top: 0.5rem;

              .mail-container {
                .user-mail {
                  margin-bottom: 0.5rem;
                  margin-right: 0.5rem;
                  font-size: 0.875rem;
                }
              }

              .checkbox-notification {
                font-size: 0.875rem;
              }

              .interaction-mail {
                flex-direction: column;

                textarea {
                  width: 100%;
                }

                .interaction-buttons {
                  flex-direction: row;
                  width: 100%;
                  margin-top: 0.5rem;

                  .send-button {
                    flex: 1;
                    width: auto;
                    margin-left: 0.25rem;
                    margin-top: 0;
                  }

                  .dropdown-button {
                    flex: 1;
                    margin-right: 0.25rem;
                  }
                }
              }
            }

            .user-suggestions {
              margin-top: 1rem;

              .user {
                height: 35px;

                .photo {
                  height: 25px;
                  width: 25px;
                }

                .email {
                  font-size: 0.875rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .outer {
    .sharing {
      .tabs {
        .tab-content {
          .user-access {
            .content-inner {
              .user {
                flex-wrap: wrap;
                height: auto;
                padding: 0.5rem 0.875rem;

                .user-access-func {
                  width: 100%;
                  height: auto;
                  padding-top: 0.5rem;
                  justify-content: space-around;
                }
              }
            }
          }

          .interaction-container {
            .mail-notification {
              .interaction-mail {
                .interaction-buttons {
                  flex-wrap: wrap;

                  .send-button {
                    margin-top: 0.5rem;
                    margin-left: 0;
                  }

                  .dropdown-button {
                    flex: initial;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .many-notes {
    .few-notes {
      height: 83px;

      .notes-sharing {
        .note {
          height: 26px;
          width: 26px;
          min-width: 26px;
        }
      }
    }
  }

  .half-helper {
    .few-notes {
      width: 100%;
      height: 100%;

      .notes-sharing {
        .note {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  .outer {
    .sharing {
      .tabs {
        .tab-content {
          .user-access {
            margin: 1rem 1.125rem;
          }

          .content-access {
            margin: 0 1.75rem;
          }

          .search {
            margin: 1rem 1.75rem 0.5rem 1.75rem;
          }

          .interaction-container {
            margin: 0 1.125rem 1rem 1.125rem;
          }
        }
      }
    }
  }

  .many-notes {
    .few-notes {
      .notes-sharing {
        margin: 0 1.75rem 0 1.25rem;
      }
    }
  }

  .half-helper {
    .few-notes {
      .notes-sharing {
        width: 100%;
        margin: 0 0 0.625rem 0;

        .note {
          width: 100%;
          margin: 0.875rem 0 0 0;
        }
      }
    }
  }
}
