<div [ngClass]="[isProfile ? 'profile' : 'non-profile', (menuActive$ | async) ? 'help-func' : '' ]">
    <div [ngClass]="[(theme$ | async) === theme.Light ? 'light' : '']">
        <div CustomTooltip="{{ 'header.notification' | translate }}" position="Bottom" class="auxiliary-icon mobile"
            #notificationHeader>
            <i class="icon-notification"></i>
            <div class="push">1</div>
            <div class="ripple-container" matRipple [matRippleTrigger]="notificationHeader"></div>
        </div>
    </div>
</div>