@import "variables";


.profile {
    display: block;

    .auxiliary-icon {
        font-size: 1.25rem;
        cursor: pointer;
    }
}

.non-profile {
    display: none;

    .auxiliary-icon {
        margin-left: 1.375rem;
        font-size: 1.375rem;
        cursor: pointer;
    }
}

.auxiliary-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;

    i {
        position: relative;
        z-index: 5;

        &::before {
            transition: 0.2s ease;
        }
    }

    &:hover {
        background-color: $dark-button;

        i::before {
            color: white;
        }
    }
}

.light {
    .auxiliary-icon {
        i::before {
            color: $dark-button;
        }
        &:hover {
            background-color: $light-nav-backlight;

            i::before {
                color: $dark-button;
            }
        }
    }
}

.push {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    font-size: 0.625rem;
    background-color: #ed6565;
    color: #ffffff;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .profile {
        display: none;
    }

    .non-profile {
        display: block;
        .auxiliary-icon {
            i::before {
                color: $light-managment-hover;
            }
        }
    }

    .auxiliary-icon {
        margin-left: 1rem;
    }
}

@media (max-width: 500px) {
    .non-profile {
        .auxiliary-icon {
            margin-left: 0.7rem;
        }
    }
}

@media (max-width: 400px) {
    .help-func {
        display: none;
    }
}

@media (max-width: 320px) {
      .non-profile { 
        .auxiliary-icon {
            width: 26px;
            height: 26px;
            font-size: 1.25rem;
            margin-left: 0.875rem;
        }
    }
}
