<ng-container *ngIf="(canView$ | async) && (folder$ | async)">
  <app-general-header-button
    *ngIf="(pService.isMenuActive$ | async) === (false)"
    (clickEvent)="addNotesToFolderHandler()"
    [message]="'header.manage' | translate"
    [styleClasses]="'manage-notes'"
  ></app-general-header-button>

  <app-general-header-button
    *ngIf="(pService.isMenuActive$ | async) === (false)"
    (clickEvent)="newButton()"
    [message]="'new.' + (route$ | async ) | translate"
    [iconClass]="'plus'"
    [styleClasses]="'generic-2 generic-unfixed generic-create'"
  ></app-general-header-button>

  <app-general-header-button
    (clickEvent)="selectAll()"
    [isClassOnSize]="(pService.isMenuActive$ | async) === (true) && (pService.isHideTextOnSmall$ | async) === (true)"
    [classOnSize]="'hide-tag-text'"
    [message]="('header.select' | translate)"
    [iconClass]="'select'"
    [styleClasses]="'generic-2 generic-unfixed'"
  ></app-general-header-button>

  <app-general-header-button
    *ngIf="(pService.isMenuActive$ | async) === (true)"
    (clickEvent)="unselectAll()"
    [isClassOnSize]="(pService.isMenuActive$ | async) === (true) && (pService.isHideTextOnSmall$ | async) === (true)"
    [classOnSize]="'hide-tag-text'"
    [message]="('header.selected' | translate) + ' ' + countSelected"
    [iconClass]="'plus'"
    [styleClasses]="'generic-2 generic-unfixed rotate'"
  ></app-general-header-button>
</ng-container>
