.button {
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  border: 0.8px solid transparent;
  overflow: hidden;

  span {
    position: relative;
    z-index: 5;
  }
}

.light {
  background-color: #f2f2f2;
  color: #808080;
  &:hover {
    background-color: #ebebeb;
    color: #202020;
  }
}

.dark {
  background-color: #34373e;
  &:hover {
    background-color: #3a3e46;
  }
}
