<div appTheme>
  <div class="sub-nav-item" (click)="redirectToProfile()" #profile>
    <div class="item">
      <div class="photo">
        <img
          *ngIf="!photoError"
          alt="photo"
          [src]="(user$ | async)?.photoPath"
          (error)="changeSource()"
        />
        <div *ngIf="photoError" class="photo-error">
          <mat-icon svgIcon="people" [inline]="true"></mat-icon>
        </div>
      </div>
      <p>{{ (user$ | async)?.name }}</p>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="profile"></div>
  </div>
  <div class="separator"></div>
</div>
