<div appTheme>
  <div class="sub-nav-item" routerLink="/profile" #profile>
    <div class="item">
      <div class="photo">
        <img
          *ngIf="!photoError"
          alt="photo"
          [src]="(user$ | async).photoPath | getImage: (user$ | async).id"
          (error)="changeSource()"
        />
        <i *ngIf="photoError" class="icon-people"></i>
      </div>
      <p>{{(user$ | async).name}}</p>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="profile"></div>
  </div>
  <div class="separator"></div>
</div>
