<div appTheme class="sub-nav">
  <div
    class="sub-nav-section"
    *ngIf="pService.stateSidebar"
    [@sidebarCloseOpen]
    [@.disabled]="pService.check()"
  >
    <ng-scrollbar class="notes-section" [visibility]="'hover'" [appearance]="'compact'">
      <div
        class="note"
        *ngFor="let item of notesLink"
        [ngStyle]="{'backgroundColor': item.color}"
        [routerLink]="['/notes/', item.id]"
      >
        <p>{{ item.title | replace: 'note' }}</p>
      </div>
    </ng-scrollbar>
    <div class="information">
      <div class="separator"></div>
      <app-memory-indicator></app-memory-indicator>
    </div>
  </div>
  <div
    class="overlay"
    (click)="pService.cancelSideBar()"
    [ngClass]="pService.stateSidebar ? 'visible' : ''"
  ></div>
</div>
