<div [ngClass]="[(theme$ | async) === theme.Light ? 'light' : '']">
    <button name="Selected" type="button" (click)="unselectAll()" class="generic filters selected custom-create"
        [ngClass]="((menuActiveNotes$ | async) || (menuActiveFolders$ | async)) ? 'select-all' : ''" #selectedAll>
        <div class="inner-content">
            <p>{{ 'header.selected' | translate }} {{countSelected}}</p>
            <i class="icon-plus"></i>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="selectedAll"></div>
    </button>
</div>