<div class="container">
    <div class="background">
        <div class="buttons">
            <img src="assets/buttons-buttons/scope.svg">
            <img src="assets/buttons-buttons/youtube.svg" (click)="youTubeMenu()">
        </div>
        <div class="note">
            <div *ngIf="youtube" class="youtube">

            </div>
            <div class="content">
                <div class="header">
                    <div class="labels">
                        <div *ngFor="let label of labels" class="label" [ngStyle]="{'background': label.color }">
                            <span>{{label.name}}</span>
                        </div>
                    </div>
                    <div class="options">
                        <img src="assets/options.svg" />
                    </div>
                </div>
                <div class="title">
                    <div class="stick"></div>
                    <div class="group">
                        <div class="input-text" contenteditable></div>
                        <div class="placeholder">
                            Note Title
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>