.container
    display: flex
    justify-content: center
    height: calc(100% - 50px)
    overflow: auto
    .background
        display: flex
        padding-top: 15px
        .buttons
            display: flex
            img
                margin-right: 15px
                height: 25px
                &:hover
                    cursor: pointer
        .note
            width: 1000px                
            
            .youtube
                width: 100%
                height: 50px
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)
                border-radius: 10px
                margin-bottom: 10px

            .content
                padding: 10px 5px 0 20px    
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25)      
                border-radius: 25px
                height: 2000px
                
                .header
                    display: flex
                    width: 100%

                    .labels
                        width: 95%
                        display: flex
                        flex-wrap: wrap
                        .label
                            margin: 8px 8px 0 0
                            min-width: 120px
                            height: 22px
                            border-radius: 40px
                            color:#808080
                            display: flex
                            justify-content: center
                            align-items: center
                            padding-left: 12px
                            padding-right: 12px
                            span
                                text-overflow: ellipsis
                                white-space: nowrap
                                overflow: hidden
                    .options
                        width: 5%
                        display: flex
                        justify-content: center
                        margin-top: 5px
                        img
                            height: 9px
                            &:hover
                                cursor: pointer

                .title
                    margin-top: 25px
                    display: flex
                    flex-direction: row
                    .stick
                        width: 4px
                        border-radius: 10px
                        background: #2997FF
                        min-height: 100%

                    .group
                        margin-left: 10px
                        position: relative
                        width: calc(100% - 15px)
                        padding: 0 40px 0 0
                        .placeholder 
                            color: #808080
                            top: 0
                            font-size: 22px
                            pointer-events: none
                            user-select: none
                            position: absolute
                            opacity: 0
                            transition: 0.2s padding ease-in-out
                        .input-text
                            overflow-x: hidden
                            overflow-y: auto
                            white-space: pre-wrap
                            word-wrap: break-word
                            z-index: 1        
                            padding: 0 0 0 2px
                            outline: 0                        
                            transition: 0.2s padding ease-in-out
                            font-size: 22px

                            &:empty + .placeholder
                                opacity: 1
                                margin-left: 3px

                .content-note
                    position: relative
                    margin-top: 30px
                    padding: 0 40px 0 20px
                    
                    .description
                        .text
                            min-height: 22px
                            width: 100%

                    .content-menu
                        position: absolute


@media only screen and (min-width: 1200px) and  (max-width: 1480px)


@media (min-width: 992px) and  (max-width: 1199px) //laptop


@media only screen and (min-width: 768px) and (max-width: 991px) //tablet



@media (min-width: 480px) and (max-width: 767px) //large phone

@media (min-width: 320px) and (max-width: 479px) //phone

@media (min-width: 150px) and (max-width: 319px) //min width
