<div class="container">
    <div class="background">
        <div class="buttons">
            <img src="assets/buttons-buttons/scope.svg">
            <img src="assets/buttons-buttons/youtube.svg" (click)="youTubeMenu()">
        </div>
        <div class="note">
            <div *ngIf="youtube" class="youtube">

            </div>
            <div class="content">
                <div class="header">
                    <div class="labels">
                        <div *ngFor="let label of labels" class="label" [ngStyle]="{'background': label.color }">
                            <span>{{label.name}}</span>
                        </div>
                    </div>
                    <div class="options">
                        <img src="assets/options.svg" />
                    </div>
                </div>
                <div class="title">
                    <div class="stick"></div>
                    <div class="group">
                        <div class="input-text" id="title" contenteditable="true" (input)="changeTitle($event.target.innerText)" (keydown.arrowdown)="downToContent()">{{
                            note?.title
                        }}</div>
                        <div class="placeholder">
                            Note Title
                        </div>
                    </div>
                </div>
                <div class="content-note">
                    <ng-template ngFor let-item [ngForOf]="note?.parts" let-i="index">
                        <div [ngSwitch]="item.type">
                            <ng-template ngSwitchCase="text">
                                <div [ngClass]="item.type">
                                    <div class="input-text" id="{{i}}" contenteditable="true" (input)="updateText($event.target.innerText, item.id)" (keydown.enter)="enter(i)" (keydown.arrowup)="up(i)" (keydown.arrowdown)="down(i)">{{
                                        item?.description
                                    }}</div>
                                    <div *ngIf="note?.parts.length > 1" class="placeholder-text">
                                        Enter something
                                    </div>
                                    <div *ngIf="note?.parts.length === 1" class="placeholder-text-first">
                                        Description note
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template ngSwitchDefault>3</ng-template>
                        </div>
                    </ng-template>
                    <app-content-menu class="content-menu"></app-content-menu>
                </div>
            </div>
        </div>
    </div>
</div>