<div class="container">
    <div class="background">
        <div class='buttons-container'>
            <div class="buttons">
                <img src="assets/buttons-buttons/scope.svg">
                <img src="assets/buttons-buttons/youtube.svg" (click)="youTubeMenu()">
            </div>
        </div>
        <div class="note">
            <div *ngIf="youtube" class="youtube">

            </div>
            <div class="content">
                <div class="header">
                    <div class="labels">
                        <div *ngFor="let label of labels" class="label" [ngStyle]="{'background': label.color }">
                            <span>{{label.name}}</span>
                        </div>
                    </div>
                    <div class="options">
                        <img src="assets/options.svg" />
                    </div>
                </div>
                <div class="title">
                    <div class="stick"></div>
                    <div class="group">
                        <div class="input-text" id="title" contenteditable="true"
                            (input)="changeTitle($event.target.innerText)">{{
                            note?.Title
                        }}</div>
                        <div class="placeholder">
                            Note Title
                        </div>
                    </div>
                </div>
                <div class="content-note">
                    <div class="description" [innerHTML]="note?.InnerHTML" contenteditable="true"
                        (input)="onInput($event)" (keydown.backspace)="back($event)" (keydown.enter)="enter($event)"
                        (mouseup)="show($event)" #editor>
                        <div class="part">
                            <br />
                        </div>
                    </div>
                    <app-content-menu *ngIf="viewMenu" [ngStyle]="{top: (cursorPosition - 4) + 'px',left: 250 + 'px'}"
                        class="content-menu" (numberList)="numberList()" (dotList)="dotList()" (hOne)="hOne()"
                        (hTwo)="hTwo()" (hThree)="hThree()"></app-content-menu>
                </div>
            </div>
        </div>
    </div>
</div>