<div appTheme class="main-container" (click)="setFocusText($event)" (mousedown)="mouseDown($event)"
  (mouseover)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
  <app-drag-drop-handler-container [isShow]="isMouseOver || forceFocus"><ng-content
      *ngIf="!isReadOnlyMode && (isSelectModeActive$ | async) === false && isRowsSelected === false && (isResizingPhoto$ | async) === false"></ng-content></app-drag-drop-handler-container>
  <div ondragstart="return false;" ondrop="return false;" class="main-item scrollable code-block" [ngStyle]="{
      backgroundColor: (isSelected && hasText) ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null
    }">
    <pre>
      <code>
        <p #contentHtml class="block-generic default-text-size default-text-id text-part" (input)="onInput()"
        (click)="textClick($event)" [attr.contenteditable]="!isReadOnlyMode && (isResizingPhoto$ | async) === false"
        [attr.content_id]="content.id" [innerHTML]="viewHtml" [ngClass]="{ 'nope-select' : (isResizingPhoto$ | async) === true}">
      </p>
      </code>
    </pre>
    <div *ngIf="isActiveState && (isSelectModeActive$ | async) === false && isRowsSelected === false"
      class="no-content">
      <p>{{ 'innerNote.noCode' | translate }}</p>
    </div>
    <div *ngFor="let cursor of uiCursors$ | async" class="collaborative-cursor" [ngStyle]="{
    top: cursor.cursorTop + 'px',
    left: cursor.cursorLeft + 'px',
    backgroundColor: cursor.color
  }"></div>
  </div>
</div>