<div class="few-notes" [ngClass]="[themeClass]">
  <app-dialog-generic-header [iconDisabled]="true" [message]="titleMessage! | translate">
  </app-dialog-generic-header>

  <ng-scrollbar
    class="notes-sharing"
    [visibility]="'hover'"
    [track]="'all'"
    [appearance]="'compact'"
  >
    <div
      class="entity"
      *ngFor="let item of entities"
      (click)="onClick(item)"
      [ngStyle]="{ backgroundColor: item.color, cursor: isCancelActive ? 'auto' : 'pointer' }"
      [ngClass]="{ 'active-note': selectedEntityId === item.id }"
    >
      <p *ngIf="item.title && item.title.length > 0" class="title">{{ item.title }}</p>
      <p *ngIf="!item.title" class="empty-placeholder">{{ unnamedTitle! | translate }}</p>
      <div class="icon-container" (click)="onCancel(item)">
        <div *ngIf="isCancelActive" class="icon black">
          <mat-icon [inline]="true">close</mat-icon>
        </div>
      </div>
    </div>
  </ng-scrollbar>
  <ng-content></ng-content>
</div>
