<div
  *ngIf="loaded"
  class="grid"
  [ngStyle]="{'opacity': labelService.murriService.flagForOpacity ? '1' : '0'}"
>
  <div
    #item
    class="grid-item"
    [id]="item.id"
    *ngFor="let item of labelService.entities"
    [ngClass]="[pService.orientationMobile? 'grid-plus' : '', (pService.fontSize$ | async) === fontSize.Big ? 'big-size' : '']"
  >
    <app-label
      [label]="item"
      (updateLabel)="update($event)"
      (deleteLabel)="setDelete($event)"
    ></app-label>
  </div>
</div>
<app-no-results-illustration
  *ngIf="loaded && ((countAll$ | async) ? false : true)"
  [isShow]="loaded && ((countAll$ | async) ? false : true)"
  [message]="'noResult.allLabels' | translate"
  [illustration]="pService.icon.allLabelIllustration"
  typeClass="type-module"
></app-no-results-illustration>
