@import 'header-components';

.interactions {
    .generic {
        width: auto;

        .inner-content {
            padding: 0 0.75rem;

          p {
            display: block;
            padding-right: 0;
          }
        }
    }
}