@import 'variables';

:host {
  display: flex;
  margin: 0.15rem 0;
}

.card {
  display: flex;
  width: 100%;
  border-radius: 5px;

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 5px 0 0 5px;

    .icon {
      display: flex;
      width: 35px;
      height: 35px;
    }
  }

  .card-body {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex: 1;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem;

    .card-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      .title-container {
        display: flex;
        width: 100%;
        .title {
          @include text-overflow;
          font-size: 0.875rem;
          font-weight: 500;
          margin-bottom: 0.125rem;
        }
      }

      .link {
        font-size: 0.75rem;
        color: #8e8e8e;
      }
    }
  }
}

.dark {
  background-color: $dark-color;
}

.light {
  background-color: #fafafa;
  color: $text-color;
  border: 0.8px solid #bababa;
}
