:host {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 1.5rem;

  .user-image {
    display: flex;
    width: 45px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    flex: 1;

    h2 {
      font-size: 1.125rem;
      margin-bottom: 0.25rem;
    }

    .email {
      display: flex;
      font-size: 0.875rem;
    }
  }
}
