@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 24px;
  margin-right: 16px;

  span {
    font-weight: 500;
    font-size: 0.875rem;
  }

  i {
    cursor: pointer;
    transform: rotate(45deg);
  }
}

.preview_container {
  margin-top: 20px;
  margin-right: 38px;
  margin-left: 38px;

  .note {
    width: 100%;
    min-height: 133px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;

    .labels {
      padding-top: 1px;
      height: 16px;
      width: 105px;
      border-radius: 40px;
      background-color: #FFFDCD;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #808080;
    }

    .title {
      margin-top: 10px;
      color: #202020;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.6px;
    }

    .description {
      margin-top: 8px;
      color: #202020;
    }

    .date {
      margin-top: 10px;
      margin-bottom: 5px;
      color: #A1A1A1;
      font-size: 0.875rem;
    }
  }

  .folder {
    position: relative;

    .outer {
      z-index: 1;
      height: 130px;
      width: calc(100% - 15px);
      top: -15px;
      left: 15px;
      position: absolute;
      border-radius: 20px;
    }

    .inner {
      z-index: 2;
      margin-top: 55px;
      height: 130px;
      width: calc(100% - 15px);
      position: relative;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1.5rem;

      &>p {
        margin-top: 0.625rem;
        font-size: 1.25rem;
        font-weight: 700;
        color: #404040;
      }

      .notes_folder {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.625rem;

        .note_folder {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $light-text-color;

          .icon-notes {
            font-size: 0.9375rem;

            &::before {
              color: $light-text-color;
            }
          }

          p {
            @include text-overflow;
            white-space: nowrap;
            margin-left: 0.5rem;
          }
        }
      }

      .notes_folder>.note_folder {
        margin-top: 0.5rem;
        width: 100%;
      }

    }
  }
}

.color_container {
  margin-right: 38px;
  margin-left: 38px;
  margin-top: 20px;

  .color_pallete {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .color {
    display: flex;
    flex: 0 0 calc(100% / 5 - 1.2rem);
    height: 40px;
    border-radius: 5px;
    margin-right: 1.4rem;
    margin-top: 0.625rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    div {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    &:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 2px #0887a7;
    }

    &:nth-child(5),
    &:nth-child(10) {
      margin-right: 0;
    }
  }
}

.button_container {
  margin-right: 38px;
  margin-left: 38px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;

  .save_button {
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dark_button {
    background: #34373E;
  }

  .white_button {
    border: 0.8px solid #959595;
    color: #808080;
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  .color_container {
    .color {
      flex: 0 0 calc(100% / 5 - 0.8rem);
      margin-right: 1rem;
    }
  }

}