<div class = "main-note">
        <div class = "note-header">
            <div class = "note-label">
                <p>
                    Medium
                </p>
            </div>
            <div class = "note-label">
                <p>
                    Design
                </p>
            </div>
            <div class = "note-label note-plus-label">
                <p>
                    +10
                </p>
            </div> 
            <div class = "note-options">
                <img src = "assets/options.svg">
            </div>
        </div>
        <div class = "note-title">
            <p>Apple’s Gender-Neutral Emojis Aren’t for Everyone Apple’s Gender-Neutral Emojis Aren’t for Everyone</p>
        </div>
        <div class = "note-description">
            <p>They place restrictions and limits on an identity that’s all about freedom
                They place restrictions and limits on an identity that’s all about freedom
                They place restrictions and limits on an identity that’s all about freedom
            </p>
        </div>
        <div class = "note-image">
            <img src="assets/city.png">
        </div>
        <div class = "note-author">
            <p>Nate Lapinski</p>
        </div>
        <div class = "note-info">
            <div class = "note-date">
                <p>17.06.18</p>
            </div>
            <div class = "note-info-line">
    
            </div>
            <div class = "note-time-read">
                <p>11 min read</p>
            </div>
        </div>
    </div>