<div class="main-note">
    <div class="highlighting-note" (click)="changeColor()" [ngStyle]="{backgroundColor: color}">
        <img [src]="colorUpdate ? acceptWhite : acceptCommon" id="size-image-highlighting">
    </div>
    <div class="note-container">
        <div class="note-header">
            <div class="note-label">
                <p class="check note-label-paragraph">{{noot.labels[0]}}</p>
                <div class="tooltiptext">
                    <span>{{noot.labels[0]}}</span>
                </div>
            </div>
            <div class="note-label">
                <p class="check note-label-paragraph">{{noot.labels[1]}}</p>
                <div class="tooltiptext">
                    <span>{{noot.labels[1]}}</span>
                </div>
            </div>
            <div class="note-label note-plus-label">
                <p>+{{noot.labels.length}}</p>
            </div>
            <div class="note-options" (click)="changeColor()">
                <img src="assets/options.svg">
            </div>
        </div>
        <div class="note-title" (click)="Open()">
            <p>{{noot.title}}</p>
        </div>
        <div class="note-description">
            <p>{{noot.description}}
            </p>
        </div>
        <div class="note-image">
            <img [src]="noot.images[0]" class="note-image-image">
        </div>
        <div class="note-author">
            <p>{{noot.author}}</p>
        </div>
        <div class="note-info">
            <div class="note-date">
                <p>{{noot.date}}</p>
            </div>
            <div class="note-info-line">

            </div>
            <div class="note-time-read">
                <p>11 min read</p>
            </div>
        </div>
    </div>
</div>