$main-color: #EBFFEC
$label-color: #FFFDCD
$label-color-full: #FAFAFA
div
    display: flex
.main-note
    cursor: pointer
    flex-direction: row
    background-color: $main-color
    width: 360px
    padding: 0 20px 0 0
    border-radius: 25px
    margin-top: 40px
    &:hover
        box-shadow: 0px 2px 2px #00000030
    .highlighting-note
        width: 30px
        align-items: center
        justify-content: center
        border-radius: 25px 0 0 25px
        cursor: pointer
        -moz-user-select: none
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
        background-color: #DDFFDF
        transition: .5s ease-out
        &:hover
            background-color: rgba(218, 218, 218, 0.69)
    .note-container
        flex-direction: column
        width: 320px
        padding: 0 0 0 10px
        .note-header
            flex-direction: row
            justify-content: space-between
            margin-bottom: 15px
            .note-label
                justify-content: center
                align-items: center
                font-size: 15px
                width: 100px
                height: 20px
                background-color: $label-color
                border-radius: 40px
                color: #808080
                text-overflow: ellipsis
                white-space: nowrap
                overflow: hidden
            .note-plus-label
                width: 40px
                background-color: $label-color-full
            .note-options
                -moz-user-select: none
                -webkit-user-select: none
                -ms-user-select: none
                user-select: none
                cursor: pointer
        .note-title
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            font-size: 24px
            font-weight: bold
            margin-bottom: 15px
            max-height: 74px
            text-overflow: ellipsis
            overflow: hidden
        .note-description
            display: -webkit-box
            -webkit-line-clamp: 4
            -webkit-box-orient: vertical
            font-size: 18px
            font-weight: 300
            margin-bottom: 15px
            max-height: 150px
            text-overflow: ellipsis
            text-align: justify
            overflow: hidden
        .note-image
            justify-content: center
            margin-bottom: 15px
            -moz-user-select: none
            -webkit-user-select: none
            -ms-user-select: none
            user-select: none
        .note-author
            font-size: 18px
            font-weight: 500
            margin-bottom: 5px
            color: #303030
        .note-info
            color: #C4C4C4
            align-items: center
            justify-content: flex-start
            margin-bottom: 15px
            .note-date
                font-size: 16px
            .note-info-line
                height: 15px
                border-width: 0 1px 0 0
                border-style: solid
                margin-left: 10px
                margin-right: 10px
            .note-time-read
                font-size: 14px

@media only screen and (min-width: 1200px)

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .main-note
        margin-top: 40px
        .note-container
            .note-header
                margin-bottom: 12px
                .note-label
                    font-size: 14px
            .note-title
                margin-bottom: 12px
                font-size: 22px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 12px
                font-size: 17px
            .note-author
                font-size: 17px
            .note-image
                margin-bottom: 12px
            .note-info
                margin-bottom: 12px
                .note-date
                    font-size: 15px
                .note-info-line
                    height: 14px
                .note-time-read
                    font-size: 13px

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .main-note
        margin-top: 30px
        .note-container
            .note-header
                margin-bottom: 12px
                .note-label
                    font-size: 14px
                .note-options
                    height: 19px
            .note-title
                margin-bottom: 12px
                font-size: 20px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 12px
                font-size: 16px
            .note-author
                font-size: 16px
            .note-image
                margin-bottom: 12px
            .note-info
                margin-bottom: 12px
                .note-date
                    font-size: 14px
                .note-info-line
                    height: 13px
                .note-time-read
                    font-size: 12px
    
@media (min-width: 480px) and (max-width: 767px) //large phone
    .main-note
        margin-top: 30px
        .note-container
            .note-header
                margin-bottom: 10px
                .note-label
                    font-size: 13px
                .note-options
                    height: 18px
            .note-title
                margin-bottom: 10px
                font-size: 18px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 10px
                font-size: 15px
            .note-author
                font-size: 15px
            .note-image
                margin-bottom: 10px
            .note-info
                margin-bottom: 10px
                .note-date
                    font-size: 14px
                .note-info-line
                    height: 13px
                .note-time-read
                    font-size: 12px

@media (min-width: 320px) and (max-width: 479px) //phone
    .main-note
        margin-top: 30px
        width: 300px
        border-radius: 15px
        .highlighting-note
            width: 20px
        .note-container
            width: 280px
            .note-header
                margin-bottom: 8px
                .note-label
                    font-size: 12px
                    width: 75px
                .note-plus-label
                    width: 40px
                .note-options
                    height: 17px
            .note-title
                margin-bottom: 8px
                font-size: 18px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 8px
                font-size: 15px
            .note-author
                font-size: 14px
            .note-image
                margin-bottom: 8px
            .note-info
                margin-bottom: 8px
                .note-date
                    font-size: 13px
                .note-info-line
                    height: 13px
                .note-time-read
                    font-size: 12px
    #size-image-highlighting
        width: 15px

@media (min-width: 150px) and (max-width: 319px) //min width
    .main-note
        margin-top: 30px
        width: 260px
        border-radius: 15px
        .highlighting-note
            width: 20px
        .note-container
            width: 240px
            .note-header
                margin-bottom: 8px
                .note-label
                    font-size: 11px
                    width: 60px
                .note-plus-label
                    width: 40px
                .note-options
                    height: 14px
            .note-title
                margin-bottom: 8px
                font-size: 16px
            .note-description
                -webkit-line-clamp: 3
                margin-bottom: 8px
                font-size: 13px
            .note-author
                font-size: 12px
            .note-image
                margin-bottom: 8px
            .note-info
                margin-bottom: 8px
                .note-date
                    font-size: 11px
                .note-info-line
                    height: 10px
                .note-time-read
                    font-size: 10px
    #size-image-highlighting
        width: 15px