div
    display: flex
    
.wrapper-folder
    position: relative 
    height: 160px 
    width: 295px
    align-items: flex-end
    .outer-folder
        position: absolute
        height: 150px
        width: 280px
        background-color: #CDFFD8
        border-radius: 20px
        bottom: 10px 
        left: 15px
    .folder
        position: relative
        height: 150px
        width: 280px
        border-radius: 25px
        background-color: #EBFFEC
        z-index: 10
        .highligts
            height: 100%
            width: 30px
            background-color: #95EB9D
            user-select: none
            border-radius: 25px 0 0 25px
            transition: .3s ease-out
            cursor: pointer
            &:hover
                background-color: rgba(218, 218, 218, 0.69)
        .folder-inner
            height: 100%
            width: 250px
            flex-direction: column
            input
                height: 21px
                font-size: 20px
                margin: 10px 30px 10px 20px
                border: none
                outline: none
                color: #505050
                font-weight: bold
                background: none
                &:hover
                    border-bottom: 1px dashed #c5c5c5
                &:focus
                    border-bottom: 1px dashed #9e9e9e
            .fields
                height: calc( 100% - 41px )
                width: 100%
                padding: 0 30px
                flex-direction: column
                .field
                    width: 100%
                    height: 30px
                    align-items: center
                    .field-icon
                        width: 16px
                        height: 16px
                        svg
                            width: 100%
                            height: 100%
                    .field-information
                        width: calc( 100% - 21px )
                        margin-left: 5px
                        color: #434343
                        p
                            overflow: hidden
                            text-overflow: ellipsis
                            white-space: nowrap

@media (min-width: 320px) and (max-width: 479px) //phone
    .wrapper-folder
        width: 275px
        height: 150px 
        .outer-folder
            width: 260px
            height: 140px
        .folder
            width: 260px
            height: 140px
            .highlights
                width: 25px
            .folder-inner
                width: 235px
                input
                    height: 19px
                    font-size: 18px
                .fields
                    height: calc( 100% - 39px )
                    .field
                        .field-icon
                            width: 15px
                            height: 15px
                        .field-information
                            font-size: 15px


@media (min-width: 150px) and (max-width: 319px) //min width
    .wrapper-folder
        width: 255px
        height: 140px 
        .outer-folder
            width: 240px
            height: 130px
        .folder
            width: 240px
            height: 130px
            .highlights
                width: 20px
            .folder-inner
                width: 220px
                input
                    height: 19px
                    font-size: 18px
                    margin-bottom: 5px
                .fields
                    height: calc( 100% - 34px )
                    .field
                        .field-icon
                            width: 15px
                            height: 15px
                        .field-information
                            font-size: 15px