<div appTheme class="playlist-options">
  <div class="title">
    <p
      class="collection-title-text-id"
      #titleHtml
      (input)="onTitleChangeInput($event)"
      (click)="clickInputEvent.emit()"
      [textContent]="textContent"
      [attr.contenteditable]="!isReadOnlyMode && !isSelectionStart"
      (keydown.enter)="preventEnter($event)"
    ></p>
    <div class="placeholder">{{ 'placeholder.playlist' | translate }}</div>
  </div>
  <app-button-collection
    [ngStyle]="{ opacity : isButtonActive ? '1' : '0' }"
    [matMenuTriggerFor]="menu"
    [button]="'more_horiz'"
  ></app-button-collection>
</div>
