<div class="player" appTheme>
  <div class="controls controls-left">
    <app-button-collection
      cdk-overlay-origin
      #origin="cdkOverlayOrigin"
      [button]="'queue_music'"
      [tooltip]="'innerNote.audio.playlist' | translate"
      (clickEvent)="isOpen = !isOpen"
    ></app-button-collection>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="origin"
      [cdkConnectedOverlayOpen]="isOpen"
      [cdkConnectedOverlayHasBackdrop]="true"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayPositions]="positions"
      (backdropClick)="isOpen = false"
    >
      <div
        #dropdown
        class="dropdown"
        [@showDropdown]
        appLazyTheme
        themeClass="dropdown"
        attributeName="className"
        [element]="dropdown"
      >
        <app-audio-small
          *ngFor="let item of audioService.playlist; let i = index"
          (click)="play2(item)"
          [audio]="item"
        ></app-audio-small>
      </div>
    </ng-template>
    <div class="preview">
      <img
        *ngIf="audioService.currentFile?.pathToImage"
        [src]="audioService.currentFile?.pathToImage | getImage: audioService.currentFile?.authorId"
      />
      <div
        *ngIf="!audioService.currentFile?.pathToImage"
        class="no-preview"
        [CustomTooltip]="audioName"
      >
        {{ audioName[0] }}
      </div>
    </div>
  </div>
  <div class="controls">
    <app-button-collection
      [button]="'skip_previous'"
      [tooltip]="'innerNote.audio.previos' | translate"
      [disabled]="isFirstPlaying"
      (clickEvent)="previous()"
    ></app-button-collection>

    <app-button-collection
      *ngIf="!state?.playing"
      [button]="'play_circle_outline'"
      [tooltip]="'innerNote.audio.play' | translate"
      [disabled]="state?.error"
      (clickEvent)="play()"
    ></app-button-collection>

    <app-button-collection
      *ngIf="state?.playing"
      [button]="'pause'"
      [tooltip]="'innerNote.audio.pause' | translate"
      (clickEvent)="pause()"
    ></app-button-collection>

    <app-button-collection
      [button]="'skip_next'"
      [tooltip]="'innerNote.audio.next' | translate"
      [disabled]="isLastPlaying"
      (clickEvent)="next()"
    ></app-button-collection>
  </div>
  <div class="slider-controls">
    <div class="time" *ngIf="state?.readableCurrentTime">{{ state?.readableCurrentTime }}</div>
    <mat-slider
      class="slider"
      min="0"
      [max]="audioService.currentFile?.secondsDuration"
      step="1"
      [value]="state?.currentTime"
      (input)="onSliderChangeEnd($event)"
      [disabled]="state?.error || audioService.currentFile === undefined"
    ></mat-slider>
    <div class="time" *ngIf="audioService.currentFile?.secondsDuration">
      {{ audioService.currentFile.secondsDuration | formatDateMoment: 1000 }}
    </div>
  </div>
  <div class="controls">
    <div class="volume">
      <app-button-collection [button]="volumeIcon" (clickEvent)="mute()"></app-button-collection>

      <div class="volume-slider">
        <mat-slider
          vertical
          class="slider"
          min="0"
          max="1"
          step="0.01"
          (input)="onSliderVolumeChangeEnd($event)"
          [value]="state?.currentVolume"
          [disabled]="state?.error || audioService.currentFile === undefined"
        ></mat-slider>
      </div>
    </div>

    <app-button-collection
      [button]="'repeat'"
      [tooltip]="'innerNote.audio.loop' | translate"
      (clickEvent)="loop()"
      [isActive]="state?.loop"
      [activeColor]="'#0887a7'"
    ></app-button-collection>

    <app-button-collection
      class="audio-cancel"
      [button]="'close'"
      [tooltip]="'innerNote.audio.close' | translate"
      (clickEvent)="audioService.resetCurrent()"
    ></app-button-collection>
  </div>
</div>
