<div class="player" appTheme>
  <div class="controls controls-left">
    <app-button-collection
      cdk-overlay-origin
      #origin="cdkOverlayOrigin"
      button="queue_music"
      [tooltip]="'innerNote.audio.playlist' | translate"
      (clickEvent)="isOpen = !isOpen"
    ></app-button-collection>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="origin"
      [cdkConnectedOverlayOpen]="isOpen"
      [cdkConnectedOverlayHasBackdrop]="true"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayPositions]="positions"
      (backdropClick)="isOpen = false"
    >
      <div
        #dropdown
        class="dropdown"
        [@showDropdown]
        [class]="(theme$ | async) === themeE.Dark ? 'dark-dropdown' : 'light-dropdown'"
      >
        <app-audio-small
          *ngFor="let item of audioService.playlist; let i = index"
          (click)="play2(item)"
          [audio]="item"
        ></app-audio-small>
      </div>
    </ng-template>
    <div class="preview">
      <img
        *ngIf="audioService.currentFile?.pathToImage"
        [src]="audioService.currentFile?.pathToImage"
      />
      <div
        *ngIf="!audioService.currentFile?.pathToImage"
        class="no-preview"
        [CustomTooltip]="audioName"
      >
        {{ audioName[0] }}
      </div>
    </div>
  </div>
  <div class="controls">
    <app-button-collection
      button="skip_previous"
      [tooltip]="'innerNote.audio.previos' | translate"
      [disabled]="isFirstPlaying"
      (clickEvent)="previous()"
    ></app-button-collection>

    <app-button-collection
      *ngIf="!audioService.getState()?.playing"
      button="play_circle_outline"
      [tooltip]="'innerNote.audio.play' | translate"
      [disabled]="audioService.getState()?.error"
      (clickEvent)="play()"
    ></app-button-collection>

    <app-button-collection
      *ngIf="audioService.getState()?.playing"
      button="pause"
      [tooltip]="'innerNote.audio.pause' | translate"
      (clickEvent)="pause()"
    ></app-button-collection>

    <app-button-collection
      button="skip_next"
      [tooltip]="'innerNote.audio.next' | translate"
      [disabled]="isLastPlaying"
      (clickEvent)="next()"
    ></app-button-collection>
  </div>
  <div class="slider-controls">
    <div class="time" *ngIf="audioService.getState()?.readableCurrentTime">{{ audioService.getState()?.readableCurrentTime }}</div>
    <mat-slider
      class="slider"
      [min]="0"
      [max]="audioService.currentFile?.secondsDuration"
      [step]="1"
      [disabled]="audioService.getState()?.error || audioService.currentFile === undefined"
    >
      <input [value]="audioService.getState()?.currentTime" (valueChange)="onSliderChangeEnd($event)" matSliderThumb />
    </mat-slider>
    <div class="time" *ngIf="audioService.currentFile?.secondsDuration">
      {{ audioService.currentFile.secondsDuration | formatDateMoment : 1000 }}
    </div>
  </div>
  <div class="controls">
    <div class="volume">
      <app-button-collection [button]="volumeIcon" (clickEvent)="mute()"></app-button-collection>

      <div class="volume-slider">
        <mat-slider
          vertical
          class="slider"
          [min]="0"
          [max]="1"
          [step]="0.01"
          [disabled]="audioService.getState()?.error || audioService.currentFile === undefined"
        >
          <input (valueChange)="onSliderVolumeChangeEnd($event)" [value]="audioService.getState()?.currentVolume" matSliderThumb />
        </mat-slider>
      </div>
    </div>

    <app-button-collection
      button="repeat"
      activeColor="#0887a7"
      [tooltip]="'innerNote.audio.loop' | translate"
      (clickEvent)="loop()"
      [isActive]="audioService.getState()?.loop"
    ></app-button-collection>

    <app-button-collection
      class="audio-cancel"
      button="close"
      [tooltip]="'innerNote.audio.close' | translate"
      (clickEvent)="reset()"
    ></app-button-collection>
  </div>
</div>
