:host {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 42px;
  width: 100%;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0 0 0 1.2rem;

  span {
    white-space: nowrap;
  }

  .button-container {
    height: 100%;
    padding: 0 1.2rem 0 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .icon {
      display: flex;
      height: 16px;
      width: 16px;
    }
  }
}

.is-message {
  justify-content: space-between;
}

.no-message {
  justify-content: center;
}
