<div (mouseover)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" class="video-content">
  <app-drag-drop-handler-container [isShow]="isMouseOver" [classes]="'mt-20'"
    ><ng-content *ngIf="isDragActive && !isSelectModeActive"></ng-content
  ></app-drag-drop-handler-container>
  <div
    class="playlist main-item"
    appTheme
    appDrop="drop-active"
    (fileDropped)="uploadFiles($event)"
    [ngStyle]="{
      backgroundColor: isSelected ? (theme === themeE.Dark ? '#2a2d32' : '#f3f3f3') : null
    }"
  >
    <app-title-collection
      [isSelectionStart]="isSelectModeActive"
      [isReadOnlyMode]="isReadOnlyMode"
      [textContent]="content?.name"
      [contentId]="content?.id"
      [cursors$]="cursors$"
      (changeTitleEvent)="onTitleChangeInput($event)"
      (clickInputEvent)="scrollAndFocusToTitle()"
      [menu]="menu"
      [isDisableButton]="this.content.isLoading"
      [isShowButton]="isMouseOver"
    ></app-title-collection>
    <div
      *ngIf="!isEmpty"
      #videowrapper
      (fullscreenchange)="onFullscreenChange()"
      class="video-wrapper"
    >
      <video
        [id]="currentVideo?.fileId"
        (click)="clickItemHandler(currentVideo?.fileId)"
        (timeupdate)="cdr.detectChanges()"
        #videoplayer
        oncontextmenu="return false"
        preload="metadata"
        controlslist="nodownload"
        (ended)="isPlaying = false"
        [src]="currentVideo?.videoPath"
      ></video>
      <div *ngIf="!isSelectModeActive" class="controls">
        <div class="progress slider-controls">
          <mat-slider
            class="slider"
            min="0"
            [max]="videoElement?.nativeElement?.duration"
            step="0.01"
            [value]="videoElement?.nativeElement?.currentTime"
            (input)="onSliderChangeEnd($event)"
          ></mat-slider>
        </div>
        <div class="actions">
          <div class="section-actions">
            <app-button-collection
              [classes]="'light-static'"
              *ngIf="!isPlaying"
              [button]="'play_arrow'"
              [tooltip]="'innerNote.audio.play' | translate"
              (clickEvent)="togglePlay()"
            ></app-button-collection>

            <app-button-collection
              [classes]="'light-static'"
              *ngIf="isPlaying"
              [button]="'pause'"
              [tooltip]="'innerNote.audio.pause' | translate"
              (clickEvent)="togglePlay()"
            ></app-button-collection>

            <div class="section-volume">
              <app-button-collection
                [classes]="'light-static'"
                [button]="volumeIcon"
                [tooltip]="
                  (videoElement?.nativeElement?.volume === 0
                    ? 'innerNote.audio.turnOnSound'
                    : 'innerNote.audio.mute'
                  ) | translate
                "
                (clickEvent)="mute()"
              ></app-button-collection>

              <div class="video-volume-slider">
                <mat-slider
                  class="slider slider-prevent-min-width"
                  min="0"
                  max="1"
                  step="0.01"
                  (input)="onSliderVolumeChangeEnd($event)"
                  [value]="videoElement?.nativeElement?.volume"
                ></mat-slider>
              </div>
            </div>
          </div>
          <div class="section-actions">
            <app-button-collection
              [iconClasses]="'icon-smaller'"
              [matIconClasses]="'material-icons-outlined-important'"
              [classes]="'light-static'"
              [button]="'branding_watermark'"
              [tooltip]="'innerNote.audio.miniPlayer' | translate"
              (clickEvent)="togglePictureInPicture()"
            ></app-button-collection>

            <app-button-collection
              [classes]="'light-static'"
              [button]="isFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              [tooltip]="(isFullscreen ? '' : 'innerNote.audio.fullscreen') | translate"
              (clickEvent)="toggleFullscreen()"
            ></app-button-collection>
          </div>
        </div>
      </div>
    </div>
    <div class="video-playlist" *ngIf="!isEmpty">
      <div #videoPlaylist class="video-playlist-wrapper">
        <div
          [id]="item.fileId"
          class="thumb-video-wrapper"
          *ngFor="let item of content.orderedItems; let i = index"
          (click)="openThumbVideo(item)"
        >
          <div
            class="thumb-video"
            [ngClass]="[isClicked(item.fileId) ? 'is-selected' : '']"
            [ngStyle]="(getCursor$(item.fileId) | async) && { 'border': '2px solid ' + (getCursor$(item.fileId) | async).color }"
          >
            <video disablecontrols [src]="item?.videoPath"></video>
            <app-button-collection
              *ngIf="!isReadOnlyMode && !isSelectModeActive"
              class="more-thumb-button"
              [matMenuTriggerFor]="menu"
              [button]="'more_vert'"
              [classes]="'light-static'"
              (clickEvent)="$event?.stopPropagation()"
            ></app-button-collection>

            <mat-menu
              #menu="matMenu"
              appLazyTheme
              themeClass="menu"
              attributeName="panelClass"
              [element]="menu"
            >
              <button mat-menu-item type="button" name="Download" (click)="exportVideo(item)">
                <mat-icon>download</mat-icon>
                <span> {{ 'innerNote.menu.download' | translate }} </span>
              </button>
              <button
                (click)="deleteContentItemEvent.emit(item.fileId)"
                mat-menu-item
                type="button"
                name="delete"
              >
                <mat-icon>delete</mat-icon>
                <span>{{ 'innerNote.menu.delete' | translate }}</span>
              </button>
            </mat-menu>
          </div>
          <div class="video-title">
            <p>{{ item.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <app-empty-collection-items-placeholder
      *ngIf="isEmpty"
      [isSpinnerActive]="content.isLoading"
      [title]="'innerNote.video.plsUpload' | translate"
    ></app-empty-collection-items-placeholder>
  </div>
</div>

<!-- Additional -->

<input
  #uploadRef
  type="file"
  multiple
  [accept]="formats"
  hidden="true"
  (change)="uploadFiles($event.target.files)"
/>

<!-- Collection menu -->
<mat-menu
  #menu="matMenu"
  appLazyTheme
  themeClass="menu"
  attributeName="panelClass"
  [element]="menu"
>
  <button
    *ngIf="!isReadOnlyMode"
    mat-menu-item
    type="button"
    name="add new video"
    (click)="uploadHandler()"
  >
    <mat-icon>video_library</mat-icon>
    <span>{{ 'innerNote.menu.addVideo' | translate }}</span>
  </button>
  <button mat-menu-item type="button" name="Download" (click)="exportVideos(content)">
    <mat-icon>download</mat-icon>
    <span> {{ 'innerNote.menu.download' | translate }} </span>
  </button>
  <button
    *ngIf="!isReadOnlyMode"
    (click)="deleteContentEvent.emit(this.content.id)"
    mat-menu-item
    type="button"
    name="delete"
  >
    <mat-icon>delete</mat-icon>
    <span>{{ 'innerNote.menu.delete' | translate }}</span>
  </button>
</mat-menu>
