<div class="interactions" [ngClass]="themeHeader === theme.Light ? 'light' : 'dark'">
    <button 
        name="Create note" type="button"
        class="generic generic-unfixed"
        [ngClass]="(isProfile$ | async) ? 'generic-create': ''"
        (click)="newButton()"
        #new>

        <div class="inner-content">
            <p>{{ 'new.' + (route$ | async ) | translate}}</p>
            <i class="icon-plus"></i>
        </div>

        <div class="ripple-container" matRipple [matRippleTrigger]="new"></div>
    </button>
</div>