<div appTheme class="interactions">
  <button
    name="Create note"
    type="button"
    class="generic generic-unfixed"
    [ngClass]="(isProfile$ | async) ? 'generic-create': ''"
    (click)="newButton()"
    #new
  >
    <div class="inner-content">
      <p>{{ 'new.' + (route$ | async ) | translate}}</p>
      <div class="icon">
        <mat-icon svgIcon="plus" [inline]="true"></mat-icon>
      </div>
      <i class="icon-plus"></i>
    </div>

    <div class="ripple-container" matRipple [matRippleTrigger]="new"></div>
  </button>
</div>
