@import 'innerNote';

.check-list{
    width: 100%;
    display: flex;
    .checkbox-container{
        display: flex;
        justify-content: center;
        width: 30px;
        input{
            margin-top: 5px;
        }
    }
}