@import 'innerNote';

.check-list {
  width: 100%;
  display: flex;

  .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;

    .checkbox {
      .mat-checkbox-frame {
        border-color: white;
      }
    }
  }
  .text-container {
    position: relative;
    display: flex;
    flex-grow: 1;

    p {
      transition: 0.2s ease;
    }

    .checked-item {
      text-decoration: line-through;
      color: #8e8e8e;
    }
  }
}
