<div
  appTheme
  class="main-container"
  (click)="setFocus($event)"
  (mouseover)="mouseEnter($event)"
  (mouseout)="mouseOut($event)"
>
  <div class="check-list">
    <div class="checkbox-container inner-box-list" (click)="changeCheckBox()">
      <mat-checkbox [(ngModel)]="content.checked"></mat-checkbox>
    </div>
    <div class="text-container">
      <p
        [ngClass]="{ 'checked-item': content.checked }"
        class="block-generic default-text-size"
        #contentHtml
        contenteditable="true"
        (input)="onInput($event)"
        [textContent]="checkListService.contentStr"
      ></p>
      <p class="no-content-list" *ngIf="isActive">Item</p>
    </div>
  </div>
</div>
