<div class="active-users" appTheme>
  <div class="people-editing">
    <div
      class="person"
      *ngFor="let item of onlineUsers$ | async"
      [CustomTooltip]="item.name ?? ('header.anonymous' | translate)"
      position="Bottom"
    >
      <div *ngIf="item.photoPath !== null" class="inner-person">
        <img [src]="item.photoPath" alt="contributor" />
      </div>
      <div *ngIf="item.photoPath !== null" class="inner-person anonymous">
        <mat-icon svgIcon="people" [inline]="true"></mat-icon>
      </div>
    </div>
  </div>
</div>
