<app-dialog-generic-header
  [icon]="'icon-plus'"
  [message]="isCurrentOperationHeader | translate"
></app-dialog-generic-header>
<!-- TODO move input to component -->
<form [formGroup]="form" class="container" *ngIf="form">
  <div class="field">
    <label>{{ 'modal.lockModal.password' | translate }}</label>
    <input
      type="password"
      aria-label="Type password"
      formControlName="password"
      placeholder="{{ 'modal.lockModal.placeholderPass' | translate }}"
      [ngClass]="{'has-error': isSubmit && field.password.errors}"
    />
    <div class="details" *ngIf="isSubmit && field.password.errors">
      <span [@shake] *ngIf="field.password.errors.required"
        >{{ 'modal.lockModal.required' | translate }}</span
      >
      <span [@shake] *ngIf="field.password.errors.minlength"
        >{{ 'modal.lockModal.minLength' | translate }}</span
      >
    </div>
  </div>
  <div class="field" *ngIf="!isLockedGeneric">
    <label>{{ 'modal.lockModal.confirm' | translate }}</label>
    <input
      type="password"
      aria-label="confirm"
      formControlName="confirmation"
      placeholder="{{ 'modal.lockModal.placeholderConfirm' | translate }}"
      [ngClass]="{'has-error': isSubmit && field.confirmation.errors}"
    />
    <div class="details" *ngIf="isSubmit && field.confirmation.errors">
      <span [@shake] *ngIf="field.confirmation.errors.required"
        >{{ 'modal.lockModal.required' | translate }}</span
      >
      <span [@shake] *ngIf="field.confirmation.errors.isMatch"
        >{{ 'modal.lockModal.passMatchError' | translate }}</span
      >
    </div>
  </div>
</form>
<app-dialog-generic-save
  (saveOutput)="save()"
  [buttonText]="isCurrentOperationButton | translate"
></app-dialog-generic-save>
