@font-face {
    font-family: 'noots';
    src:  url('/assets/icons/noots.eot') format('embedded-opentype'),
      url('/assets/icons/noots.ttf') format('truetype'),
      url('/assets/icons/noots.woff') format('woff'),
      url('/assets/icons/noots.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'noots' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-archive:before {
    content: "\e900";
    color: #fff;
  }
  .icon-audio:before {
    content: "\e901";
  }
  .icon-bold:before {
    content: "\e902";
  }
  .icon-cancel:before {
    content: "\e903";
    color: #505050;
  }
  .icon-color:before {
    content: "\e904";
    color: #fff;
  }
  .icon-copy:before {
    content: "\e905";
    color: #fff;
  }
  .icon-delete:before {
    content: "\e906";
    color: #fff;
  }
  .icon-download:before {
    content: "\e907";
    color: #fff;
  }
  .icon-editing:before {
    content: "\e908";
  }
  .icon-file:before {
    content: "\e909";
  }
  .icon-filter:before {
    content: "\e90a";
    color: #fff;
  }
  .icon-folders .path1:before {
    content: "\e90b";
    color: rgb(157, 157, 157);
  }
  .icon-folders .path2:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-h1:before {
    content: "\e90d";
  }
  .icon-h2:before {
    content: "\e90e";
  }
  .icon-h3:before {
    content: "\e90f";
  }
  .icon-h4:before {
    content: "\e910";
  }
  .icon-image:before {
    content: "\e911";
  }
  .icon-italic:before {
    content: "\e912";
  }
  .icon-label:before {
    content: "\e913";
    color: #fff;
  }
  .icon-list:before {
    content: "\e914";
  }
  .icon-list-checked:before {
    content: "\e915";
  }
  .icon-list-dot:before {
    content: "\e916";
  }
  .icon-location:before {
    content: "\e917";
  }
  .icon-lock:before {
    content: "\e918";
    color: #fff;
  }
  .icon-logout:before {
    content: "\e919";
    color: #fff;
  }
  .icon-newphoto:before {
    content: "\e91a";
  }
  .icon-notes:before {
    content: "\e91b";
    color: #fff;
  }
  .icon-notification:before {
    content: "\e91c";
    color: #fff;
  }
  .icon-people:before {
    content: "\e91d";
    color: #fff;
  }
  .icon-plus:before {
    content: "\e91e";
  }
  .icon-private:before {
    content: "\e91f";
    color: #fff;
  }
  .icon-question:before {
    content: "\e920";
    color: #616161;
  }
  .icon-restore:before {
    content: "\e921";
  }
  .icon-search:before {
    content: "\e922";
    color: #828282;
  }
  .icon-select:before {
    content: "\e923";
    color: #515151;
  }
  .icon-select-label:before {
    content: "\e924";
    color: #505050;
  }
  .icon-setting:before {
    content: "\e925";
    color: #484848;
  }
  .icon-shared:before {
    content: "\e926";
    color: #fff;
  }
  .icon-theme-light:before {
    content: "\e927";
    color: #616161;
  }
  .icon-video:before {
    content: "\e928";
    color: #fff;
  }
  .icon-video-inner:before {
    content: "\e929";
  }
  .icon-view-change:before {
    content: "\e92a";
    color: #fff;
  }
  .icon-view-only:before {
    content: "\e92b";
    color: #c4c4c4;
  }