@font-face {
    font-family: 'noots';
    src:  url('/assets/icons/noots.eot') format('embedded-opentype'),
      url('/assets/icons/noots.ttf') format('truetype'),
      url('/assets/icons/noots.woff') format('woff'),
      url('/assets/icons/noots.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'noots' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-archive:before {
    content: "\e900";
    color: #fff;
  }
  .icon-cancel:before {
    content: "\e901";
    color: #505050;
  }
  .icon-change-color:before {
    content: "\e902";
    color: #fff;
  }
  .icon-copy:before {
    content: "\e903";
    color: #fff;
  }
  .icon-delete:before {
    content: "\e904";
    color: #fff;
  }
  .icon-download:before {
    content: "\e905";
    color: #fff;
  }
  .icon-filter:before {
    content: "\e906";
    color: #fff;
  }
  .icon-folders .path1:before {
    content: "\e907";
    color: rgb(157, 157, 157);
  }
  .icon-folders .path2:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-label:before {
    content: "\e909";
    color: #fff;
  }
  .icon-lock:before {
    content: "\e90a";
    color: #fff;
  }
  .icon-notes:before {
    content: "\e90b";
    color: #fff;
  }
  .icon-notification:before {
    content: "\e90c";
    color: #fff;
  }
  .icon-people:before {
    content: "\e90d";
    color: #fff;
  }
  .icon-plus:before {
    content: "\e90e";
  }
  .icon-question:before {
    content: "\e90f";
    color: #616161;
  }
  .icon-restore:before {
    content: "\e910";
    color: #505050;
  }
  .icon-search:before {
    content: "\e911";
    color: #828282;
  }
  .icon-select:before {
    content: "\e912";
    color: #515151;
  }
  .icon-select-label:before {
    content: "\e913";
    color: #505050;
  }
  .icon-shared:before {
    content: "\e914";
    color: #fff;
  }
  .icon-theme_light:before {
    content: "\e915";
    color: #616161;
  }
  .icon-video:before {
    content: "\e916";
    color: #fff;
  }
  .icon-view-change:before {
    content: "\e917";
    color: #fff;
  }