@import 'variables';

.field {
    position: relative;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: $green-label;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;

    input[type="text"], button[type="button"] {
        background-color: transparent;
        border: 0;
        padding: 0;
        outline: none;
        user-select: none;
    }

    &:hover {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    }

    .options {
        display: flex;
        align-items: center;
        height: 100%;

        button[type="button"] {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 0.9375rem;
            cursor: pointer;

            .icon {
                display: flex;
                font-size: 0.625rem;
                transition: 0.3s ease;
                backface-visibility: hidden;
            }
        }

        .separator-buttons {
            height: 20px;
            border-width: 0 1px 0 0;
            border-style: solid;
            color: #9a9a9a;
            cursor: default;
        }
    }
}

.colors {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    transition: 0.3s ease;

    .color {
        display: flex;
        flex: 0 0 calc(100% / 5 - 1.6rem);
        height: 25px;
        border-radius: 5px;
        margin-right: 2rem;
        margin-top: 0.625rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 2px #0887a7;
        }

        &:nth-child(5), &:nth-child(10) {
            margin-right: 0;
        }

    }
}

@media (max-width: 1024px) {
    .field {
        .options {
            button[type="button"] {
                padding: 0 0.75rem;

                .icon {
                    font-size: 0.5625rem;
                }
            }
        }
    }
    .colors {
        .color {
            flex: 0 0 calc(100% / 5 - 0.8rem);
            margin-right: 1rem;
        }
    }
}