@import "variables";

.custom-dialog-class-dark {
  max-width: 90vw !important;
  mat-dialog-container {
    max-width: 90vw;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: $dark-color;
    color: white;
  }
}

.custom-dialog-class-light {
  max-width: 90vw !important;
  mat-dialog-container {
    max-width: 90vw;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    color: #808080;
  }
}
.cdk-overlay-container {
  .cdk-global-overlay-wrapper {
    overflow: auto;
  }
}

.sharing-modal {
  mat-dialog-container {
    background-color: transparent;
    box-shadow: none;
  }
}

.mat-tab-header {
  border: none !important;
  padding: 0 2.5rem;
}

.light-tab,
.dark-tab {
  .mat-tab-label {
    width: 50%;
    min-width: initial;
    font-size: 1.25rem;
    opacity: 1;
    user-select: none;
  }
  .mat-ink-bar {
    height: 3px;
    border-radius: 5px;
    width: 50% !important;
    transition-property: left, right;
  }
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

.light-tab {
  .mat-tab-label {
    color: #808080;
  }
  .mat-tab-label-active {
    color: #4a85df;
  }

  .mat-ink-bar {
    background-color: #4a85df !important;
  }
}

.dark-tab {
  .mat-tab-label {
    color: white;
  }
  .mat-tab-label-active {
    color: #ddffcd;
  }

  .mat-ink-bar {
    background-color: #ddffcd !important;
  }
}

.push {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  font-size: 0.625rem;
  background-color: #ed6565;
  color: #ffffff;
  border-radius: 50%;
}

.content {
  position: relative;
  width: calc(100% - 190px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease;

  .content-inner {
    width: 100%;
    height: 100%;
    padding: 2.5rem calc(3.125vw - 0.75rem) 0 calc(3.125vw - 0.75rem);
    overflow: hidden scroll;
  }
}

.hide-scroll {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0);
    border-radius: 7px;
    min-height: 90px;
  }
}
.visible-scroll {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 7px;
    min-height: 90px;
  }
}

.grid {
  opacity: 0;
  transition: 0.1s linear;
  position: relative;
  width: calc(100%);
}

.grid-item {
  position: absolute;
  width: calc(100% / 4);
  padding: 0 0.75rem 1.5rem;
  z-index: 1;
}

.grid-item-small {
  position: absolute;
  width: 100%;
  padding-bottom: 1rem;
  z-index: 1;
}

.muuri-item-dragging {
  z-index: 11;
  cursor: move;
}

.muuri-item-releasing {
  z-index: 11;
}

.muuri-item-hidden {
  z-index: 0;
}

.muuri-item-placeholder {
  opacity: 0.3;
}

.main-helper {
  width: calc(100% - 270px - (6.25vw - 1.5rem));
}

.second-helper {
  width: calc(30% - 4vw);
}

.big-size {
  width: calc(100% / 3);
}

.drag-helper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  height: 0;
}

.ripple-container {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.billing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  background-color: white;
  color: #515151;
  font-size: 1.375rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.separator {
  height: 2px;
  width: 100%;
  background: linear-gradient(91.25deg, #cdeeff 1.19%, #ffcdcd 98.41%);
}

.add-mobile {
  position: absolute;
  right: 5vw;
  bottom: calc(5vh + 80px);
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 0.8px solid transparent;
  padding: 0;
  outline: none;
  user-select: none;
  overflow: hidden;
  background-color: #1fb86e;

  .icon {
    position: relative;
    z-index: 5;
    display: flex;
    font-size: 2.5rem;
    user-select: none;

    i::before {
      color: white;
    }
  }
}

.toggle {
  position: relative;
  display: flex;
  width: 190px;
  height: 32px;
  border: 0.8px solid #959595;
  border-radius: 5px;

  input[type="checkbox"] {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .rectangle {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border-radius: 3px;
    transition: 0.2s ease;
  }

  .text-toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
      transition: 0.2s ease;
    }
  }

  .active-toggle {
    left: 50%;
  }
}

.dropdown-button {
  border-color: #c5c5c5;

  .content-button {
    z-index: 50;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;

    .icon {
      display: flex;
      transition: 0.2s ease;
    }

    p {
      font-weight: 500;
    }

    p,
    .icon {
      position: relative;
      z-index: 5;
    }
  }
}

.separator-buttons {
  height: 20px;
  border-width: 0 1px 0 0;
  border-style: solid;
  color: #9a9a9a;
  cursor: default;
}

@media (max-width: 1680px) {
  .grid-item {
    width: calc(100% / 3);
  }
}

@media (max-width: 1360px) {
  .grid-item {
    width: calc(100% / 2);
  }
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
  }

  .main-helper {
    width: calc(100% - (6.25vw - 1.5rem));
  }

  .grid-plus {
    width: calc(100% / 3);
  }

  .second-helper {
    width: calc(50% - 8vw);
  }

  .add-mobile {
    display: flex;
  }
}

@media (max-width: 600px) {
  .content {
    .content-inner {
      padding: 2.5rem 3.125vw 0 3.125vw;
    }
  }

  .grid-item {
    width: 100%;
  }

  .main-helper {
    width: calc(100% - 6.25vw);
  }

  .grid-plus {
    width: calc(100% / 2);
  }

  .add-mobile {
    bottom: calc(5vh + 70px);
  }

  .cdk-overlay-container {
    .cdk-global-overlay-wrapper {
      pointer-events: auto;
    }
  }
}

@media (max-width: 450px) {
  .light-tab,
  .dark-tab {
    .mat-tab-label {
      font-size: 1rem;
      height: 44px;
      padding: 0 0.5rem;
    }
  }
}

@media (max-width: 400px) {
  .add-mobile {
    width: 85px;
    height: 85px;

    .icon {
      font-size: 2.3rem;
    }
  }
}

@media (max-width: 330px) {
  .mat-tab-header {
    padding: 0 1.75rem;
  }
}

@media (max-width: 320px) {
  .add-mobile {
    bottom: calc(5vh + 65px);
  }
}
