@import "variables";


.filters {
    background-color: $dark-button;
    color: white;

    .inner-content {
        i::before {
            color: white;
        }
    }

    &:hover {
        background-color: #3d4049;
    }
}

.generic {
    position: relative;
    height: 30px;
    border: 0.8px solid transparent;
    padding: 0;
    outline: none;
    overflow: hidden;
    user-select: none;
    margin-right: 1rem;
    cursor: pointer;
    border-radius: 5px;

    .inner-content {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.75rem;
        font-size: 1rem;

        p {
            padding-right: 1rem;
            white-space: nowrap;
        }

        i {
            font-size: 0.75rem;

            &::before {
                transition: 0.2s color ease;
            }
        }
    }
}

.light {
    .generic {
        border-color: $light-button;
        background-color: white;
        color: $light-text-color;

        .inner-content {
            i::before {
                color: $light-text-color;
            }
        }

        &:hover {
            background-color: $light-nav-backlight;
        }
    }
}

@media (max-width: 1024px) {
    .generic {
        .inner-content {
            padding: 0;
            justify-content: center;

            i {
                font-size: 1rem;
            }

            p {
                display: none;
            }
        }
    }
    .filters {
        width: 54px;
    }
}


@media (max-width: 320px) {
    .generic {
        height: 26px;
        width: 26px;
        margin-right: 0.875rem;
        .inner-content {
            i {
                font-size: 0.875rem;
            }
        }
    }
    .filters {
        width: 40px;
    }
}