@import 'variables';

.interactions {
  display: flex;
  align-items: center;
  height: 100%;
}

.generic {
  position: relative;
  height: 30px;
  border: 0.8px solid;
  padding: 0;
  outline: none;
  overflow: hidden;
  user-select: none;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;

  .inner-content {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    font-size: 1rem;

    .icon {
      height: 13px;
      width: 13px;

      .mat-icon {
        display: flex;
      }
    }

    p {
      padding-right: 1rem;
      white-space: nowrap;
    }
  }
}

.generic-unfixed {
  min-width: 150px;
}

.light {
  .generic {
    border-color: $light-button;
    background-color: white;
    color: $light-text-color;

    .inner-content {
      .icon {
        color: $light-text-color;
      }
    }

    &:hover {
      background-color: $light-nav-backlight;
    }
  }
}

.dark {
  .generic {
    border-color: transparent;
    background-color: white;
  }

  .generic-2 {
    background-color: $dark-button;
    color: white;

    .inner-content {
      .icon {
        color: white;
      }
    }

    &:hover {
      background-color: #3d4049;
    }
  }
}

@media (max-width: 1320px) {
  .generic-unfixed {
    min-width: auto;
  }
}

@media (max-width: 1270px) {
  .generic {
    .inner-content {
      padding: 0;
      justify-content: center;

      .icon {
        height: 16px;
        width: 16px;
      }

      p {
        display: none;
      }
    }
  }

  .generic-2 {
    width: 54px;
  }

  .generic-create {
    width: 54px;
  }

  .generic-unfixed {
    min-width: auto;
  }
}

@media (max-width: 320px) {
  .generic {
    height: 26px;
    width: 26px;
    margin-right: 0.875rem;

    .inner-content {
      .icon {
        height: 14px;
        width: 14px;
      }
    }
  }

  .generic-2 {
    width: 40px;
  }
}
