@import 'variables';

.main-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-item {
  position: relative;
  display: flex;
  flex: 1;
  border-radius: 5px;
  margin: 0.125rem 1rem 0.125rem 0;
  padding: 0.25rem 0.375rem;
}

.block-generic {
  outline: none;
  width: 100%;
  z-index: 2;
  position: relative;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.default-text-size {
  font-size: 1.125rem;
}

.no-content-list {
  position: absolute;
  width: 100%;
  color: #6b6b6b;
  font-weight: 300;
}


.light {
  .block-generic {
    color: $text-color;
  }
}
