@import 'variables';

.main-container {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.block-generic {
  outline: none;
  width: 100%;
  z-index: 2;
  position: relative;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.default-text-size {
  font-size: 1.125rem;
}

.no-content-list {
  position: absolute;
  width: 100%;
  color: #6b6b6b;
  font-weight: 300;
}


.light {
  .block-generic {
    color: $text-color;
  }
}
