@import 'variables';

.main-container {
  border-radius: 5px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 100%;
}

.block-generic {
  outline: none;
  width: 100%;
  z-index: 2;
  position: relative;
}

.default-text-size {
  font-size: 1.125rem;
}

.no-content-list {
  position: absolute;
  width: 100%;
  color: #6b6b6b;
  font-weight: 300;
}

.action {
  position: absolute;
  display: flex;

  button[type='button'] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.625rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    padding: 0;
    border: 0;
    outline: none;
    transition: 0.15s ease;
    overflow: hidden;

    .mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dark {
  .action {
    button[type='button'] {
      background-color: $dark-button;
      color: white;

      &:hover {
        background-color: #3d4049;
      }
    }
  }
}

.light {
  .block-generic {
    color: $text-color;
  }
  .action {
    button[type='button'] {
      color: $text-color;
      background-color: #efefef;

      &:hover {
        background-color: #e4e4e4;
      }
    }
  }
}
