
.label-container, .background-section, .notes-section {
    .simplebar-wrapper {
        height: auto;
    }

    .simplebar-track.simplebar-vertical{
        width: 10px;
    }

    .simplebar-scrollbar::before {
        background-color: rgba(255,255,255, 0.4);
    }
}

.people-editing {
    .simplebar-wrapper {
        width: auto;

        .simplebar-content-wrapper {

            .simplebar-content {
                display: flex;
                align-items: center;
                height: inherit;
            }
        }
    }

    .simplebar-track.simplebar-horizontal{
        height: 7px;
    }

    .simplebar-scrollbar::before {
        background-color: rgba(255,255,255, 0.4);
    }
}

.content-inner {
    .simplebar-wrapper {
        width: auto;
        
        .simplebar-content {
            display: flex;
            flex-direction: column;
        }
    }

    .simplebar-scrollbar::before {
        background-color: rgba(255,255,255, 0.4);
    }
}

.light {
    .content-inner, .label-container, .notes-section, .people-editing {
        .simplebar-scrollbar::before {
            background-color: rgba(0,0,0, 0.3);
        }
    }
}

@media (max-width: 1440px) {
    .people-editing {
        .simplebar-wrapper {
    
            .simplebar-content-wrapper {
    
                .simplebar-content {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .people-editing {
        .simplebar-wrapper {
    
            .simplebar-content-wrapper {
    
                .simplebar-content {
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                }
            }
        }
    }
}