
.label-container, .background-section, .notes-section {
    .simplebar-wrapper {
        height: auto;
    }

    .simplebar-track.simplebar-vertical{
        width: 10px;
    }

    .simplebar-scrollbar::before {
        background-color: rgba(255,255,255, 0.4);
    }
}

.content-inner {
    .simplebar-wrapper {
        width: auto;
        
        .simplebar-content {
            display: flex;
            flex-direction: column;
        }
    }

    .simplebar-scrollbar::before {
        background-color: rgba(255,255,255, 0.4);
    }
}

.light {
    .content-inner, .label-container {
        .simplebar-scrollbar::before {
            background-color: rgba(0,0,0, 0.3);
        }
    }
}