//colors

$text-color: #202020;

//main app for dark theme

$dark-color: #26282d;
$dark-separator: #1f2024;
$light-separator: #e7e7e7;
$dark-button: #34373e;
$dark-backlight: #202125;
$dark-nav-backlight: #34373e;
$dark-search-submit: #363942;

//main app for light theme

$light-text-color: #404040;
$light-button: #959595;
$light-managment: #E2E2E2;
$light-color: #FAFAFA;
$light-theme-separator: #F5F5F5;
$light-nav-backlight: #F0F0F0;
$light-search: #F3F3F3;
$light-search-submit: #EBEBEB;
$light-managment-hover: #7B7B7B;
$light-cancel-label: #E7E7E7;
$light-billing-field: #F2F2F2;
$light-inner-color: #1F2125;

//labels color

$red-label: #FFCDCD;
$orange-label: #FFEBCD;
$yellow-label: #FFFDCD;
$light-green-label: #DDFFCD;
$green-label: #CDFFD8;
$light-blue-label: #CDFFFC;
$blue-label: #CDEEFF;
$dark-blue-label: #CDD5FF;
$purple-label: #EFCDFF;
$pink-label: #FFCDF4;

//notes color

$red-note: #FFEBEB;
$orange-note: #FFF5EB;
$yellow-note: #FFFFEB;
$green-note: #EBFFEC;
$light-blue-note: #EBFEFF;
$blue-note: #EBF8FF;
$purple-note: #F7EBFF;
$pink-note: #FFEBF9;
$light-note: #F8F8F8;

//notes help color

$highlighting-note: rgba(101, 226, 113, 0.65);
$unhighlighting-note: rgba(175, 175, 175, 0.3);
$note-label-color: #606060;

//inner note

$header-small-note: #2A2D32;
$header-small-note-icon: #D8D8D8;
$header-small-note-icon-light: #666666;
$header-small-note-light: #EAEAEA;

//convert

@function get-color($name) {
    @return '$name';
}

//mixin 

@mixin text-overflow {
    width: 100%;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

