@import 'variables';


.mail-notification {
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .interaction-mail {
    display: flex;
    width: 100%;
    padding: 0 1.125rem 1rem 1.125rem;

    .interaction-buttons {
      display: flex;
      flex-direction: column;
      width: 100%;

      .send-button {
        position: relative;
        height: 32px;
        border: 0.8px solid transparent;
        padding: 0;
        outline: none;
        overflow: hidden;
        user-select: none;
        cursor: pointer;
        border-radius: 5px;
        background: linear-gradient(97.88deg, #0083bb 0%, #00afe7 100%);
        margin-top: 0.5rem;

        .content-button {
          position: relative;
          z-index: 5;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 0.75rem;
          font-size: 1rem;
          color: white;
        }
      }

      .dropdown-button {
        width: 100%;
        height: 32px;
        margin-bottom: 10px;
      }
    }
  }
}
