<div
  *ngIf="loaded"
  class="grid"
  [ngStyle]="{'opacity': folderService.murriService.flagForOpacity ? '1' : '0'}"
>
  <div
    #item
    class="grid-item"
    [id]="item.id"
    *ngFor="let item of folderService.entities"
    [ngClass]="[(fontSize$ | async) === fontSize.Big ? 'big-size' : '']"
  >
    <app-folder
      [date]="item.deletedAt"
      [userId]="(user$ | async).id"
      [tooltipDateMessage]="'entity-bottom-tooltip.deleted'"
      [folder]="item"
      [isSelected]="folderService.getIsSelected(item.id)"
      [isSelectedMode]="folderService.isAnySelected"
    ></app-folder>
  </div>
</div>
<app-no-results-illustration
  *ngIf="loaded && ((deletedCount$ | async) ? false : true)"
  [isShow]="loaded && ((deletedCount$ | async) ? false : true)"
  [message]="'noResult.deletedFolders' | translate"
  [illustration]="pService.icon.deletedFolderIllustration"
  typeClass="type-module"
></app-no-results-illustration>
