<div appTheme>
  <button
    type="button"
    (click)="clickHandler()"
    class="generic"
    [ngClass]="[styleClasses, isClassOnSize ? classOnSize : '']"
    #buttonRipple
    CustomTooltip="{{tooltipMessage}}"
    position="{{tooltipPosition}}"
  >
    <div class="inner-content">
      <p *ngIf="isActiveMessage">{{message}}</p>
      <div *ngIf="iconClass" class="icon">
        <mat-icon *ngIf="!isDefault" [svgIcon]="iconClass" [inline]="true"></mat-icon>
        <mat-icon *ngIf="isDefault" [inline]="true">{{iconClass}}</mat-icon>
      </div>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="buttonRipple"></div>
  </button>
</div>
