<div appTheme>
  <button
    type="button"
    (click)="clickHandler()"
    class="generic"
    [ngClass]="styleClasses"
    #buttonRipple
    CustomTooltip="{{tooltipMessage}}"
    position="{{tooltipPosition}}"
  >
    <div class="inner-content">
      <p *ngIf="message?.length > 0">{{message}}</p>
      <div *ngIf="iconClass" class="icon">
        <mat-icon [svgIcon]="iconClass" [inline]="true"></mat-icon>
      </div>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="buttonRipple"></div>
  </button>
</div>
