@import 'header-components';

:host {
  display: flex;
}

.filter {
  width: 30px;

  .inner-content {
    justify-content: center;
    padding: 0;

    .icon {
      display: flex;
    }
  }
}

.hide-tag-text {
  min-width: auto;
  .inner-content {
    p {
      display: none;
    }
  }
}

.history {
  width: auto;
  margin-right: 0;
  margin-left: auto;
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 2.5rem;
  .inner-content {
    p {
      padding-right: 0;
    }
  }
}

.manage-notes {
  .inner-content {
    padding: 0 0.75rem;
    p {
      padding-right: 0;
      display: block;
    }
  }
}

.profile-default {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner-content {
    p {
      padding-right: 0;
      display: block;
    }
  }
}

.rotate {
  // TODO CHANGE
  .icon {
    transform: rotate(45deg);
  }
}

.more_vert {
  margin-right: 0px;
  width: 28px;
  display: none;

  .inner-content {
    .icon {
      display: flex;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 1320px) {
  .history {
    margin-left: initial;
    margin-right: 2rem;
  }
}

@media (max-width: 1024px) {
  .history {
    display: none;
  }

  .more_vert {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .generic-create {
    display: none;
  }

  .profile-create {
    width: 54px;
  }

  .profile-default {
    margin-right: 0;
    .inner-content {
      padding: 0 0.75rem;
    }
  }
}

@media (max-width: 600px) {
  .profile-default {
    .inner-content {
      padding: 0 0.5rem;
    }
  }
}
