@import 'variables';

.interactions {
  display: flex;
  align-items: center;
  height: 100%;

  .auxiliary-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 1.375rem;
    font-size: 1.375rem;
    transition: 0.2s ease;
    cursor: pointer;

    .icon {
      position: relative;
      z-index: 5;
      width: 1.375rem;
      height: 1.375rem;
      transition: 0.2s ease;
    }
  }

  .search-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;

    .search {
      position: relative;
      z-index: $header-search;
      display: flex;
      height: 30px;
      border-radius: 5px;
      transition: 0.2s ease;

      input[type='search']:not(:placeholder-shown) ~ button[type='button'] {
        cursor: pointer;
      }

      input[type='search'] {
        height: 100%;
        width: 165px;
        border-radius: 5px 0 0 5px;
        padding: 0;
        padding-left: 0.625rem;
        font-size: 0.875rem;
        user-select: none;
        background: none;
        outline: none;
        border: 1px solid;
        color: #a8a8a8;
        transition: 0.2s ease;

        &:focus {
          width: 200px;
        }
      }

      button[type='button'] {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 35px;
        border: 0;
        user-select: none;
        outline: none;
        border-radius: 0 5px 5px 0;
        cursor: not-allowed;
        overflow: hidden;
        transition: 0.2s ease;

        .icon {
          display: flex;
          width: 16px;
          height: 16px;
          transition: 0.2s ease;

          .mat-icon {
            display: flex;
          }
        }
      }
    }

    .search-suggestion {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 2.5rem 0 0.25rem 0;

      .results {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 0.25rem;
      }
    }
  }
}

.inner-menu {
  .search {
    display: none;
  }
}

.light {
  .search-section {
    .search {
      input[type='search'] {
        background-color: $light-search;
        border-color: #cacaca;
      }

      button[type='button'] {
        background-color: $light-search-submit;

        .icon {
          color: $light-managment-hover;
        }
      }
    }
  }

  .auxiliary-icon {
    .icon {
      color: #c5c5c5;
    }

    &:hover {
      background-color: $light-nav-backlight;

      .icon {
        color: $light-managment-hover;
      }
    }
  }
}

.dark {
  .active-search {
    .search {
      input[type='search'] {
        background-color: white;
        color: #6d6d6d;
        border-color: #dedede;
      }

      button[type='button'] {
        background-color: $light-search-submit;

        .icon {
          color: #8c8c8c;
        }
      }
    }
  }

  .search-section {
    .search {
      input[type='search'] {
        background-color: $dark-backlight;
        border-color: $dark-backlight;

        &:hover {
          border-color: #414248;
        }
      }

      button[type='button'] {
        background-color: $dark-search-submit;

        .icon {
          color: #d8d8d8;
        }
      }
    }
  }

  .auxiliary-icon {
    .icon {
      color: #e3e3e3;
    }
    &:hover {
      background-color: $dark-button;

      .icon {
        color: white;
      }
    }
  }
}

.light,
.dark {
  .active-search {
    .search {
      input[type='search'] {
        background-color: white;
        color: #6d6d6d;
        border-color: #b5b5b5;

        &:hover {
          border-color: #afafaf;
        }
      }

      button[type='button'] {
        background-color: lighten($color: $light-search-submit, $amount: 4%);

        .icon {
          color: darken($color: $light-managment-hover, $amount: 10%);
        }
      }
    }

    .search-suggestion {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      background-color: white;
    }
  }
}

@media (max-width: 1600px) {
  .help-func {
    .search {
      display: none;
    }
    .auxiliary-icon:nth-child(2) {
      margin-left: 0;
    }
  }
}

@media (max-width: 1100px) {
  .help-func {
    display: none;
  }
}

@media (max-width: 1024px) {
  .interactions {
    .auxiliary-icon {
      margin-left: 1rem;
    }

    .auxiliary-icon:nth-child(2) {
      margin-left: 1rem;
    }
  }

  .help-func {
    display: flex;

    .search {
      display: flex;
    }
  }

  .dark {
    .auxiliary-icon {
      .icon {
        color: white;
      }
    }
  }
}

@media (max-width: 600px) {
  .interactions {
    .search-section {
      padding: 0;
      height: 30px;

      .search {
        height: inherit;
        width: auto;

        input[type='search'] {
          width: calc(100% - 30px);
          max-width: 0;
          padding-left: 0;
          border: none;

          &:focus {
            width: calc(100% - 30px);
          }
        }

        button[type='button'] {
          width: 30px;
          border-radius: 5px;
          cursor: pointer;
          background-color: transparent;

          .icon {
            font-size: 1.375rem;
            width: 1.375rem;
            height: 1.375rem;
            color: white;
          }
        }
      }
    }

    .active-search {
      width: auto;
      position: fixed;
      left: 0;
      margin-right: 3.125%;
      margin-left: calc(3.125% + 46px);
      width: calc(100% - 6.25% - 46px);
      z-index: 7;
      padding: 0.25rem;

      .search {
        input[type='search'] {
          width: calc(100% - 35px);
          max-width: initial;
          padding-left: 0.625rem;
          border: 1px solid;
        }

        button[type='button'] {
          border-radius: 0 5px 5px 0;
          width: 35px;
          background-color: lighten($color: $light-search-submit, $amount: 4%);

          .icon {
            width: 16px;
            height: 16px;
            color: darken($color: $light-managment-hover, $amount: 10%);
          }
        }
      }
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

@media (max-width: 400px) {
  .help-func {
    .auxiliary-icon {
      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }
}

@media (max-width: 320px) {
  .interactions {
    .search-section {
      height: 26px;

      .search {
        input[type='search'] {
          width: calc(100% - 26px);
        }

        button[type='button'] {
          padding: 0;
          width: 26px;

          .icon {
            font-size: 1.25rem;
          }
        }
      }
    }

    .active-search {
      margin-left: calc(3.125% + 40px);
      width: calc(100% - 6.25% - 40px);

      .search {
        input[type='search'] {
          width: calc(100% - 30px);
        }

        button[type='button'] {
          width: 30px;

          .icon {
            font-size: 0.875rem;
          }
        }
      }
    }

    .auxiliary-icon {
      width: 26px;
      height: 26px;
      font-size: 1.25rem;
      margin-left: 0.875rem;
    }
  }
}
