<div
  appTheme
  class="interactions"
  [ngClass]="[((menuActiveNotes$ | async) || (menuActiveFolders$ | async)) ? 'help-func' : '', (isNoteInner$ | async) ? 'inner-menu' : '']"
>
  <div class="search-section" #search [ngClass]="isInputFocus ? 'active-search' : ''">
    <div class="search">
      <input
        #searchInput
        (focus)="isInputFocus = true"
        (blur)="unFocusSearch()"
        type="search"
        placeholder="{{ 'header.search' | translate }}"
        aria-label="Search"
      />
      <button type="button" name="search button" #searchButton (click)="searchData()">
        <div class="icon">
          <mat-icon svgIcon="search" [inline]="true"></mat-icon>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="searchButton"></div>
      </button>
    </div>
    <div class="search-suggestion" *ngIf="isInputFocus">
      <app-search-result
        #searchResult
        [type]="'notes'"
        [results]="[1, 2, 3]"
        (click)="check(searchResult)"
      ></app-search-result>
      <app-search-result [type]="'folders'" [results]="[1, 2, 3]"></app-search-result>
    </div>
  </div>

  <div
    CustomTooltip="{{ 'header.theme' | translate }}"
    position="Bottom"
    class="auxiliary-icon"
    (click)="toggleTheme()"
    *ngIf="pService.check()"
    #themeApp
  >
    <div class="icon">
      <mat-icon svgIcon="themeLight" [inline]="true"></mat-icon>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="themeApp"></div>
  </div>

  <div
    CustomTooltip="{{ 'header.questions' | translate }}"
    position="Bottom"
    class="auxiliary-icon"
    *ngIf="pService.check()"
    #question
  >
    <div class="icon">
      <mat-icon svgIcon="question" [inline]="true"></mat-icon>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="question"></div>
  </div>

  <div
    CustomTooltip="{{ 'header.notification' | translate }}"
    position="Bottom"
    class="auxiliary-icon"
    (click)="isOpenNotification = !isOpenNotification"
    *ngIf="!pService.check()"
    #notificationHeader
    cdk-overlay-origin
    #origin="cdkOverlayOrigin"
  >
    <div class="icon">
      <mat-icon svgIcon="notification" [inline]="true"></mat-icon>
    </div>
    <div *ngIf="(notificationCount$ | async) > 0" class="push">{{notificationCount$ | async}}</div>
    <div class="ripple-container" matRipple [matRippleTrigger]="notificationHeader"></div>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="origin"
      [cdkConnectedOverlayOpen]="isOpenNotification"
      [cdkConnectedOverlayHasBackdrop]="true"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayPositions]="positions"
      (backdropClick)="closeNotification()"
    >
      <app-notification
        [@notification]
        (oncloseNotification)="closeNotification()"
      ></app-notification>
    </ng-template>
  </div>

  <div
    CustomTooltip="{{ 'header.orientation' | translate }}"
    position="Bottom"
    class="auxiliary-icon"
    (click)="toggleOrientation()"
    *ngIf="(isProfile$ | async) === false && !pService.check()"
    #orientationNote
  >
    <div class="icon">
      <mat-icon svgIcon="viewChange" [inline]="true"></mat-icon>
    </div>
    <div class="ripple-container" matRipple [matRippleTrigger]="orientationNote"></div>
  </div>
</div>
