<div appTheme class="text-color-item" [ngClass]="{ 'expand-left-section': isBackground }" (click)="setColor($event)">
  <div class="preview-container">
    <ng-container *ngIf="isDefault">
      <div class="default-container">
        <p class="default-text">{{ name }}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="!isDefault">
      <div [ngStyle]="{ backgroundColor: getColor(color) }"
        [ngClass]="[isBackground ? 'preview-icon': 'preview-icon-text']"></div>
      <div [ngStyle]="{ backgroundColor: color }" class="preview-expand-container"></div>
      <p class="text-color" [ngStyle]="{'color': hoverText && !isBackground ? getColorText(color) : null}">
        {{ name }}
      </p>
    </ng-container>
  </div>
</div>