<header>
  <div class="content">
    <div routerLink="/notes" class="logo">
      <img alt="Noots logo" [src]="'./assets/icons/svg/' + logoName + '.svg'" />
    </div>
    <div class="search">
      <input
        #searchInput
        type="search"
        [placeholder]="'header.search' | translate"
        aria-label="Search"
        [(ngModel)]="search"
        (change)="clearSearch()"
      />
      <button type="button" name="search button" #searchButton (click)="match()">
        <div class="icon">
          <mat-icon svgIcon="search" [inline]="true"></mat-icon>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="searchButton"></div>
      </button>
    </div>
  </div>
</header>
<div class="main-content">
  <div class="content">
    <div class="chips">
      <button type="button" class="chip chip-question" #chipButton1 (click)="contactUs()">
        <div class="icon">
          <mat-icon [inline]="true">question_mark</mat-icon>
        </div>
        <div class="text">
          <p>Take a second and ask your question</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="chipButton1"></div>
      </button>
      <button type="button" class="chip chip-guide" #chipButton2>
        <div class="icon">
          <mat-icon [inline]="true">school</mat-icon>
        </div>
        <div class="text">
          <p>Guidlines and best practices how use Noots</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="chipButton2"></div>
      </button>
      <button type="button" class="chip chip-article" #chipButton3>
        <div class="icon">
          <mat-icon [inline]="true">feed</mat-icon>
        </div>
        <div class="text">
          <p>Our articles</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="chipButton3"></div>
      </button>
      <button type="button" class="chip chip-subscribe" #chipButton4>
        <div class="icon">
          <mat-icon [inline]="true">shopping_bag</mat-icon>
        </div>
        <div class="text">
          <p>Subscribe to Noots</p>
        </div>
        <div class="ripple-container" matRipple [matRippleTrigger]="chipButton4"></div>
      </button>
    </div>
    <div class="title">
      <h1>Frequency asked questions</h1>
    </div>
    <div class="list">
      <app-faq-list-item *ngFor="let item of items" [isMatched]="matchedIds.includes(item.id)">
        <p title>{{ item.title }}</p>
        <p description>{{ item.description }}</p>
      </app-faq-list-item>
    </div>
  </div>
</div>
