:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.related-notes-scroll-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  .related-notes-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .related-note-container {
      padding: 10px 20px 10px 20px;
    }
  }
}

.bottom-container {
  display: flex;
}

.bottom-container {
  padding: 1.5rem 2.25rem 1.25rem 2.25rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  background-color: #1F2125;

  .main-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
