<div class="wrapper">
    <div class="wrapper-label">
        <div class="header-label">
            <p>Labels</p>
        </div>
        <div class="header-new-label">
            <img src="assets/plusLabel.svg" class="size-image-plus">
            <p class="margin-add">Add new label</p>
        </div>
        <div class="many-label">
            <div class="default-label">
                <div class="label-field" [ngStyle]="{backgroundColor: h1color}">
                    <input class="text-label" [ngStyle]="{'backgroundColor': h1color , 'border-color': h1color}"
                        placeholder="Name your label...">
                    <div class="options-label">
                        <img src="assets/buttonList.svg" class="image-options" (click)="update=!update"
                            (click)="changeIcon()">
                        <div class="note-info-line"></div>
                        <img src="assets/buttonCancel.svg" class="image-options">
                    </div>
                </div>
                <ul class="hidden-colors" *ngIf="update" [@slideInOut]>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('firstLi')" id="firstLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('secondLi')" id="secondLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('thirdLi')" id="thirdLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('fourthLi')" id="fourthLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('fifthLi')" id="fifthLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sixLi')" id="sixLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sevenLi')" id="sevenLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('eithLi')" id="eithLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('nineLi')" id="ninehLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('tenLi')" id="tenLi"></li>
                </ul>
            </div>
            <div class="default-label">
                <div class="label-field" [ngStyle]="{backgroundColor: h1color}">
                    <input class="text-label" [ngStyle]="{'backgroundColor': h1color , 'border-color': h1color}"
                        placeholder="Name your label...">
                    <div class="options-label">
                        <img src="assets/buttonList.svg" class="image-options" (click)="update=!update"
                            (click)="changeIcon()">
                        <div class="note-info-line"></div>
                        <img src="assets/buttonCancel.svg" class="image-options">
                    </div>
                </div>
                <ul class="hidden-colors" *ngIf="update" [@slideInOut]>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('firstLi')" id="firstLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('secondLi')" id="secondLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('thirdLi')" id="thirdLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('fourthLi')" id="fourthLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('fifthLi')" id="fifthLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sixLi')" id="sixLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sevenLi')" id="sevenLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('eithLi')" id="eithLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('nineLi')" id="ninehLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('tenLi')" id="tenLi"></li>
                </ul>
            </div>
            <div class="default-label">
                <div class="label-field" [ngStyle]="{backgroundColor: h1color}">
                    <input class="text-label" [ngStyle]="{'backgroundColor': h1color , 'border-color': h1color}"
                        placeholder="Name your label...">
                    <div class="options-label">
                        <img src="assets/buttonList.svg" class="image-options" (click)="update=!update"
                            (click)="changeIcon()">
                        <div class="note-info-line"></div>
                        <img src="assets/buttonCancel.svg" class="image-options">
                    </div>
                </div>
                <ul class="hidden-colors" *ngIf="update" [@slideInOut]>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('firstLi')" id="firstLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('secondLi')" id="secondLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('thirdLi')" id="thirdLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('fourthLi')" id="fourthLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('fifthLi')" id="fifthLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sixLi')" id="sixLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sevenLi')" id="sevenLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('eithLi')" id="eithLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('nineLi')" id="ninehLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('tenLi')" id="tenLi"></li>
                </ul>
            </div>
            <div class="default-label">
                <div class="label-field" [ngStyle]="{backgroundColor: h1color}">
                    <input class="text-label" [ngStyle]="{'backgroundColor': h1color , 'border-color': h1color}"
                        placeholder="Name your label...">
                    <div class="options-label">
                        <img src="assets/buttonList.svg" class="image-options" (click)="update=!update"
                            (click)="changeIcon()">
                        <div class="note-info-line"></div>
                        <img src="assets/buttonCancel.svg" class="image-options">
                    </div>
                </div>
                <ul class="hidden-colors" *ngIf="update" [@slideInOut]>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('firstLi')" id="firstLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('secondLi')" id="secondLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('thirdLi')" id="thirdLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('fourthLi')" id="fourthLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('fifthLi')" id="fifthLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sixLi')" id="sixLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('sevenLi')" id="sevenLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('eithLi')" id="eithLi"></li>
                    <li class="hidden-color-element margin-colors" (click)="changeColor('nineLi')" id="ninehLi"></li>
                    <li class="hidden-color-element" (click)="changeColor('tenLi')" id="tenLi"></li>
                </ul>
            </div>
        </div>
    </div>
</div>