$label-color: #EFCDFF

div
    display: flex
.wrapper
    width: 100%
    justify-content: center
.wrapper-label
    margin-top: 20px
    width: 880px
    flex-direction: column
    .header-label
        font-size: 40px
        color: #B8B8B8
        font-weight: 900
    .header-new-label
        flex-direction: row
        align-items: center
        color:#B8B8B8
        font-size: 30px
        font-weight: 900
        margin-top: 10px
        .size-image-plus
            width: 30px
        .margin-add
            margin-left: 10px
        &:hover
            cursor: pointer
            
    .many-label
        flex-direction: row
        justify-content: flex-start
        flex-wrap: wrap
        margin-top: 10px

@media only screen and (min-width: 1200px) //desktop

@media (min-width: 992px) and  (max-width: 1199px) //laptop
    .wrapper-label
        width: 680px
        margin-top: 10px
        .header-label
            font-size: 35px
        .header-new-label
            font-size: 25px
            margin-top: 5px
            .size-image-plus
                width: 25px
        .many-label
            margin-top: 5px

@media only screen and (min-width: 768px) and (max-width: 991px) //tablet
    .wrapper-label
        width: 380px
        margin-top: 10px
        .header-label
            font-size: 35px
        .header-new-label
            font-size: 25px
            margin-top: 5px
            .size-image-plus
                width: 25px
        .many-label
            flex-direction: column
            margin-top: 0px

@media (min-width: 480px) and (max-width: 767px) //large phone
    .wrapper-label
        width: 380px
        margin-top: 10px
        .header-label
            font-size: 35px
        .header-new-label
            font-size: 25px
            margin-top: 5px
            .size-image-plus
                width: 25px
        .many-label
            flex-direction: column
            margin-top: 0px

@media (min-width: 320px) and (max-width: 479px) //phone
    .wrapper-label
        width: 290px
        margin-top: 10px
        .header-label
            font-size: 30px
        .header-new-label
            font-size: 20px
            margin-top: 10px
            .size-image-plus
                width: 20px
        .many-label
            flex-direction: column
            margin-top: 5px

@media (min-width: 150px) and (max-width: 319px) //min width
    .wrapper-label
        width: 240px
        margin-top: 10px
        .header-label
            font-size: 30px
        .header-new-label
            font-size: 20px
            margin-top: 10px
            .size-image-plus
                width: 20px
        .many-label
            flex-direction: column
            margin-top: 5px
