.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #202125;
  border-radius: 5px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%),
    0px 1px 18px 0px rgb(0 0 0 / 12%);

  .message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2d32;
    height: 40px;
    padding: 0 0.875rem;

    .buttons {
      display: flex;
      justify-content: space-between;

      .detail-view {
        margin-right: 10px;
      }

      .mini-spinner {
        position: relative;
        margin-right: 20px;
      }

      .icon {
        transition: 0.2s ease;
        cursor: pointer;
      }
    }
  }

  .operations-container {
    padding: 0 0.875rem;

    .progress-item {
      height: 50px;
      display: flex;
      justify-content: space-between;

      .left-section {
        display: flex;
        align-items: center;
        width: calc(100% - 110px);

        .nowrap {
          clear: both;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inherit;
        }

        .name {
          font-size: 0.875rem;
          margin-left: 16px;
        }
      }

      .right-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;

        .procent {
          font-size: 0.875rem;
          margin-right: 0.25rem;
        }

        .spinner-container {
          width: 20px;
          height: 100%;
          margin-right: 1.25rem;
          position: relative;
        }

        .cancel-button {
          cursor: pointer;
          width: 30px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          background-color: #34373e;

          .icon {
            display: flex;
            height: 14px;
            width: 14px;
          }
        }
      }
    }
  }

  .icon {
    display: flex;
    height: 16px;
    width: 16px;
  }
}

.light {
  background-color: white;
  color: #404040;
  .message-header {
    background-color: #f2f2f2;
  }
  .operations-container{
      .progress-item{
          .right-section{
              .cancel-button{
                background-color: initial;
              }
          }
      }
  }
}
