@import 'variables';

:host {
  width: auto;
}

.note {
  font-size: 1rem;
  width: calc(100% - 2.25rem);
  margin: 0.875rem 1.125rem 0 1.125rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: $text-color;
  cursor: pointer;

  p {
    @include text-overflow;
  }

  .empty-placeholder {
    color: #808080;
  }

  &:last-child {
    margin-bottom: 0.875rem;
  }
}

@media (max-width: 1024px) {
  .background,
  .note {
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
  }
}
