<app-left-section-wrapper [isProfileActive]="true">
  <ng-container *ngIf="notesLink?.length > 0">
    <ng-scrollbar [visibility]="'hover'" [appearance]="'compact'" [autoHeightDisabled]="true">
      <div
        class="note"
        *ngFor="let note of notesLink"
        [ngStyle]="{ backgroundColor: note.color }"
        (click)="notesService.toNote(note)"
      >
        <p *ngIf="note.title && note.title.length > 0">{{ note.title }}</p>
        <p *ngIf="!note.title" class="empty-placeholder">
          {{ 'placeholder.unnamedNote' | translate }}
        </p>
        <div class="lock-container" [ngStyle]="{ backgroundColor: note.color }">
          <mat-icon *ngIf="note.isLockedNow" svgIcon="lock"></mat-icon>
        </div>
      </div>
    </ng-scrollbar>
  </ng-container>
</app-left-section-wrapper>
