<app-left-section-wrapper [isProfileActive]="true">
  <ng-container *ngIf="notesLink?.length > 0">
    <ng-scrollbar [visibility]="'hover'" [appearance]="'compact'" [autoHeightDisabled]="true">
      <div
        class="note"
        *ngFor="let item of notesLink"
        [ngStyle]="{ backgroundColor: item.color }"
        (click)="notesService.toNote(item)"
      >
        <p *ngIf="item.title && item.title.length > 0">{{ item.title }}</p>
        <p *ngIf="!item.title" class="empty-placeholder">
          {{ 'placeholder.unnamedNote' | translate }}
        </p>
      </div>
    </ng-scrollbar>
  </ng-container>
</app-left-section-wrapper>
